.container {
    background-color: #fff;
}

.stickyTop {
    position: sticky;
    top: 0px;
    z-index: 3;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.8);
    transition: all 0.3s ease;
}

.optbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 16px;
    transition: all 0.5s ease;

    &.btns {
        background-color: var(--ion-color-light-tint);
        justify-content: flex-start;
        margin: 16px 0px 0;
        padding: 0px 16px;
        border-radius: 100px;
        transition: all 0.3s ease;
    }

    & ion-button {
        --box-shadow: none;
        text-transform: capitalize;
        min-height: 32px;
        transition: all 0.3s ease;
    }

    & ion-chip.chipBtn {
        justify-content: space-evenly;
        transition: all 0.3s ease;

        &.filled {
            background: rgba(var(--ion-color-base-rgb));
            color: var(--ion-color-light-tint);
            transition: all 0.3s ease;
        }
    }

    & ion-item {
        --min-height: 30px;
        --background: var(--ion-color-light);
        border-radius: 50px;
        flex: 1 1 100%;
        transition: all 0.3s ease;

        & .startIcon {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 10px;
        }

        & ion-input {
            min-height: 40px;
            outline: none;
            border: none;
            font-size: 14px;
            --highlight-color-valid: var(--ion-color-tertiary);
        }
    }
}

.dateSelectionList {
    & ion-item {
        --background: #c8ccff;
    }
}

.list-item {
    --ripple-color: var(--ion-color-primary-tint);

    // & .employee_img {
    //     width: 50px;
    //     height: 50px;
    // }
}

.employee_data {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;

    & .role {
        color: var(--ion-color-primary);
    }
}

ion-list-header ion-label {
    font-weight: 600;
    line-height: 1.5;
    font-size: 1rem;
}

.check_container {
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    z-index: 1;
}

.custom_checkbox {
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 0;
    left: 0;
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    & span {
        width: 45%;
        height: 12px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(-40deg);
        transform-origin: center;
    }
}

.sendPayBtn {
    text-transform: capitalize;
}

.footer {
    position: sticky;
    bottom: 0;
    padding: 5px 10px;
    background-color: #fff;
    z-index: 1;
}

.custom-arrow-button {
  --background: transparent;
  --box-shadow: none;
  --color: transparent; // Removes any default icon color
  padding: 0; // optional: remove extra padding
}

.arrow-icon {
  color: gray; // or use a specific blue: #007bff, var(--ion-color-primary), etc.
  font-size: 20px; // optional: control size
}
