.container {
    padding: 20px 0px;
}
.row_one {
    row-gap: 10px;
    margin-left: -5px; margin-right: -5px;
}
.submitBtn {
    height: 45px;
    font-weight: 600;
    font-size: 1rem;
    margin: 10px;
}

.img-div {
    position: relative;
    min-height: 50px;
    padding: 32px;
    
    & .img-container{
        position: relative;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 50%;
        width: 100%;
        max-width: 120px;
        box-shadow: 0px 0px 0 5px rgba(255, 255, 255, 0.9);
        position: absolute;
        z-index: 1;
        top: 10px;

        & app-name-img, & ion-img {width: 100%;}
    }

    & img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    & .camera_btn {
        display: grid;
        place-items: center;
        padding: 5px;
        background-color: #fff;
        border-radius: 50px;
        width: 35px;
        height: 35px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 5px;
        border: 2px solid var(--ion-color-medium);
    }
}

.card_header {
    flex-direction: row;
    gap: 10px;
     
    & ion-card-title{margin-top: 5px;}

    & ion-button {
        align-self: flex-start;
        margin: 0 -10px 0 auto;
        width: 40px;
        --padding-end: 0;
        --padding-start: 0;
    }
}

.social_items {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    column-gap: 10px;

    & .social_icons{
        width: 55px;
        height: 55px;
        border-radius: 0.5rem;
        color: var(--ion-color-light);
        display: flex;
        align-items: center;
        justify-content: center;

        &.linkedin {background-color: #0076B2;}
        &.fb {background-color: #1877F2;}
        &.twitter {background-color: #1DA1F2;}
    }

    & ion-input{max-width: calc(100% - 65px);}
}

ion-list-header {
    color: var(--color-blue-gray);
    & ion-label {
        & h2{
            font-size: 20px;
            font-weight: bold;
        }
        & ion-note {
            font-size: 12px;
        }
    }
}
.list_flex{
    display: flex;
    flex-wrap: wrap;
    & .listItem{
        flex: 1 1 calc(475px - 32px);
        // max-width: calc(575px - 32px);
        width: 100%;

    }
}

ion-list.personalInfoList {
    padding-top: 70px;
}
ion-item-group.deactive {opacity: 0.5; pointer-events: none; user-select: none;}
ion-card {
    border-radius: 10px;
    margin-inline: 16px;
    box-shadow: none;
}

ion-footer {background-color: #fff;}