<div *ngIf="employee" class="ion-margin-bottom">
  <form [formGroup]="salarySetupForm" (ionChange)="calculateTotal();" (ionInput)="calculateTotal()" class="ion-padding">
    <ion-row class="form_row">
      <ion-col size="12" sizeSm="6">
        <div class="form-input" (click)="openCalendar1 = true">
          <ion-input labelPlacement="floating" fill="outline" placeholder="Effective Date" class="flex_input" [value]="getValue('effectiveDate') | date" [readonly]="true" [pattern]="'date'" [name]="'effectiveDate'">
            <div slot="label">Effective Date <ion-text color="danger">*</ion-text></div>
          </ion-input>

          <div class="toggleBtn">
            <ion-button mode="md" slot="end" fill="clear">
              <ion-icon name="calendar-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>

      <ion-col size="12" sizeSm="6">
        <div class="form-input">
          <ion-input labelPlacement="floating" fill="outline" placeholder="Last Increment Date" class="flex_input" [value]="getValue('lastIncrementDate') | date" [readonly]="true" [pattern]="'date'" [name]="'elastIncrementDate'" [disabled]="true">
            <div slot="label">Last Increment Date</div>
          </ion-input>
        </div>
      </ion-col>
    </ion-row>

    
    <fieldset>
      <legend>CTC</legend>
      <ion-row class="form_row">
        <ion-col size="12" sizeMd="6">
          <div class="form-input">
            <ion-input type="number" labelPlacement="floating" fill="outline" placeholder="Current CTC" [value]="previousSalary" min="0" [readonly]="true" [step]="100">
              <div slot="label">Current CTC</div>
            </ion-input>
          </div>
        </ion-col>

        <ion-col size="12" sizeMd="6">
          <div class="form-input">
            <ion-input type="number" labelPlacement="floating" fill="outline" placeholder="Revise Salary" formControlName="current_ctc" [required]="true" [min]="0" [enterkeyhint]="'next'" [inputmode]="'decimal'" [step]="100">
              <div slot="label">Revise Salary <ion-text color="danger">*</ion-text></div>
            </ion-input>
          </div>
          <ion-text color="danger" class="error_txt" *ngIf="salarySetupForm.controls['current_ctc'].touched && salarySetupForm.controls['current_ctc'].errors">CTC is required</ion-text>
        </ion-col>

        <ion-col size="12" sizeMd="6">
          <div class="form-input">
            <ion-input type="number" labelPlacement="floating" fill="outline" placeholder="Hike in %" formControlName="increment" [readonly]="true">
              <div slot="label">Hike in %</div>
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
    </fieldset>
    
    <fieldset>
      <legend>Advance</legend>
      <ion-row class="form_row">
        <ion-col size="12" sizeMd="6">
          <div class="form-input">
            <ion-input type="number" labelPlacement="floating" fill="outline" placeholder="Advance" formControlName="advanceSalary" min="0" [enterkeyhint]="'next'" [inputmode]="'decimal'" [step]="100">
              <div slot="label">Advance Salary</div>
            </ion-input>
          </div>
        </ion-col>

        <ion-col size="12" sizeMd="6">
          <div class="form-input">
            <ion-input type="number" labelPlacement="floating" fill="outline" placeholder="Deduction" formControlName="deductionAmount" min="0" [enterkeyhint]="'next'" [inputmode]="'decimal'" [step]="100">
              <div slot="label">Deduction Amount</div>
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
    </fieldset>

    <ion-row class="form_row">
      <!-- <ion-col size="12">
        <div class="sub_total ion-padding-horizontal">
          <div>
            <ion-label>Calculated Value</ion-label>
          </div>
          <div *ngIf="calculatedValue > 0">
            <ion-label>{{calculatedValue | currency:'INR'}}</ion-label>
          </div>
        </div>
      </ion-col> -->

      <ion-col size="12">
        <ion-button mode="md" [expand]="'full'" class="submitBtn" shape="round" [disabled]="salarySetupForm.invalid || salarySetupForm.controls['current_ctc'].value < 1 || isInProcess" (click)="submit()">Submit</ion-button>
      </ion-col>
    </ion-row>

    <ion-modal [isOpen]="openCalendar1" mode="md" [keepContentsMounted]="true" #effectiveDateModal (ionModalDidDismiss)="openCalendar1 = false" [initialBreakpoint]="0.65">
      <ng-template>
        <ion-content>
          <ion-datetime [preferWheel]="true" [presentation]="'date'" mode="md" [size]="'cover'" [showDefaultTitle]="true" #effectiveDate [max]="maxDate.toISOString()" (ionChange)="setEffectiveDate($any($event))">
            <ion-label slot="title">Select Effective Date</ion-label>

            <ion-buttons slot="buttons" class="datemodal_btns">
              <ion-button color="danger" shape="round" [strong]="true" class="cancel_btn" (click)="effectiveDate.cancel(); openCalendar1 = false;">Cancel</ion-button>
              <ion-button color="primary" fill="solid" shape="round" [strong]="true" class="saveBtn" [disabled]="effectiveDate.isDateEnabled" (click)="effectiveDate.confirm();">Done</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </form>
</div>
