<div class="ion-padding-horizontal ion-padding-bottom">
  <ion-item lines="none" [detail]="false" class="errorItem" color="light">
    <ion-label class="ion-text-wrap" color="medium"><ion-note>All star (*) fields are required.</ion-note></ion-label>
  </ion-item>
  <ion-card class="ion-margin-bottom formCard" mode="md" *ngIf="employee">
    <ion-card-header color="tertiary" mode="ios">
      <ion-card-title>Revise Salary</ion-card-title>
      <ion-card-subtitle *ngIf="employee">{{employee.firstName}} {{employee.lastName}} &middot; {{employee.employeeId}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="salarySetupForm" (ionChange)="calculateTotal();" (ionInput)="calculateTotal()">
        <ion-item lines="full" mode="ios" [detail]="true" detailIcon="today-outline" (click)="openCalendar1 = true">
          <ion-input label="Effective Date *" labelPlacement="floating" #effectiveDate class="flex_input" [value]="getValue('effectiveDate') | date" [readonly]="true" [pattern]="'date'" [name]="'effectiveDate'" [required]="true"></ion-input>
        </ion-item>

        <ion-item lines="full" mode="ios" [detail]="true" detailIcon="today-outline">
          <ion-input label="Last Increment Date" labelPlacement="floating" class="flex_input" [value]="getValue('lastIncrementDate') | date" [disabled]="true" [pattern]="'date'" [name]="'lastIncrementDate'"></ion-input>
        </ion-item>

        <ion-item lines="full" mode="ios" [detail]="true" detailIcon="wallet-outline">
          <ion-input type="number" labelPlacement="floating" label="Old CTC" aria-label="Current CTC" placeholder="00.00" [value]="previousSalary" min="0" [readonly]="true" [step]="100" disabled="true"></ion-input>
        </ion-item>
        
        <ion-item lines="full" mode="ios" [detail]="true" detailIcon="wallet-outline">
          <ion-input type="number" labelPlacement="floating" label="Current CTC / Revise Salary *" aria-label="Revise Salary" placeholder="00.00" formControlName="current_ctc" [required]="true" [min]="0" [enterkeyhint]="'next'" [inputmode]="'decimal'" [step]="100"></ion-input>
        </ion-item>
        <ion-item lines="none" [detail]="false" class="errorItem" *ngIf="salarySetupForm.controls['current_ctc'].touched && salarySetupForm.controls['current_ctc'].errors">
          <ion-label class="ion-text-wrap" color="danger"><small>Revise salary is required.</small></ion-label>
        </ion-item>
        <ion-item lines="full" mode="ios" [ngClass]="salarySetupForm.controls['increment'].value >= 0 ? 'increase' : 'descrease'" [detail]="true" [detailIcon]="salarySetupForm.controls['increment'].value >= 0 ? 'trending-up' : 'trending-down'">
          <ion-input type="number" labelPlacement="floating" label="Hike in &percnt;" aria-label="Hike in &percnt;" placeholder="0.0%" formControlName="increment"[inputmode]="'decimal'" [readonly]="true"></ion-input>
        </ion-item>


        <ion-button mode="md" [expand]="'full'" color="tertiary" class="submitBtn" shape="round" [strong]="true" [disabled]="salarySetupForm.invalid || salarySetupForm.controls['current_ctc'].value < 1 || isInProcess" (click)="submit()">Submit</ion-button>
      </form>
    </ion-card-content>

    <ion-modal [isOpen]="openCalendar1" mode="md" [keepContentsMounted]="true" #effectiveDateModal (ionModalDidDismiss)="openCalendar1 = false" [initialBreakpoint]="0.65">
      <ng-template>
        <ion-content>
          <ion-datetime [preferWheel]="true" [presentation]="'date'" mode="md" [size]="'cover'" [showDefaultTitle]="true" #effectiveDate [max]="maxDate.toISOString()" (ionChange)="setEffectiveDate($any($event))">
            <ion-label slot="title">Select Effective Date</ion-label>

            <ion-buttons slot="buttons" class="datemodal_btns">
              <ion-button color="danger" shape="round" [strong]="true" class="cancel_btn" (click)="effectiveDate.cancel(); openCalendar1 = false;">Cancel</ion-button>
              <ion-button color="primary" fill="solid" shape="round" [strong]="true" class="saveBtn" [disabled]="effectiveDate.isDateEnabled" (click)="effectiveDate.confirm();">Done</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-card>
</div>
