.formCard {
    max-width: 500px;
    margin-inline: auto;
    border-radius: 20px;
    & ion-card-header{border-radius: 20px 20px 0 0;}
    & ion-card-title {font-size: 24px;}
    & ion-card-content {
        padding-top: 20px;
        -webkit-padding-top: 20px;
        padding-bottom: 20px;
        -webkit-padding-bottom: 20px;
    }

    & ion-item {
        --detail-icon-opacity: 0.5;
        --padding-start: 10px;
        &:not(:first-of-type, .errorItem) {margin-top: 13px;}
        &:is(.descrease){--detail-icon-color: var(--ion-color-danger);}
        &:is(.increase){--detail-icon-color: var(--ion-color-success);}
    }
}

ion-item{max-width: 500px; margin-inline: auto;}

.submitBtn {
    margin-top: 32px;
    font-size: 1rem;
    height: 45px;
}

fieldset {
    margin-inline: 5px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 20px;

    & legend {padding-inline: 5px;}
}