<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button mode="md" fill="clear" [routerDirection]="'back'" [routerLink]="['/tabs']" routerLinkActive="router-link-active" class="noBg noRipple">
        <ion-icon name="chevron-back-outline" aria-hidden="true" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-thumbnail slot="end" class="logo_img ion-margin-end">
      <ion-img src="../../../assets/icon/no_bg_logo.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card mode="md" color="primary">
    <ion-card-header>
      <ion-card-title>Employment</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list mode="ios">
        <ion-item-group>
          <ion-item [detail]="true" type="button" [button]="true" color="primary" (click)="addEmployee()">
            <ion-icon size="small" name="person-add" aria-hidden="true" slot="start" aria-label="Attendance setup"></ion-icon>
            <ion-label>Add Employee</ion-label>
          </ion-item>
          <ion-item [detail]="true" type="button" [button]="true" color="primary" (click)="additionalsetup()">
            <ion-icon size="small" name="calendar" aria-hidden="true" slot="start" aria-label="Work week"></ion-icon>
            <ion-label>Assign Work Week</ion-label>
          </ion-item>
          <ion-item [detail]="true" type="button" [button]="true" color="primary" (click)="addProjects()">
            <ion-icon size="small" name="folder-open" aria-hidden="true" slot="start" aria-label="Work week"></ion-icon>
            <ion-label>Projects</ion-label>
          </ion-item>
          <ion-item [detail]="true" type="button" [button]="true" color="primary" (click)="addCategory()">
            <ion-icon size="small" name="folder-open" aria-hidden="true" slot="start" aria-label="Work week"></ion-icon>
            <ion-label>Category</ion-label>
          </ion-item>
          <ion-item [detail]="true" type="button" [button]="true" color="primary" (click)="addSubCategory()">
            <ion-icon size="small" name="folder-open" aria-hidden="true" slot="start" aria-label="Work week"></ion-icon>
            <ion-label>SubCategory</ion-label>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Attendance</ion-label>
          </ion-item-divider>
          <ion-item [detail]="true" type="button" [button]="true" color="primary" (click)="attendanceSetup()">
            <ion-icon size="small" name="timer" aria-hidden="true" slot="start" aria-label="Attendance setup"></ion-icon>
            <ion-label>Clock-in, Clock-out</ion-label>
          </ion-item>
          <ion-item [detail]="true" type="button" [button]="true" color="primary" [routerLink]="['/tabs/attendance-status']">
            <ion-icon size="small" name="list" aria-hidden="true" slot="start" aria-label="Employee Attendance"></ion-icon>
            <ion-label>Employee Attendance</ion-label>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Leave</ion-label>
          </ion-item-divider>
          <ion-item [detail]="true" type="button" [button]="true" color="primary" (click)="leaveSetupModal()">
            <ion-icon size="small" name="fast-food" aria-hidden="true" slot="start" aria-label="Leave setup"></ion-icon>
            <ion-label>Leave Setup</ion-label>
          </ion-item>
          <ion-item [detail]="true" type="button" lines="none" [button]="true" color="primary" [routerLink]="['/tabs/view-calendar']">
            <ion-icon size="small" name="calendar" aria-hidden="true" slot="start" aria-label="Calendar View"></ion-icon>
            <ion-label>Calendar Holiday</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card mode="md" color="primary">
    <ion-card-header>
      <ion-card-title>Leave</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list mode="ios">
        <ion-item [detail]="true" type="button" [button]="true" color="primary" (click)="leaveSetupModal()">
          <ion-icon size="small" name="fast-food" aria-hidden="true" slot="start" aria-label="Leave setup"></ion-icon>
          <ion-label>Leave Setup</ion-label>
        </ion-item>
        <ion-item [detail]="true" type="button" [button]="true" color="primary" (click)="hollydaySetup()">
          <ion-icon size="small" name="calendar-number" aria-hidden="true" slot="start" aria-label="Holiday setup"></ion-icon>
          <ion-label>Holiday Setup</ion-label>
        </ion-item>
        <ion-item [detail]="true" type="button" lines="none" [button]="true" color="primary" [routerLink]="['/tabs/view-calendar']">
          <ion-icon size="small" name="calendar" aria-hidden="true" slot="start" aria-label="Calendar View"></ion-icon>
          <ion-label>Calendar Holiday</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->
  <ion-card mode="md" color="tertiary" *ngIf="userRole === 'Admin'">
    <ion-card-header>
      <ion-card-title>Finance Management</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list mode="ios">
        <ion-item [detail]="true" type="button" [button]="true" color="tertiary" (click)="salarysetup()">
          <ion-icon size="small" name="reader" aria-hidden="true" slot="start" aria-label="Additional setup"></ion-icon>
          <ion-label>Salary Setup</ion-label>
        </ion-item>
        <ion-item [detail]="true" type="button" lines="none" [button]="true" color="tertiary" (click)="payrollSetup()">
          <ion-icon size="small" name="wallet" aria-hidden="true" slot="start" aria-label="Additional setup"></ion-icon>
          <ion-label>Payroll Setup</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card mode="md" color="tertiary">
    <ion-card-header>
      <ion-card-title>Leaves</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list mode="ios">
        <ion-item [detail]="true" type="button" [button]="true" color="tertiary">
          <ion-icon name="" aria-hidden="true" slot="start" aria-label="Additional setup"></ion-icon>
          <ion-label></ion-label>
        </ion-item>
        <ion-item [detail]="true" type="button" lines="none" [button]="true" color="tertiary">
          <ion-icon name="calendar-outline" aria-hidden="true" slot="start" aria-label="Additional setup"></ion-icon>
          <ion-label></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->
</ion-content>
