<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-button mode="md" slot="start" fill="clear" (click)="goBack()" class="noBg noRipple">
      <ion-icon name="chevron-back-outline" aria-hidden="true" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card type="button" button="true" mode="md" (click)="attendanceSetup()">
    <ion-card-header>
      <ion-title>Attendance setup</ion-title>
    </ion-card-header>
  </ion-card>

  <ion-card type="button" button="true" mode="md" (click)="leaveSetupModal()">
    <ion-card-header>
      <ion-title> Leave setup</ion-title>
    </ion-card-header>
  </ion-card>

  <ion-card type="button" button="true" mode="md" (click)="payrollSetup()">
    <ion-card-header>
      <ion-title> Payroll setup</ion-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="goToPage4()">
    <ion-card-header>
      <ion-title> Additional setup </ion-title>
    </ion-card-header>
  </ion-card>
</ion-content>
