<ion-item [detail]="false" class="ion-text-center" [lines]="'none'">
  <ion-button
    fill="clear"
    [shape]="'round'"
    [slot]="'start'"
    (click)="decrementWeek()"
  >
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-label color="tertiary" class="dateTitle">{{ getFormatedDate(displayDate) | date:'MMMM yyyy' }}</ion-label>
  <ion-button
    fill="clear"
    [shape]="'round'"
    [slot]="'end'"
    (click)="incrementWeek()"
    [disabled]="currentWeek > weekInYear"
  >
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-item>

<ion-row class="date-row datesSec">
  <ion-col *ngFor="let day of weekDays; index as a;" class="date-col" [size]="12/7">
    <div class="ion-text-center ion-margin-bottom">
      <ion-label [color]="a==0 ? 'danger' : 'medium'">{{ day }}</ion-label>
    </div>
    <div class="ion-text-center">
      <ion-button
        [fill]="isFocusedDay(getDate(weekDates[a]).dateE) ? 'solid' : isToday(getDate(weekDates[a]).dateE) ? 'outline' : 'clear'"
        [shape]="'round'"
        [size]="'small'"
        [color]="a==0 ? 'danger' : isHoliday(weekDates[a]) ? 'warning' : 'primary'"
        class="ion-no-margin ion-no-padding dateBtn"
        (click)="selectDate(getDate(weekDates[a]).dateE)"
        [disabled]="(today.getFullYear() < getDate(weekDates[a]).dateE.getFullYear()) || isLargest(getDate(weekDates[a]).dateE) || isHoliday(weekDates[a]) || a == 0"
        >{{getDate(weekDates[a]).dateE.getDate() }}</ion-button
        >
        <!-- *ngIf="getDate(weekDates[a]).isDate && getDate(weekDates[a]).dateE.getDay() === a" -->
    </div>
  </ion-col>
</ion-row>
<!-- Add your calendar content here -->
