.container {
    ion-title{display: block; text-align: center;}
}
.tab_segement {
    ion-segment-button {
        border-bottom: 2px solid var(--ion-color-primary);
        text-transform: capitalize;
        color: var(--ion-color-primary);
        --indicator-color: var(--ion-color-primary);
        // --background-hover: var(--color-primary);
        // --background-focused: var(--color-primary);
        --color-checked: var(--ion-color-light);
        &.segment-button-checked {
            background-color: var(--ion-color-primary);
            color: var(--ion-color-light);
        }
    }
}

.create_work_week {
    & ion-item {
        --ripple-color: var(--ion-color-primary);
        --background-focused: var(--ion-color-primary);
        --background-hover: var(--ion-color-primary);
        & div {padding-top: 10px; padding-bottom: 10px; width: 100%;}
        & ion-label{color: var(--ion-color-primary); margin-bottom: 8px; font-size: 1.2rem;}
        & ion-text{color: var(--ion-color-medium); font-size: 0.9rem;}
    }

    & ion-card {
        &.sso {border-left: 5px solid var(--color-primary);}
        &.so {border-left: 5px solid var(--ion-color-primary);}
    }
}

.list-item {
    --ripple-color: var(--ion-color-primary-tint);
    & .employee_img {width: 50px; height: 50px;}
}
.employee_data{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;

    & .role{
        color: var(--ion-color-primary);
    }
}
.check_container {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}
.custom_checkbox {
    position: absolute;
    top: 9px;
    bottom: 9px;
    right: 0;
    left: 0;
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    & span {
        width: 45%;
        height: 12px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(-40deg);
        transform-origin: center;
    }
}

.paginator_btns {
    padding: 10px;
    justify-content: flex-end;
    column-gap: 10px;
}