.container {
    ion-title{display: block; text-align: center;}
}
.stickyTop {
    position: sticky;
    top: 50px;
    z-index: 3;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.8);
    transition: all 0.3s ease;
}

.optbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 16px;
    transition: all 0.5s ease;

    & ion-button {
        --box-shadow: none;
        text-transform: capitalize;
        // min-height: 32px;
        transition: all 0.3s ease;
    }

    & ion-item {
        --min-height: 30px;
        --background: var(--ion-color-light);
        border-radius: 50px;
        flex: 1 1 0%;
        transition: all 0.3s ease;
        z-index: 0;

        & .startIcon {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 10px;
        }

        & ion-input {
            min-height: 40px;
            outline: none;
            border: none;
            font-size: 14px;
            --highlight-color-valid: var(--ion-color-tertiary);
        }
    }
}
.expandBtn{
    margin-top: 20px;
    align-self: center;
}
form {
    & ion-buttons {
        margin-top: 30px;
        justify-content: flex-end;
        gap: 10px;
        & .formBtn{
            flex: 0 0 100px;
        }
    }
}
.tab_segement {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;

    ion-segment-button {
        border-bottom: 2px solid var(--ion-color-primary);
        text-transform: capitalize;
        color: var(--ion-color-primary);
        --indicator-color: var(--ion-color-primary);
        // --background-hover: var(--color-primary);
        // --background-focused: var(--color-primary);
        --color-checked: var(--ion-color-primary-contrast);
        text-transform: capitalize;
        &.segment-button-checked {
            background-color: var(--ion-color-primary);
            color: var(--ion-color-light);
            font-weight: 600;
        }
    }
}

.create_work_week {
    & ion-item {
        --ripple-color: var(--ion-color-primary);
        --background-focused: var(--ion-color-primary);
        --background-hover: var(--ion-color-primary);
        & div {padding-top: 10px; padding-bottom: 10px; width: 100%;}
        & ion-label{color: var(--ion-color-primary); margin-bottom: 8px; font-size: 1.2rem;}
        & ion-text{color: var(--ion-color-medium); font-size: 0.9rem;}
    }

    & ion-card {
        &.sso {border-left: 5px solid var(--color-primary);}
        &.so {border-left: 5px solid var(--ion-color-primary);}
    }
}

.listLbl{
    max-height: 250px;
    overflow-y: overlay;
    scroll-behavior: smooth;
    clip-rule: evenodd;
}

.list-item {
    --ripple-color: var(--ion-color-primary-tint);
    & .employee_img {width: 50px; height: 50px;}
}
.employee_data{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;

    & .role{
        color: var(--ion-color-primary);
    }
}
.check_container {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}
.custom_checkbox {
    position: absolute;
    top: 9px;
    bottom: 9px;
    right: 0;
    left: 0;
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    & span {
        width: 45%;
        height: 12px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(-40deg);
        transform-origin: center;
    }
}

.paginator_btns {
    padding: 10px;
    justify-content: flex-end;
    column-gap: 10px;
}

.assign_work_week > ion-row{
    z-index: 0;
    position: relative;
}

.sticky_div {
    position: sticky;
    bottom: 0;
    z-index: 1;
    transition: all 0.5s ease;
    // background-color: #fff;
    background-image: linear-gradient(180deg, transparent 31%, #fff, #fff);
    display: flex;
    flex-direction: column;
    padding: 10px;

    & .big_assign_btn {
        width: 100%;
    }
}
ion-chip {margin-left: 0;}