<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-button mode="md" slot="start" fill="clear" [routerDirection]="'back'" (click)="goBack()" class="noBg noRipple">
      <ion-icon name="chevron-back-outline" aria-hidden="true" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Work Week</ion-title>
    <ion-thumbnail slot="end" class="logo_img ion-margin-end">
      <ion-img src="../../../assets/icon/hr-atlas_48.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="container" *ngIf="workWeekDetail">
    <ion-card mode="ios">
      <ion-card-header *ngIf="workWeekDetail.employeeDetails">
        <ion-card-title>{{workWeekDetail.employeeDetails.firstName | titlecase}} {{workWeekDetail.employeeDetails.lastName || '' | titlecase}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <ion-row>
          <ion-col size="12">
            <ion-text>Assigned Work Week</ion-text>
          </ion-col>
          <ion-col size="12" sizeSm="6" sizeMd="4">
            <div class="flex_div">
              <ion-text>Day Off:</ion-text>
              <ion-text class="indicator dayoff">
                <small>{{workWeekDetail.workweekDetails.weekOff.join(', ')}}</small>
              </ion-text>
            </div>
          </ion-col>
          <ion-col size="12" sizeSm="6" sizeMd="4">
            <div class="flex_div">
              <ion-text>Working Day:</ion-text>
              <ion-text class="ion-padding-left"><small>{{getWorkingDays().join(', ')}}</small></ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    
    <div class="flex_div ion-padding">
      <div class="header_row">
        <div class="header_cell" *ngFor="let weekName of weekArray">
          <ion-text color="light">
            {{weekName.slice(0,3)}}
          </ion-text>
        </div>
      </div>
      <div class="body_row" *ngFor="let num of numberOfWeek; index as a;">
        <div class="body_cell" [ngClass]="{'dayOff': workWeekDetail.workweekDetails.weekOff.includes(weekName)}" *ngFor="let weekName of weekArray; index as b;">
          <div [class]="num + ' ' + weekName"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="!workWeekDetail && isLoaded">
    <ion-card mode="ios">
      <ion-card-content>
        <ion-label>You have not assigned yet any wrok week.</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
