ion-card{
    // box-shadow: #4c8dff 0px 4px 36px, #4c8dff 0px 4px 56px -5px;
    box-shadow: #4a86ef63 0px 10px 26px -10px;
    // border: 2px solid #4a86ef63;
    & ion-card-title {font-size: 24px;}
}
ion-card + .flex_div {
    // background-color: #eee;
    max-width: 500px;
    margin: auto;
}
.header_row, .body_row {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
}
.header_cell, .body_cell {
    width: calc(100% / 7);
    background-color: var(--ion-color-primary);
    aspect-ratio: 1;
    &.dayOff {
        background-color: var(--ion-color-danger);
    }
}
.header_cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 600;
    background-color: var(--ion-color-tertiary);
}
.body_row {
    margin-top: 5px;
}
ion-card .flex_div {
    display: flex; gap: 5px;
    & ion-text:first-child{
        flex: 0 0 100px;
        transform: translateY(10px);
    }
    & ion-chip {font-size: 0.8rem; padding-inline: 10px; margin-inline-start: 0;}
}