.container {
    padding-top: 20px;
}
.flex_div {
    background-color: #eee;
    max-width: 500px;
    margin: auto;
}
.header_row, .body_row {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
}
.header_cell, .body_cell {
    width: calc(100% / 7);
    background-color: var(--ion-color-primary);
    aspect-ratio: 1;
}
.header_cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 600;
    background-color: var(--ion-color-tertiary);
}
.body_row {
    margin-top: 5px;
}