<div class="history_salary">
  <ion-list mode="ios" lines="none">
    <ion-item lines="none" type="button" detail="true" [detailIcon]="!isExpanded ? 'chevron-down' : 'chevron-up'" (click)="isExpanded = !isExpanded">
      <ion-label>History</ion-label>
    </ion-item>
  </ion-list>
  
  
  <ng-container *ngIf="isExpanded">
    <ion-list mode="ios" inset="true" *ngIf="isLoaded && incrementHistory.length < 1">
      <ion-item detail="false">
        <ion-label class="ion-text-center">History is not available.</ion-label>
      </ion-item>
    </ion-list>

    <ion-card mode="ios" class="historyCard" *ngFor="let history of incrementHistory">
      <ion-card-header>
        <ion-card-title>{{history.created_date | date}}</ion-card-title>
        <ion-card-subtitle>Created At</ion-card-subtitle>
      </ion-card-header>
      <ion-list mode="ios">
        <ion-item detail="false">
          <ion-label>Current CTC:</ion-label>
          <ion-text>{{history.current_ctc | currency:'INR'}}</ion-text>
        </ion-item>
        <ion-item detail="false">
          <ion-label>Increment:</ion-label>
          <ion-text>{{history.increment}}%</ion-text>
        </ion-item>
        <ion-item detail="false" lines="none">
          <ion-label>Effective date:</ion-label>
          <ion-text>{{history.effectiveDate | date}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-list mode="ios" inset="true" *ngIf="moreData">
      <ion-item button="true" type="button" detail="true" color="primary" (click)="loadMore()">
        <ion-label>See More</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</div>