stages:
- build

build:
  stage: build
  image: docker:latest
  # services:
    # - docker:dind 
  before_script:
    - echo "Disabling Buildkit"
    - export DOCKER_BUILDKIT=0
    - export COMPOSE_DOCKER_CLI_BUILD=0

  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    - main


