<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button type="button" fill="clear" class="noBg noRipple" mode="md" (click)="goBack()">
              <ion-icon name="chevron-back-outline" aria-hidden="true" aria-label="Back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Leaves</ion-title>

      <ion-toggle aria-label="Change Role" labelPlacement="end" color="primary" [checked]="userRole === userDetails.role" slot="end" (ionChange)="roleToggle($event, userDetails.role)" class="ion-margin-end" *ngIf="isSwitchable && userDetails">{{userDetails.role}}</ion-toggle>
      <ion-thumbnail slot="end" class="logo_img ion-margin-end">
        <ion-img src="../../../assets/icon/hr-atlas_logo_2.png" alt="HR-Atlas"></ion-img>
      </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-employee-leaves *ngIf="userRole === 'Employee'"></app-employee-leaves>

  <app-admin-leaves *ngIf="userRole === 'Admin' || userRole === 'HR'" [leaveType]="leaveType ? leaveType : ''"></app-admin-leaves>
  <!-- <app-admin-leaves *ngIf="userRole === userDetails.role" [leaveType]="leaveType ? leaveType : ''"></app-admin-leaves> -->

</ion-content>
