.container, form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {padding: 20px 10px;}
form {
    justify-content: space-between;
    row-gap: 20px;

    & ion-row {row-gap: 10px;}
}

.btn_div{
    margin: 20px 7px 0;
    .submitBtn {
        --background: rgb(255, 106, 0);
        --background-hover: rgb(255, 106, 0);
        --background-focused: rgb(255, 106, 0);
        --color: #fff;
        font-size: 1rem;
        height: 45px;
        text-transform: capitalize;
    }
}
// .toggleBtn {background-color: #fff;}
