<ion-card mode="md" color="tertiary" class="historyCard">
  <ion-card-header>
    <ion-card-title *ngIf="advancePayDetail">{{advancePayDetail.remainingAmount || 0 | currency:"INR"}}</ion-card-title>
    <ion-card-subtitle *ngIf="advancePayDetail">Total Advance &middot; {{getDate() | date}}</ion-card-subtitle>
    <ion-skeleton-text *ngIf="!advancePayDetail" animated="true" style="width: 50%; height: 20px;"></ion-skeleton-text>
    <p *ngIf="!advancePayDetail"><ion-skeleton-text animated="true" style="width: 80%; height: 12px;" *ngFor="let item of [1,2]"></ion-skeleton-text></p>
  </ion-card-header>
  <ion-card-content>
    <ion-list mode="ios" [lines]="'none'">
      <ion-item [detail]="false" color="tertiary">
        <ion-label>Advance Pay</ion-label>
        <ion-note color="light">{{advancePayDetail.advanceAmount || 0 | currency:'INR'}}</ion-note>
      </ion-item>
      <ion-item [detail]="false" color="tertiary">
        <ion-label>Bonus</ion-label>
        <ion-note color="light">{{advancePayDetail.bonus || 0 | currency:'INR'}}</ion-note>
      </ion-item>
      <ion-item [detail]="false" color="tertiary">
        <ion-label>CompOff</ion-label>
        <ion-note color="light">{{advancePayDetail.compOff || 0 | currency:'INR'}}</ion-note>
      </ion-item>
      <ion-item [detail]="false" color="tertiary">
        <ion-label>Advance Pay Deduction</ion-label>
        <ion-note color="light">{{advancePayDetail.deductionAmount || 0 | currency:'INR'}}</ion-note>
      </ion-item>
      <ion-item [detail]="false" color="tertiary">
        <ion-label>Other deduction</ion-label>
        <ion-note color="light">{{advancePayDetail.otherDeduction || 0 | currency:'INR'}}</ion-note>
      </ion-item>
      <ion-item [detail]="false" color="tertiary" *ngIf="advancePayDetail.description && advancePayDetail.description.trim() !== ''">
        <ion-label class="ion-text-wrap">
          <ion-note color="light">{{advancePayDetail.description}}</ion-note>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>