.container, form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {padding: 20px 10px;}
form {
    justify-content: space-between;
    row-gap: 20px;

    & ion-row {row-gap: 10px;}
}

.btn_div{
    margin-top: 20px;
    .submitBtn {
        height: 45px;
        font-weight: 600;
        font-size: 1.1rem;
    }
}