.wrapper {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  color: black;
}

.date {
  p {
    margin-top: 0;
    margin-bottom: 5px;
  }

  span {
    margin: auto 10px 0 0;
    font-size: 14px;
    font-weight: 600;
  }
}

.rounded-rectangle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    font-size: 20px;
    font-weight: 600;
    margin: auto 0 10px 0;
  }

  ion-button {
    height: 33px;
    font-size: 15px;
  }
}

.para p {
  margin-top: auto;
  display: block;
  justify-content: center;
}

.cal_col {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  .p1 {
    width: 15px;
    height: 15px;
    background-color: #e77307;
  }

  .p2 {
    width: 15px;
    height: 15px;
    background-color: var(--ion-color-danger);
  }

  .p3 {
    width: 15px;
    height: 15px;
    background-color: var(--ion-color-success);
  }
}

.btnStyle {
  display: flex;
  justify-content: end;

  .reject-button {
    color: var(--ion-color-danger);
  }

  .approve-button {
    color: var(--ion-color-success);
  }
}

ion-datetime {
  padding: 0;
  margin: auto;
  width: 100%;
}

ion-datetime {
  --background: #f3fbfe;
  // --background-rgb: 255, 241, 242;

  margin-top: 5px;
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}

.no-timesheets-message {
  text-align: center;
  font-size: 1.2em;
  color: gray;
  margin-top: 20px;
}

.status-pending {
  color: orange;
  font-weight: bold;
}

.status-reject {
  color: red;
  font-weight: bold;
}

.status-accept {
  color: green;
  font-weight: bold;
}


.timesheet {
  // margin: 20px;
  padding: 10px;
}

.timesheet-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.timesheet-select {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-between;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th, td {text-align: left; border-bottom: 1px solid #ddd; padding-inline: 12px;}
tr:not(.expand) th, tr:not(.expand) td {padding: 8px 12px;}

th {
  background-color: #f4f4f4;
}

.pagination-controls {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 32px;
  width: 100%;
}

.pagination-button {
  margin: 2px;
  padding: 2px 4px 4px 2px;
  background-color: #fff;
  color: #111;
  border: solid black 1px;
  border-radius: 4px;
}

.detailRow:not(.expand) {
  display: none;
}