<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button mode="md" slot="start" (click)="closeModel()" fill="clear" [ariaDisabled]="true" class="noRipple noBg">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>{{action === 'add' ? 'Add' : 'Update'}}</ion-title>
    <ion-thumbnail slot="end" class="logo_img ion-margin-end">
      <ion-img src="../../../assets/icon/no_bg_logo.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
    <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="projectsForm">
    <ion-item [detail]="false" fill="solid" class="ion-padding"> 
      <ion-input labelPlacement="floating" formControlName="title" type="text" maxlength="120" minlength="2" inputmode="text" enterkeyhint="next" autocomplete="name" autofocus="true">
        <div slot="label">Project Name <ion-text color="danger">*</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-text color="danger" class="error_txt ion-padding-start" *ngIf="projectsForm.controls['title'].touched && projectsForm.controls['title'].errors">project name is required</ion-text>
  </form>
  <ion-button mode="md" type="submit" class="ion-padding" expand="block" color="primary" [disabled]="projectsForm.invalid || isInProgress" (click)="submit()" expand="full" shape="round">
    {{action === 'add' ? 'Add' : 'update' | titlecase}} Project
  </ion-button>
</ion-content>
