.stickyTop {
    position: sticky;
    top: 0px;
    z-index: 3;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.8);
    transition: all 0.3s ease;
}

.optbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 16px;
    transition: all 0.5s ease;

    & ion-button {
        --box-shadow: none;
        text-transform: capitalize;
        // min-height: 32px;
        transition: all 0.3s ease;
    }

    & ion-item {
        --min-height: 30px;
        --background: var(--ion-color-light);
        border-radius: 50px;
        flex: 1 1 0%;
        transition: all 0.3s ease;

        & .startIcon {
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 10px;
        }

        & ion-input {
            min-height: 35px;
            outline: none;
            border: none;
            font-size: 14px;
            --highlight-color-valid: var(--ion-color-tertiary);
        }
    }
}
.list-item {
    --ripple-color: var(--ion-color-primary-tint);
    --border-color: var(--ion-color-light);
    --detail-icon-opacity: 0.5;
    // & .employee_img {width: 50px; height: 50px;}
}
.employee_data{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;

    & .role{
        color: var(--ion-color-primary);
    }
}

.check_container {
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
    z-index: 1;
}
.custom_checkbox {
    position: absolute;
    top: 9px;
    bottom: 9px;
    right: 0;
    left: 0;
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    & span {
        width: 45%;
        height: 12px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(-40deg);
        transform-origin: center;
    }
}
ion-list-header ion-label {
    font-weight: 600;
    line-height: 1.5;
    font-size: 1rem;
}

.sendPayBtn {text-transform: capitalize;}

.filter {
    & ion-item {
        font-size: 14px;
        --min-height: 35px
    }
}