<ion-content [fullscreen]="true" mode="md">
  <ion-header collapse="condense" mode="md">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div>
      <img src="../../../../assets/images/hr_atlas_trans.png" alt="HR-Atlas Logo" class="logo_img" />
      <h3 class="ion-text-center">
        <ion-label>Welcome in HR-Atlas</ion-label>
      </h3>
    </div>
  
    <form [formGroup]="loginForm">
      <ion-row class="row_one">
        <ion-col size="12">
          <div class="form-input">
            <ion-input labelPlacement="floating" fill="outline" formControlName="emailOrPhone" placeholder="Enter email" autocomplete="email" type="email" inputmode="email" [enterkeyhint]="'next'">
              <div slot="label">Email <ion-text color="danger">*</ion-text></div>
            </ion-input>
          </div>
          <ion-text color="danger" class="error_txt" *ngIf="loginForm.controls['emailOrPhone'].touched && loginForm.controls['emailOrPhone'].errors">
            {{loginForm.controls['emailOrPhone'].value ? 'Please enter a valid email.' : 'Email is required'}}
          </ion-text>
        </ion-col>
  
        <ion-col size="12">
          <div class="form-input">
            <ion-input labelPlacement="floating" fill="outline" class="password_input" formControlName="password" placeholder="password" [type]="showPassword ? 'text' : 'password'" autocomplete="password" [enterkeyhint]="'done'">
              <div slot="label">Password <ion-text color="danger">*</ion-text></div>
            </ion-input>
  
            <div class="toggleBtn">
              <ion-button mode="md" slot="end" fill="clear" (click)="showPassword = !showPassword">
                <ion-icon name="eye-outline" *ngIf="showPassword"></ion-icon>
                <ion-icon name="eye-off-outline" *ngIf="!showPassword"></ion-icon>
              </ion-button>
            </div>
          </div>
          <ion-text color="danger" class="error_txt" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors">Password is required</ion-text>
        </ion-col>
        
        <ion-col size="12">
          <p class="forgot_pass">
            <a href="/forgot-password">Forgot Password ?</a>
          </p>
        </ion-col>
        
        <ion-col size="12">
          <ion-button mode="md" expand="full" class="loginBtn" shape="round" [disabled]="loginForm.invalid" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <img src="./assets/images/2.jpeg" alt="Photo" class="bg_img" />
  </div>
</ion-content>
