<ion-content [fullscreen]="true" mode="md">
  <ion-header collapse="condense" mode="md">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <img src="./assets/images/5.png" alt="Spundan Logo" class="logo_img" />
  
    <form [formGroup]="loginForm" (keyup)="formSubmit($event)">
      <ion-row class="row_one">
        <ion-col size="12">
          <div class="form-input">
            <ion-input labelPlacement="floating" fill="outline" formControlName="email" placeholder="Enter email/phone number">
              <div slot="label">Email/Mobile <ion-text color="danger">*</ion-text></div>
            </ion-input>
          </div>
          <ion-text color="danger" class="error_txt" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors">
            {{loginForm.controls['email'].value ? 'Please enter a valid email.' : 'Email is required'}}
          </ion-text>
        </ion-col>
  
        <ion-col size="12">
          <div class="form-input">
            <ion-input labelPlacement="floating" fill="outline" class="password_input" formControlName="password" placeholder="password" [type]="showPassword ? 'text' : 'password'">
              <div slot="label">Password <ion-text color="danger">*</ion-text></div>
            </ion-input>
  
            <div class="toggleBtn">
              <ion-button slot="end" fill="clear" (click)="showPassword = !showPassword">
                <ion-icon name="eye-outline" *ngIf="showPassword"></ion-icon>
                <ion-icon name="eye-off-outline" *ngIf="!showPassword"></ion-icon>
              </ion-button>
            </div>
          </div>
          <ion-text color="danger" class="error_txt" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors">Password is required</ion-text>
        </ion-col>
        
        <ion-col size="12">
          <p class="forgot_pass">
            <a href="/forgot-password">Forgot Password ?</a>
          </p>
        </ion-col>
        
        <ion-col size="12">
          <ion-button expand="full" class="loginBtn" shape="round" [disabled]="loginForm.invalid" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <img src="./assets/images/2.jpeg" alt="Photo" class="bg_img" />
  </div>
</ion-content>
