.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10%;
    background-image: linear-gradient(to bottom, #fff, #ffffff52, transparent, #fff);
    background-color: rgba($color: #ffff, $alpha: 0.90);
    position: relative;
}
.bg_img {
    position: absolute;
    z-index: -1;
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}
.logo_img {
    display: block;
    max-width: 250px;
    margin: 20px auto;
    z-index: 1;
}

form {
    padding: 0px 20px 0;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    z-index: 1;
}
.row_one {row-gap: 10px;}

.forgot_pass {
    text-align: end;
    & a {
        text-decoration: none;
    }
}
.toolbox {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px #ddd;
    text-align: center;
    font-size: 20px
}

// .logo {
//     width: 100px;
//     height: 100px;
//     border-radius: 50%;
//     box-shadow: 0px 0px 10px #323232;
// }
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    color: #ff00ff;
}

.loginBtn {
    --background: rgb(255, 106, 0);
    --color: #fff;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    height: 45px;
    font-weight: 600;
}