<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="employee-list" (click)="clearLastRoute()">
      <ion-icon aria-hidden="true" name="file-tray-stacked-outline"></ion-icon>
      <ion-label>Directory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="attendance" *ngIf="userRole === 'Employee'">
      <ion-icon aria-hidden="true" name="hand-right-outline"></ion-icon>
      <ion-label>Attendance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
