.main-header {
    box-shadow: none;
    // background-image: linear-gradient(100deg, #4854e0, #53adf9);
    // & ion-toolbar {--background: transparent;}
}
// ion-content {
//     background-image: linear-gradient(100deg, #4854e0, #50c8ff);
//     --background: linear-gradient(100deg, #4854e0, #50c8ff);
// }

.topBox{
    padding-bottom: 5px;
    // background-image: linear-gradient(100deg, #4854e0, #50c8ff);
    background-color: #fff;
    position: relative;
}
.bannerDiv{
    background-color: rgba(0, 0, 0, 0.065);
    height: 100px;
}
.bigAvatarDiv {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 30px;
    left: 16px;
    z-index: 1;
    width: 100%;
    transition: all 0.3s ease;
    & > * {
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
        width: 115px;
        height: 115px;
        border-radius: 70px;
        background-color: #fff;
        padding: 5px;
    }
}
.pcard {
    margin-top: 40px;

    & ion-list-header{
        --color: var(--color-blue-gray);
        & .editSmallBtn{align-self: center;}
    }
}

.logo_img {
    // background-color: rgba(255,255,255,0.85);
    // height: 40px;
    // width: 40px;
    // padding: 0.25em;
    transform: translateY(-3px);
}

.smLogoutBtn {width: 90px; text-transform: capitalize;}

// ion-accordion-group{
//     &.accordion-group-expand-inset ion-accordion {
//         box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
//     }
// }

ion-accordion ion-item[slot="header"], .btn_item {--ripple-color: var(--ion-color-primary)}
.accordion_head_item {
    & label{--color: var(--color-blue-gray);}
    & .sub-header {
        font-size: 0.8rem;
        color: var(--ion-color-medium);
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}
.weekDaysItem{
    & ion-label{margin-right: 0;}

    & ion-chip {
        transform: translateX(-4px);
        font-size: 0.8em; font-weight: 600;
        transition: all 0.3s ease;
    }
}

.table_row {
    pointer-events: none;
    margin-left: -5px;
    margin-right: -5px;

    & ion-row {row-gap: 5px;}
    
    & ion-input {color: var(--ion-color-dark); min-height: 30px; font-size: 0.9rem;}
    & ion-label {font-size: 0.8rem; color: #999;}
}
.social_links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & .link_item {
        border-radius: 0.5rem;
        color: var(--ion-color-light);
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.linkedin {background-color: #0076B2;}
        &.fb {background-color: #1877F2;}
        &.twitter {background-color: #1DA1F2;}
    }
}

.settingBtns_item{
    --ripple-color: var(--ion-color-primary);
    &.addressItem{
        & ion-icon[slot='start']{
            align-self: self-start;
            margin-top: 10px;
        }
    }
    & ion-chip[slot='start']{
        padding-top: 0;
        padding-bottom: 0;
        padding-inline: 7px;
        color: var(--ion-color-contrast);
        background: rgba(var(--ion-color-base-rgb), 1);

        & ion-icon{
            margin: 0;
        }
    }
    &.logoutBtn{font-weight: 600;}
}