.container {
    padding-left: 5px;
    padding-right: 5px;
}
.profile_card {
    --background: transparent;
    background-image: linear-gradient(45deg, #4854e0, #50c8ff); //#ff8d00
}
.emp_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 2px solid var(--ion-color-light);
    border-radius: 50%;
    background-color: var(--color-primary);
    position: relative;

    & .edit_btn {
        position: absolute;
        bottom: -5px;
        background: var(--ion-color-light);
        right: 0;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: grid;
        place-items: center;
        z-index: 1;
    }
}

.emp_name_role {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    & .emp_role {font-size: 0.8rem; color: #ebebeb;}
    & .emp_name {font-size: 1.3rem; line-height: 1.3; white-space: break-spaces; color: var(--ion-color-light);}
}

ion-accordion ion-item[slot="header"], .btn_item {--ripple-color: var(--ion-color-primary)}
.accordion_head_item {
    & div {padding: 15px 0; white-space: break-spaces; overflow: hidden; line-height: 1.5;}
    & .sub-header {
        font-size: 0.8rem;
        color: var(--ion-color-medium);
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}

.nested_item {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    & ion-label {font-size: 1rem; color: var(--ion-color-dark);}
}
.table_row {
    pointer-events: none;
    margin-left: -5px;
    margin-right: -5px;

    & ion-row {row-gap: 5px;}
    
    & ion-input {color: var(--ion-color-dark); min-height: 30px; font-size: 0.9rem;}
    & ion-label {font-size: 0.8rem; color: #999;}
}
.social_links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & .link_item {
        border-radius: 0.5rem;
        color: var(--ion-color-light);
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.linkedin {background-color: #0076B2;}
        &.fb {background-color: #1877F2;}
        &.twitter {background-color: #1DA1F2;}
    }
}

.personal-text {
    font-size: 10px;
    color: white;
    margin: 0;
    padding: 5px;
}

.decorative-line {
    height: 2px;
    background-color: #fff;
    margin: 10px 0;
}

.header-toolbar {
    --ion-toolbar-background: rgb(255, 106, 0);
    --ion-color-base: black;
}
.settingBtns_item{--padding-start: 5px; --inner-padding-end: 5px; --ripple-color: var(--ion-color-primary);}