.container {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    margin-top: 5px;
}
.black-line {
    border: none;
    border-top: 1px solid black;
}

.payslipCard {
    margin-inline: 0;

    & .card_item_last {
        --padding-start: 5px;
        --inner-padding-end: 5px;
        & .subSalary{
            font-size: 1.1rem;
            & span {font-weight: 600;}
        }
    }
}

ion-segment {
    background-color: var(--ion-color-tertiary-contrast);
    position: sticky;
    top: 0;
    z-index: 2;
    & ion-segment-button{
        font-size: 0.8rem;
        text-transform: capitalize;
        & ion-icon {margin-right: 5px;}
        color: var(--ion-color-tertiary);
        font-weight: 600;
    }
}

.table {
    border: 1px solid var(--ion-color-medium);
    width: 100%;
    border-collapse: collapse;
    & tr, & td, & th {border: 1px solid var(--ion-color-medium);}

    & th, & td {padding: 10px;}
    & th {background-color: #f7f7f7; color: #4a4949;}
    & td {color: var(--ion-color-medium-shade); font-size: 0.8rem;}
}
.text-end{
    text-align: end;
    line-height: 1.3;
    & small {color: var(--ion-color-medium-shade);}
}
.dateITem {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    & ion-input {
        --background: var(--ion-color-primary);
    }
}