.container {
    padding-left: 10px;
    padding-right: 10px;
}
.black-line {
    border: none;
    border-top: 1px solid black;
}

.payslipCard {
    margin-inline: 0;

    & .card_item_last {
        --padding-start: 5px;
        --inner-padding-end: 5px;
        & .subSalary{
            font-size: 1.1rem;
            & span {font-weight: 600;}
        }
    }
}
.payrollSegment {
    // border-bottom: 1px solid var(--ion-color-primary);
    // background-color: var(--ion-color-primary);
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
    --ripple-color: var(--ion-color-primary);

    & ion-segment-button {
        border-bottom: 2px solid var(--ion-color-primary);
        color: var(--ion-color-primary);
        --indicator-color: var(--ion-color-primary);
        --color-checked: var(--ion-color-light);
        &.segment-button-checked {
            font-weight: 600;
            background-color: var(--ion-color-primary);
            color: var(--ion-color-light);
        }
    }
}

.table {
    border: 1px solid var(--ion-color-medium);
    width: 100%;
    border-collapse: collapse;
    & tr, & td, & th {border: 1px solid var(--ion-color-medium);}

    & th, & td {padding: 10px;}
    & th {background-color: #f7f7f7;}
    & td {color: var(--ion-color-medium-shade); font-size: 0.9rem;}
}
.text-end{
    text-align: end;
    line-height: 1.3;
    & small {color: var(--ion-color-medium-shade);}
}
.dateITem {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    & ion-input {
        --background: var(--ion-color-primary);
    }
}