<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button mode="md" fill="clear" class="noBg noRipple" [routerDirection]="'back'" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Payroll</ion-title>
    <ion-thumbnail slot="end" class="logo_img ion-margin-end">
      <ion-img src="../../../assets/icon/hr-atlas_48.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="activeTab" mode="md" class="payrollSegment" aria-hidden="true">
    <ion-segment-button value="payslip">
      <ion-label>Payslips</ion-label>
    </ion-segment-button>
    <ion-segment-button value="salary_structure">
      <ion-label>Salary Structure</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="activeTab" class="container ion-padding-vertical">
    <div *ngSwitchCase="'payslip'">
      <ion-item lines="none" color="primary" type="button" (click)="dateModal = true" class="dateITem">
        <ion-input label="Select year and month" color="primary" labelPlacement="floating" [readonly]="true" [value]="payslipDate | date"></ion-input>
      </ion-item>

      <ion-modal [isOpen]="dateModal" [initialBreakpoint]=".65" [keepContentsMounted]="true" mode="ios" (didDismiss)="dateModal = false" [showBackdrop]="true">
        <ng-template>
          <ion-content>
            <ion-datetime presentation="month-year" size="cover" mode="md" [(ngModel)]="payslipDate" #yearMonth [max]="today.toISOString()" (ionChange)="selectPayslipDate($any($event))">
              <ion-label slot="title">Select Year and Month</ion-label>
              <ion-buttons slot="buttons">
                <ion-button mode="md" color="danger" (click)="yearMonth.cancel(); dateModal = false;">Cancel</ion-button>
                <ion-button mode="md" color="primary" [disabled]="!payslipDate" (click)="yearMonth.confirm(); dateModal = false;">Done</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>

      <app-employee-payslip *ngIf="payslipData" [payslipData]="payslipData"></app-employee-payslip>

      <ion-card mode="ios" *ngIf="!payslipLoaded || !payslipData" class="ion-text-center">
        <ion-card-header>
          <ion-label>Paylip is not generated yet.</ion-label>
        </ion-card-header>
      </ion-card>
    </div>

    <div *ngSwitchCase="'salary_structure'">
      <ion-card mode="ios" *ngIf="!structureLoaded || !salaryStructure" class="ion-text-center">
        <ion-card-header>
          <ion-label>Salary structure is not generated yet.</ion-label>
        </ion-card-header>
      </ion-card>

      <ion-row *ngIf="salaryStructure">
        <ion-col size="6">
            <ion-text>Current Salary</ion-text>
        </ion-col>
        <ion-col size="6">
            <div class="text-end">
                <ion-text><small>Effective Date</small></ion-text><br>
                <ion-label>{{salaryStructure.effectiveDate | date}}</ion-label>
            </div>
        </ion-col>
      </ion-row>

      <table class="table ion-margin-vertical" *ngIf="salaryStructure">
        <thead>
            <tr>
                <th><ion-label>Components</ion-label></th>
                <th><ion-label>Monthly</ion-label></th>
                <th><ion-label>Annual</ion-label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><ion-text>CTC</ion-text></td>
                <td><ion-text>{{salaryStructure.current_ctc / 12}}</ion-text></td>
                <td><ion-text>{{salaryStructure.current_ctc}}</ion-text></td>
            </tr>
            <tr>
                <td><ion-text>Basic</ion-text></td>
                <td><ion-text>{{salaryStructure.current_ctc / 12}}</ion-text></td>
                <td><ion-text>{{salaryStructure.current_ctc}}</ion-text></td>
            </tr>
            <tr>
                <td><ion-text>HRA</ion-text></td>
                <td><ion-text>0</ion-text></td>
                <td><ion-text>0</ion-text></td>
            </tr>
            <tr>
                <td><ion-text>PF</ion-text></td>
                <td><ion-text>0</ion-text></td>
                <td><ion-text>0</ion-text></td>
            </tr>
            <tr>
                <td><ion-text>Special Allowance</ion-text></td>
                <td><ion-text>0</ion-text></td>
                <td><ion-text>0</ion-text></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <ion-list style="background-color: aliceblue">
        <ion-item>
          <ion-label>Select Year and Month</ion-label>
          <ion-select [(ngModel)]="selectedYear" (ionChange)="calculateSalary()">
            <ion-select-option value="2023">2023</ion-select-option>
            <ion-select-option value="2024">2024</ion-select-option>
          </ion-select>
          <ion-select [(ngModel)]="selectedMonth" (ionChange)="calculateSalary()">
            <ion-select-option value="1">January</ion-select-option>
            <ion-select-option value="2">February</ion-select-option>
            <ion-select-option value="3">March</ion-select-option>
            <ion-select-option value="4">April</ion-select-option>
            <ion-select-option value="5">May</ion-select-option>
            <ion-select-option value="6">June</ion-select-option>
            <ion-select-option value="7">July</ion-select-option>
            <ion-select-option value="8">August</ion-select-option>
            <ion-select-option value="9">September</ion-select-option>
            <ion-select-option value="10">October</ion-select-option>
            <ion-select-option value="11">November</ion-select-option>
            <ion-select-option value="12">December</ion-select-option>
          </ion-select>
        </ion-item>
  </ion-list> -->
</ion-content>
