<div
  class="progressbar"
  style="--barColor: {{color}}; --angle: {{calculateAngle()}}"
>
  <span>{{value}} / {{maxValue}}</span>
</div>
<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250">
  <circle fill="none" cx="125" cy="125" r="120" style="stroke: rgb(234, 234, 234); stroke-width: 10"></circle>
  <path fill="none" style="stroke-width: 10; stroke: rgb(69, 204, 206); stroke-linecap: round" [attr.d]="calculateArcPath(value, maxValue)"></path>
  <text>{{value}} {{maxValue}}</text>
</svg> -->
