.payslipData {
    font-size: 7px;
    color: #333;
    & .table {
        width: 100%;
        border: 1px solid #333;

        &.salaryTable {
            & th {background-color: rgba(var(--ion-color-medium-rgb), 0.2);}
            & p, & span {
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            & tbody td span {min-width: 70px;}
        }
        
        & th, td {padding: 0.25rem; border: 1px solid #c6c4c4;}
        & h4, & h5 {font-size: 10px;}
    }

    & h4, & h5 {font-size: 1rem;}
    & p, & address {font-size: 10px; line-height: 1.3;}
}


.paysliptr{
    width: 25%;
}

.paysliptextcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}