<div class="container">
  <div class="payslipData ion-padding-vertical">
    <h4 class="ion-text-center">Spundan Consultancy & IT Solutions Pvt Ltd</h4>
    <p class="ion-text-center">Payslip for {{ getMonth() + ' &dash; ' + getPayslipDate().getFullYear() }} ({{
      getStartDate | date }} To {{ getendDate | date }})</p>

    <table class="table basicDesc ion-margin-top">
      <tbody>
        <tr>
          <td class="paysliptr"><span>Employee name</span></td>
          <td class="paysliptr"><span>{{payslipData.employeeName || ""}}</span></td>
          <td class="paysliptr"><span>Bank Name</span></td>
          <td class="paysliptr"><span class="paysliptextcenter">-</span></td>

        </tr>
        <tr>

          <td><span>Designation</span></td>
          <td>
            <span *ngIf="payslipData">{{ payslipData.designation || ""}}</span>
          </td>
          <td><span>Account no.</span></td>
          <td><span class="paysliptextcenter">-</span></td>

        </tr>

        <tr>
          <td><span>Working Days</span></td>
          <td>
            <span *ngIf="payslipData">{{payslipData.workingDays || 31}}</span>
          </td>
          <td><span>Pay Mode</span></td>
          <td><span class="paysliptextcenter">-</span></td>

        </tr>
        <tr>
          <td><span>Net Payable Days</span></td>
          <td><span>{{payslipData && payslipData.netPayableDays ? payslipData.netPayableDays : 0}}</span></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table class="table salaryTable ion-margin-top">
      <thead>
        <tr>
          <th class="paysliptr"><span class="ion-text-start">Earnings</span></th>
          <th class="paysliptr"><span class="ion-text-start">Amount</span></th>
          <th class="paysliptr"><span class="ion-text-start">Deduction</span></th>
          <th class="paysliptr"><span class="ion-text-start">Amount</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Basic Salary</span></td>
          <td>
            <span *ngIf="payslipData">{{ payslipData.basicSalary | currency:'INR'}}</span>
            <span *ngIf="!payslipData">{{ 0 | currency:'INR'}}</span>
          </td>
          <td><span>LOP Amount</span></td>
          <td>
            <span>{{ payslipData.totalDeduction - payslipData.otherDeduction | currency:'INR'}}</span>
          </td>
        </tr>
        <tr *ngIf="payslipData && (payslipData.bonus || payslipData.otherDeduction)">
          <td >
            <span *ngIf="payslipData.bonus">Bonus</span>
          </td>
          <td>
            <span *ngIf="payslipData.bonus">{{payslipData.bonus | currency:"INR"}}</span>
          </td>
          <td><span *ngIf="payslipData.otherDeduction">Other Deduction</span></td>
          <td>
            <span *ngIf="payslipData.otherDeduction">{{ payslipData.otherDeduction | currency:'INR'}}</span>
          </td>
        </tr>
        <tr *ngIf="payslipData && payslipData.compOff">
          <td>
            <span>CompOff</span>
          </td>
          <td>
            <span>{{payslipData.compOff | currency:"INR"}}</span>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tfoot>
        <tr style="background-color: rgba(var(--ion-color-medium-rgb), 0.2)">
          <td><span>Total Earnings</span></td>
          <td>
            <span *ngIf="payslipData">{{ payslipData.totalEarning| currency:'INR'}}</span>
            <span *ngIf="!payslipData">{{ 0 | currency:'INR'}}</span>
          </td>
          <td><span>Total Deductions</span></td>
          <td>
            <span *ngIf="payslipData">{{ payslipData.totalDeduction | currency:'INR'}}</span>
            <span *ngIf="!payslipData">{{ 0 | currency:'INR'}}</span>
          </td>
        </tr>
        <tr>
          <td *ngIf="payslipData" colspan="4">
            <span style="margin-top: 10px;">Net Pay: {{ payslipData.netPay || 0 | currency:'INR'}}</span>
            <span>In Words: {{payslipData.netPayInWords}}</span>
          </td>
          <td *ngIf="!payslipData" colspan="4"><span>Net Pay: 0</span></td>
        </tr>
        <tr>
          <td colspan="4">
            <h5 style="margin-bottom: 0;">HR Spundan</h5>
            <h4 style="margin-top: 0;">Authorized Signature</h4>
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="footer ion-text-center ion-margin-vertical">
      <div class="logoDiv">
        <img src="./assets/images/5.png" alt="Photo" height="30px" />
        <address>
          <ion-label>3rd Floor, 315 Sai Ram Plaza, 63 Mangal Nagar Road, Vishnu Puri Colony, Indore, Madhya
            Pradesh-452001</ion-label>
        </address>
      </div>
    </div>
  </div>

  <ion-button mode="ios" (click)="downloadReceipt()" [disabled]="downloading" size="large" expand="block"
    [shape]="'round'" [strong]="true" class="ion-margin">
    <span>{{!downloading ? "Download" : "Downloading..."}}</span>
  </ion-button>
</div>