

.payslipCard {
    border-radius: 8px;
    transition: transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s, -webkit-transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;

    & .card_item_last {
        --padding-start: 5px;
        --inner-padding-end: 5px;
        & .subSalary{
            font-size: 1.1rem;
            & span {font-weight: 600;}
        }
    }
}
.downloadBtn{
    margin-inline: 16px;
}