form {
    min-height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
}
ion-row {row-gap: 10px;}
.submitBtn {
    --background: rgb(255, 106, 0);
    --background-hover: rgb(255, 106, 0);
    --background-focused: rgb(255, 106, 0);
    --color: #fff;
    font-size: 1rem;
    height: 45px;
    text-transform: capitalize;
}