<!-- <ion-item [lines]="'full'" class="ion-margin-bottom" *ngIf="employeeDetail">
  <div class="emp_avatar" slot="start">
    <ion-avatar class="employee_img">
      <app-name-img [name]="getName(employeeDetail)" [classes]="''" *ngIf="employeeDetail.imageUrl.trim() === ''"></app-name-img>
      <img [alt]="employeeDetail.firstName" *ngIf="employeeDetail.imageUrl.trim() !== ''" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </div>

  <ion-label class="emp_name">{{employeeDetail.firstName | titlecase}} {{employeeDetail.lastName || '' | titlecase}}</ion-label>

  <div class="emp_salary text-end" slot="end">
    <ion-text><small>Net Pay</small><br></ion-text>
    <ion-label class="net_salary" color="danger">{{2000 | currency: "INR"}}</ion-label>
  </div>
</ion-item> -->

<div class="text-end ion-padding-horizontal ion-margin-bottom">
  <ion-button mode="md" color="primary" shape="round" type="button" (click)="openCalendar = true">
    <!-- {{getMonthYear().trim() != '' ? getMonthYear() : 'Select Month'}} -->
    {{payslipDate | date:'MMMM, y'}}
    <ion-icon name="chevron-down-outline" aria-hidden="true" slot="end"></ion-icon>
  </ion-button>
</div>
<ion-modal [isOpen]="openCalendar" #dateModal [initialBreakpoint]="0.65" [keepContentsMounted]="true" mode="md" [backdropDismiss]="false" [showBackdrop]="true" (didDismiss)="openCalendar = false">
  <ng-template>
    <ion-content>
      <ion-datetime presentation="month-year" size="cover" mode="md" #yearMonth [(ngModel)]="payslipDate" [max]="today.toISOString()" (ngModelChange)="getPayslipOfTheMonth();">
        <ion-label slot="title">Select Year and Month</ion-label>
        <ion-buttons slot="buttons">
          <ion-button mode="md" color="danger" (click)="yearMonth.cancel(); dateModal.dismiss();">Cancel</ion-button>
          <ion-button mode="md" color="primary" [disabled]="!payslipDate" (click)="yearMonth.confirm(); dateModal.dismiss();">Done</ion-button>
        </ion-buttons>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>

<div class="sticky_div">
  <ion-segment [scrollable]="true" [(ngModel)]="activeTab" class="tab_segement">
    <ion-segment-button value="earning">
      <ion-label>Earning</ion-label>
    </ion-segment-button>
    <ion-segment-button value="deductions">
      <ion-label>Deductions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="payslip" [disabled]="payslipFrom.invalid">
      <ion-label>Payslip</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="activeTab">
  <div *ngSwitchCase="'earning'">
    <form [formGroup]="payslipFrom" class="ion-padding">
      <div class="form-input">
        <ion-input type="number" labelPlacement="floating" label="CTC" [fill]="'solid'" aria-label="CTC" formControlName="ctc" [min]="0" [readonly]="true"></ion-input>
      </div>

      <div class="form-input">
        <ion-input type="number" labelPlacement="floating" label="Basic Salary" [fill]="'solid'" aria-label="basics" formControlName="basicSalary" [min]="0" [required]="true" [readonly]="true"></ion-input>
      </div>

      <div class="form-input">
        <ion-input type="number" labelPlacement="floating" label="Bonus" [fill]="'solid'" aria-label="Bonus" formControlName="bonus" [min]="0"></ion-input>
      </div>

      <div class="form-input">
        <ion-input type="number" labelPlacement="floating" label="Advance Salary" [fill]="'solid'" aria-label="Advance Salary" formControlName="advanceSalary" [min]="0" [readonly]="true"></ion-input>
      </div>

      <div class="ion-text-end ion-margin-top ion-padding-top">
        <ion-button color="primary" type="button" mode="ios" [strong]="true" shape="round" (click)="activeTab = 'deductions'">Next</ion-button>
      </div>
    </form>
  </div>

  <div *ngSwitchCase="'deductions'">
    <form [formGroup]="payslipFrom" class="ion-padding">
      <div class="form-input">
        <ion-input type="number" labelPlacement="floating" label="Loss Of Pay" [fill]="'solid'" aria-label="LOP" formControlName="lop" [min]="0" [readonly]="true"></ion-input>
      </div>

      <div class="form-input">
        <ion-input type="number" labelPlacement="floating" label="Deduction Amount" [fill]="'solid'" aria-label="Deduction Amount" formControlName="deductionAmount" [min]="0" [readonly]="true"></ion-input>
      </div>

      <div class="ion-text-end btn-group ion-margin-top ion-padding-top">
        <ion-button color="primary" type="button" mode="ios" [strong]="true" shape="round" [disabled]="payslipFrom.invalid" (click)="submit()">Submit</ion-button>
      </div>
    </form>
  </div>

  <div *ngSwitchCase="'payslip'">
    <app-employee-payslip *ngIf="paySlip" [payslipData]="paySlip"></app-employee-payslip>
  </div>
  
  <div *ngSwitchDefault></div>
</div>
