<div class="sticky_div">
  <ion-segment [scrollable]="false" [swipeGesture]="true" [(ngModel)]="activeTab" mode="ios" class="tab_segement">
    <ion-segment-button *ngFor="let tabItem of tabs; index as a;" [value]="tabItem.value">
      <ion-label>{{tabItem.label}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<ion-list mode="ios" [inset]="true" *ngIf="activeTab !== 'history'">
  <ion-item type="button" detailIcon="pencil" [detail]="true" (click)="openCalendar = true" color="tertiary" lines="none" class="dateItem">
    <ion-icon name="calendar" [slot]="'start'"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h6>Payslip month</h6>
      <ion-text>{{payrollDate | date:'MMMM, y'}}</ion-text>
    </ion-label>
  </ion-item>
</ion-list>
<ion-modal [isOpen]="openCalendar" #dateModal [initialBreakpoint]="0.65" [breakpoints]="[0.5, 0.65, 0.8]" [keepContentsMounted]="true" mode="ios" [backdropDismiss]="false" [showBackdrop]="true" (didDismiss)="openCalendar = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Select Year and Month</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-datetime presentation="month-year" color="tertiary" size="cover" mode="md" #yearMonth [(ngModel)]="payrollDate" [max]="today.toISOString()" (ngModelChange)="getPayStructure();">
        <ion-buttons slot="buttons">
          <ion-button mode="ios" [strong]="true" color="danger" (click)="yearMonth.cancel(); dateModal.dismiss();">Cancel</ion-button>
          <ion-button mode="ios" [strong]="true" color="primary" [disabled]="!payrollDate" (click)="yearMonth.confirm(); dateModal.dismiss();">Done</ion-button>
        </ion-buttons>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>

<div [ngSwitch]="activeTab" #tabsContent style="flex: 1;">
  <div *ngSwitchCase="'earning'">
    <form [formGroup]="extraIncomeForm">
      <ion-list inset="true" mode="ios">
        <ion-item mode="ios" detail="false">
          <ion-label>CTC</ion-label>
          <ion-note slot="end">{{currentCtc | currency:'INR'}}</ion-note>
          <!-- <ion-input type="text" labelPlacement="floating" label="CTC" aria-label="CTC" [value]="" [min]="0" [readonly]="true" [tabIndex]="-1" class="untouched"></ion-input> -->
        </ion-item>
        <ion-item mode="ios" detail="false">
          <ion-label>Basic</ion-label>
          <ion-note slot="end">{{basicSalary | currency:'INR'}}</ion-note>
          <!-- <ion-input type="text" labelPlacement="fixed" label="Basic Salary" aria-label="basics" [value]="basicSalary | number:'0.1-2' | currency:'INR'" [min]="0" [required]="true" [readonly]="true" [tabIndex]="-1" class="untouched"></ion-input> -->
        </ion-item>
        <ion-item mode="ios" detail="false">
          <ion-input type="number" labelPlacement="fixed" aria-label="Bonus" formControlName="bonus" class="ion-text-end" [min]="0" [step]="100" [tabIndex]="1">
            <p slot="label">Bonus <ion-note>&#8377;</ion-note></p>
          </ion-input>
        </ion-item>
        <ion-item mode="ios" detail="false">
          <ion-input type="number" labelPlacement="fixed" aria-label="CompOff" formControlName="compOff" class="ion-text-end" [min]="0" [step]="100">
            <p slot="label">CompOff <ion-note>&#8377;</ion-note></p>
          </ion-input>
        </ion-item>
        <ion-item mode="ios" detail="false">
          <ion-input type="number" labelPlacement="fixed" aria-label="Advance Salary" formControlName="advanceAmount" class="ion-text-end"  [min]="0"  [step]="100">
            <p slot="label">Advance <ion-note>&#8377;</ion-note></p>
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-list inset="true" mode="ios" *ngIf="previousLog">
        <ion-item mode="ios" detail="false">
          <ion-label>Remaining Amount</ion-label>
          <ion-note slot="end">{{previousLog.remainingAmount | currency:'INR'}}</ion-note>
        </ion-item>
      </ion-list>

      <div class="ion-text-end ion-padding">
        <ion-button color="primary" type="button" mode="ios" [strong]="true" shape="round" (click)="activeTab = 'deductions'">Next</ion-button>
      </div>
    </form>
  </div>

  <div *ngSwitchCase="'deductions'">
    <form [formGroup]="extraIncomeForm">
      <ion-list inset="true" mode="ios">
        <ion-item mode="ios" detail="false">
          <ion-input type="number" labelPlacement="fixed" aria-label="Deduction Amount" formControlName="deductionAmount" class="ion-text-end" [min]="0" [step]="100" [enterkeyhint]="'next'" [inputmode]="'decimal'">
            <ion-text slot="label">Advance Pay Deduction <ion-note>&#8377;</ion-note></ion-text>
          </ion-input>
        </ion-item>
        <ion-item mode="ios" detail="false">
          <ion-input type="number" labelPlacement="fixed" aria-label="Extra Deduction" formControlName="otherDeduction" class="ion-text-end" [min]="0" [step]="100" [enterkeyhint]="'done'" [inputmode]="'decimal'">
            <ion-text slot="label">Other Deductions <ion-note>&#8377;</ion-note></ion-text>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-list inset="true" mode="ios" class="ion-padding-bottom">
        <ion-item mode="ios" detail="false">
          <ion-textarea rows="3" labelPlacement="floating" label="Description" formControlName="description" aria-label="description"></ion-textarea>
        </ion-item>
      </ion-list>
      <!-- [disabled]="checkFormValidation()" -->
      <div class="ion-text-end btn-group ion-padding">
        <ion-button color="primary" type="button" mode="ios" [strong]="true" shape="round" (click)="submit()">Submit</ion-button>
      </div>
    </form>
  </div>

  <div *ngSwitchCase="'history'">
    <advance-pay-card *ngFor="let history of logHistory" [advancePayDetail]="history"></advance-pay-card>
    <div class="emptyDiv" *ngIf="historyLoaded && logHistory.length < 1">
      <img src="assets/images/cash.svg" class="emptyImg" alt="No Advance">
      <ion-label class="ion-text-wrap">No Advance.</ion-label>
    </div>
  </div>
  <div *ngSwitchDefault></div>
</div>
