.log_card {
    // box-shadow: rgba(82, 96, 255, 0.14) 0px 4px 16px -5px;
    box-shadow: rgba(82, 96, 255, 0.14) 0px 3px 5px 0px;
    transition: transform 0.5s ease;
    border-radius: 16px;
    & ion-card-header {
        flex-direction: row;
        gap: 1rem;
    }
    & .cardTitle {
        font-size: 1rem;
        color: var(--color-blue-gray);
        font-weight: bold;
        max-width: calc(100% - 90px);
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        align-self: center;
    }
    & ion-icon{
        align-self: flex-start;
        margin-left: auto;
    }
    & ion-row{margin-left: -5px; margin-right: -5px;}
    & .flex-div {
        display: flex;
        flex-direction: column;

        & ion-text {font-size: 0.97rem; font-weight: 500;}
    }

    & .purpose {white-space: pre-line;}
        // color: var(--color-blue-gray);

    & ion-avatar {
        width: 40px;
        height: 40px;
    }
}
.cardActions {
    padding-inline: 10px;
    padding-bottom: 10px;
}
.flexActions{display: flex; flex-wrap: wrap; gap: 10px; justify-content: flex-end;}
.nameAvatar {
    display: flex;
    justify-content: center;
    background-color: var(--ion-color-primary);
    align-items: center;
    color: var(--ion-color-primary-contrast);
    font-size: 18px;
    font-weight: 500;
}