.applyBtn{
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-end: 16px;
    --padding-start: 16px;
    margin-right: 16px;
}
ion-segment {
    // box-shadow: 8px 0px 5px rgb(77 141 255);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;

    ion-segment-button {
        border-bottom: 2px solid var(--ion-color-primary);
        color: var(--ion-color-primary);
        --indicator-color: var(--ion-color-primary);
        --color-checked: var(--ion-color-primary-contrast);
        text-transform: capitalize;
        &.segment-button-checked {
            font-weight: 600;
            background-color: var(--ion-color-primary);
            color: var(--ion-color-light);
        }
    }
}
.leave_card {
    margin-inline: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: none;
    // & ion-button {
    //     --padding-top: 6px;
    //     --padding-bottom: 6px;
    // }
}

.log_card {
    // color: var(--ion-color-dark-tint);
    box-shadow: rgb(82 96 255 / 14%) 0px 4px 16px;
    // box-shadow: none;
    transition: transform 0.5s ease;
    & ion-icon{
        margin-left: auto;
        float: right;
    }

    & .purpose {white-space: pre-line; color: var(--color-blue-gray);}
    &:hover, &:focus {
        transform: scale3d(0.97,0.97,0.97);
        transition: transform 0.5s ease;
    }
}
.nameAvatar {
    display: flex;
    justify-content: center;
    background-color: var(--ion-color-primary);
    align-items: center;
    color: var(--ion-color-primary-contrast);
    font-size: 18px;
    font-weight: 500;
}