.applyBtn{
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-end: 16px;
    --padding-start: 16px;
    margin-right: 16px;
}
ion-segment {
    // box-shadow: 8px 0px 5px rgb(77 141 255);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;

    ion-segment-button {
        border-bottom: 2px solid var(--ion-color-primary);
        color: var(--ion-color-primary);
        --indicator-color: var(--ion-color-primary);
        --color-checked: var(--ion-color-primary-contrast);
        text-transform: capitalize;
        &.segment-button-checked {
            font-weight: 600;
            background-color: var(--ion-color-primary);
            color: var(--ion-color-light);
        }
    }
}
.leave_card {
    margin-inline: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: none;
    // & ion-button {
    //     --padding-top: 6px;
    //     --padding-bottom: 6px;
    // }
}

.log_card {
    // color: var(--ion-color-dark-tint);
    box-shadow: rgb(82 96 255 / 14%) 0px 4px 16px;
    // box-shadow: none;
    transition: transform 0.5s ease;
    & ion-card-header {
        flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        gap: 1rem;
    }
    & .cardTitle {
        font-size: 1rem;
        color: var(--color-blue-gray);
        font-weight: bold;
        // flex: 0 0 calc(100% - 90px);
        max-width: calc(100% - 90px);
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        align-self: center;
    }
    & ion-icon{
        align-self: flex-start;
        margin-left: auto;
    }
    & ion-row{margin-left: -5px; margin-right: -5px;}
    & .flex-div {
        display: flex;
        flex-direction: column;

        & ion-text {font-size: 0.97rem; font-weight: 500;}
    }

    & .purpose {white-space: pre-line;}

    & ion-avatar {
        width: 40px;
        height: 40px;
    }
    &:hover, &:focus {
        transform: scale3d(0.97,0.97,0.97);
        transition: transform 0.5s ease;
    }
}
.cardActions {
    padding-inline: 10px;
    padding-bottom: 10px;
}
.nameAvatar {
    display: flex;
    justify-content: center;
    background-color: var(--ion-color-primary);
    align-items: center;
    color: var(--ion-color-primary-contrast);
    font-size: 18px;
    font-weight: 500;
}