<ion-header [translucent]="true" mode="md" class="main-header">
  <ion-toolbar color="light">
    <!-- <ion-button slot="start" mode="md" type="button" [routerDirection]="'back'" (click)="goBack()" fill="clear" class="noBg noRipple backBtn">
      <ion-icon name="chevron-back-outline" aria-hidden="true"></ion-icon>
    </ion-button> -->
    <ion-thumbnail slot="start" class="logo_img ion-margin-start">
      <ion-img src="../../../assets/icon/no_bg_logo.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
    <!-- <ion-title>Profile</ion-title> -->
    <ion-button mode="md" slot="end" (click)="logout()" color="danger" fill="solid" shape="round" size="small" [strong]="true" class="smLogoutBtn ion-margin-end">
      <ion-label>Log out</ion-label>
    </ion-button>
    <ion-progress-bar color="teritary" type="inderminate" *ngIf="!dataLoaded && !adminDetail"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div [ngClass]="!dataLoaded || !adminDetail ? 'loadingContent container' : 'container'">
    <div class="topBox">
      <!-- <div class="brandDiv">
        <ion-img src="../../../assets/icon/hr-atlas_48.png" alt="HR-Atlas" class="brandLogo"></ion-img>
      </div> -->
      <div class="ion-text-center bigAvatarDiv">
        <ng-container *ngIf="adminDetail">
          <app-name-img [name]="getName()" *ngIf="adminDetail.imageUrl.trim() === ''"></app-name-img>
          <img *ngIf="adminDetail.imageUrl.trim() != ''" [alt]="adminDetail.firstName" [src]="adminDetail.imageUrl" />
        </ng-container>
        <ion-avatar *ngIf="!adminDetail">
          <ion-skeleton-text animated="true" style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-avatar>
      </div>
      <ion-card mode="ios" class="pcard">
        <ion-card-header class="ion-text-center">
          <ion-card-title color="primary" *ngIf="adminDetail">{{adminDetail.firstName | titlecase}} {{adminDetail.lastName || "" | titlecase}}</ion-card-title>
          <ion-card-subtitle *ngIf="adminDetail">{{adminDetail.role}}</ion-card-subtitle>

          <ion-skeleton-text animated="true" style="width: 95%; height: 15px;" *ngIf="!adminDetail"></ion-skeleton-text>
          <ion-skeleton-text animated="true" style="width: 40%; height: 10px;" *ngIf="!adminDetail"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
          <ion-button size="small" color="primary" shape="round" strong="true" mode="ios" fill="solid" *ngIf="adminDetail">
            <ion-icon slot="start" size="small" aria-hidden="true" name="pencil"></ion-icon>
            <ion-label>Edit Profile</ion-label>
          </ion-button>
          <ion-button size="small" color="primary" shape="round" strong="true" mode="ios" fill="outline" routerLink="/tabs/settings" *ngIf="adminDetail">
            <ion-icon slot="start" size="small" aria-hidden="true" name="cog-outline"></ion-icon>
            <ion-label>Setups</ion-label>
          </ion-button>
          <ion-row *ngIf="!adminDetail">
            <ion-col size="6" *ngFor="let item of [0,1]">
              <ion-skeleton-text animated="true" style="width: 90%; height: 35px;" *ngIf="!adminDetail"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-accordion-group #accordionGroup mode="md" [value]="activeTab" multiple="true" (ionChange)="accordionChange($any($event))" *ngIf="adminDetail">
      <ion-accordion value="Personal" mode="md">
        <ion-item slot="header" class="accordion_head_item">
          <div>
            <ion-label>Personal Info</ion-label>
            <ion-text class="sub-header">Name, Gender, Date of Brith, Marital status</ion-text>
          </div>
        </ion-item>
        <ion-list slot="content" mode="ios">
          <ion-item lines="none" [button]="false" [detail]="false" mode="ios" class="settingBtns_item">
            <ion-icon name="person" aria-hidden="true" aria-label="Settings" slot="start" size="small" color="medium"></ion-icon>
            <ion-input aria-label="Full Name" labelPlacement="floating" [readonly]="true" [value]="adminDetail.firstName + ' '+ adminDetail.lastName || '-'">
              <div slot="label" class="label">Full Name</div>
            </ion-input>
          </ion-item>
          <ion-item lines="none" [button]="false" [detail]="false" mode="ios" class="settingBtns_item">
            <ion-icon name="calendar-number-outline" aria-hidden="true" aria-label="Settings" slot="start" size="small" color="medium"></ion-icon>
            <ion-input aria-label="Date of Birth" labelPlacement="floating" [readonly]="true" *ngIf="adminDetail.dateOfBirth" [value]="adminDetail.dateOfBirth | date">
              <div slot="label" class="label">Birthday</div>
            </ion-input>
            <ion-input aria-label="Date of Birth" labelPlacement="floating" [readonly]="true" *ngIf="!adminDetail.dateOfBirth" [value]="'--'">
              <div slot="label" class="label">Birthday</div>
            </ion-input>
          </ion-item>
          <ion-item lines="none" [button]="false" [detail]="false" mode="ios" class="settingBtns_item">
            <ion-icon name="transgender-outline" aria-hidden="true" aria-label="Gender" slot="start" size="small" color="medium"></ion-icon>
            <ion-input aria-label="Gender" labelPlacement="floating" [readonly]="true" [value]="adminDetail.gender || '-'">
              <div slot="label" class="label">Gender</div>
            </ion-input>
          </ion-item>
          <ion-item lines="none" [button]="false" mode="ios" [detail]="false" class="settingBtns_item">
            <ion-icon name="accessibility-outline" aria-hidden="true" aria-label="Marital status" slot="start" size="small" color="medium"></ion-icon>
            <ion-input aria-label="Marital Status" labelPlacement="floating" [readonly]="true" [value]="adminDetail.maritalStatus || '-'">
              <div slot="label" class="label">Marital Status</div>
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-accordion>

      <hr>

      <ion-accordion value="Contact" mode="md">
        <ion-item slot="header" class="accordion_head_item">
          <div>
            <ion-label>Contact Info</ion-label>
            <ion-text class="sub-header">Mobile Number, Email</ion-text>
          </div>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="contact_info_content table_row">
            <ion-row>
              <ion-col size="12">
                <ion-label>Phone Number</ion-label>
                <ion-input aria-label="Phone Number" [value]="adminDetail.mobileNumber || '-'"></ion-input>
              </ion-col>

              <ion-col size="12">
                <ion-label>Alternate Phone Number</ion-label>
                <ion-input aria-label="Alternate Phone Number" [value]="adminDetail.alternateMobileNumber || '-'"></ion-input>
              </ion-col>

              <ion-col size="12">
                <ion-label>Personal Email</ion-label>
                <ion-input aria-label="Personal Email" [value]="adminDetail.email || '-'"></ion-input>
              </ion-col>

              <ion-col size="12">
                <ion-label>Official Email</ion-label>
                <ion-input aria-label="Official Email" [value]="adminDetail.officialEmail || '-'"></ion-input>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-accordion>
      <hr>

      <ion-accordion value="Address" mode="md">
        <ion-item slot="header" class="accordion_head_item">
          <div>
            <ion-label>Address</ion-label>
            <ion-text class="sub-header">Current Address, Permanent Address</ion-text>
          </div>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="address_info_content table_row">
            <ion-row>
              <ion-col size="12">
                <ion-label>Current Address</ion-label>
                <ion-input aria-label="Current Address" [value]="adminDetail.permanentAddress ? getAddress(adminDetail.currentAddress) : '-'"></ion-input>
              </ion-col>

              <ion-col size="12">
                <ion-label>Permanent Address</ion-label>
                <ion-input aria-label="Permanent Address" [value]="adminDetail.permanentAddress ? getAddress(adminDetail.permanentAddress) : '-'"></ion-input>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-accordion>
      <hr>

      <ion-accordion value="Social_info" mode="md" *ngIf="adminDetail.linkedinUrl || adminDetail.facebookUrl || adminDetail.twitterUrl">
        <ion-item slot="header" class="accordion_head_item">
          <div>
            <ion-label>Social Media</ion-label>
            <ion-text class="sub-header">Facebook, LinkedIn, Twitter</ion-text>
          </div>
          </ion-item>
        <div class="ion-padding" slot="content">
          <div class="social_info_content">
            <div class="social_links">
              <a class="link_item linkedin" [href]="adminDetail.linkedinUrl" rel="noopener" target="_blank" *ngIf="adminDetail.linkedinUrl">
                <ion-icon name="logo-linkedin" aria-hidden="true" size="large"></ion-icon>
              </a>
              <a class="link_item fb" [href]="adminDetail.facebookUrl" rel="noopener" target="_blank" *ngIf="adminDetail.facebookUrl">
                <ion-icon name="logo-facebook" aria-hidden="true" size="large"></ion-icon>
              </a>
              <a class="link_item twitter" [href]="adminDetail.twitterUrl" rel="noopener" target="_blank" *ngIf="adminDetail.twitterUrl">
                <ion-icon name="logo-twitter" aria-hidden="true" size="large"></ion-icon>
              </a>
            </div>
          </div>
        </div>
      </ion-accordion>
      <hr>
      
      <ion-accordion value="Settings" mode="md">
          <ion-item slot="header" class="accordion_head_item">
            <div>
              <ion-label>Settings</ion-label>
              <ion-text class="sub-header">Edit profile, Change Password</ion-text>
            </div>
          </ion-item>

          <ion-list slot="content" mode="ios">
            <ion-item lines="none" type="button" [button]="true" [detail]="true" mode="ios" routerLink="/tabs/view-calendar" class="settingBtns_item">
              <ion-icon name="calendar-outline" aria-hidden="true" aria-label="Settings" slot="start" size="small" color="medium"></ion-icon>
              <ion-label>Year Calendar</ion-label>
            </ion-item>
            <ion-item lines="none" type="button" [button]="true" [detail]="true" mode="ios" routerLink="/tabs/settings" class="settingBtns_item">
              <ion-icon name="cog-outline" aria-hidden="true" aria-label="Settings" slot="start" size="small" color="medium"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
            <ion-item lines="none" type="button" [button]="true" [detail]="true" mode="ios" (click)="editProfile()" class="settingBtns_item">
              <ion-icon name="pencil" aria-hidden="true" aria-label="Edit Profile" slot="start" size="small" color="medium"></ion-icon>
              <ion-label>Edit Profile</ion-label>
            </ion-item>

            <ion-item lines="none" type="button" routerLink="/change-password" mode="ios" [detail]="true" class="settingBtns_item">
              <ion-icon name="key" aria-hidden="true" aria-label="Change Password" slot="start" size="small" color="medium"></ion-icon>
              <ion-label>Change Password</ion-label>
            </ion-item>

            <ion-item lines="none" [detail]="false" type="button" mode="ios" (click)="logout()">
              <ion-icon slot="start" name="log-out-outline" aria-hidden="true" size="small" color="danger"></ion-icon>
              <ion-label color="danger">Log out</ion-label>
            </ion-item>
          </ion-list>
      </ion-accordion>
    </ion-accordion-group>

    <ng-container *ngIf="!dataLoaded || !adminDetail">
      <ion-card mode="ios" *ngFor="let item of randomList">
        <ion-item lines="none" class="noBg ion-margin-bottom" mode="md" button="false">
          <div class="emp_name_role">
            <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
          </div>
        </ion-item>
      </ion-card>
    </ng-container>
  </div>
</ion-content>
