.main-header {
    box-shadow: none;
    // background-image: linear-gradient(100deg, #4854e0, #53adf9);
    // & ion-toolbar {--background: transparent;}
}
ion-content {
    background-image: linear-gradient(100deg, #4854e0, #50c8ff);
    --background: linear-gradient(100deg, #4854e0, #50c8ff);
}
.bigAvatarDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    & > * {
        box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.25);
        width: 115px;
        height: 115px;
        border-radius: 70px;
        background-color: #fff;
        padding: 5px;
    }
}
.pcard {
    padding-top: 60px;
    margin-top: 60px;

    & ion-card-header{
        padding: 0 5px;
        display: grid;
        gap: 5px;
    }
}

.logoImg{
    max-width: 100px;
    max-height: 40px;
    object-fit: contain;
    margin: 0 5px;
    padding: 5px 0px;
    filter: drop-shadow(2px 4px 6px #f7f7f7);
    vertical-align: bottom;
}
.logo_img {
    // background-color: rgba(255,255,255,0.85);
    // height: 40px;
    // width: 40px;
    // padding: 0.25em;
    transform: translateY(-3px);
}
.container {
    position: relative;
    padding-bottom: 10px;
    min-height: calc(100% - 16px);
}

.topBox{
    padding-top: 10px;
    padding-bottom: 5px;
    // background-image: linear-gradient(100deg, #4854e0, #50c8ff);
}
.profile_card {
    --background: transparent;
    // background-image: linear-gradient(45deg, #4854e0, #50c8ff); //#ff8d00
}
ion-accordion-group{
    &.accordion-group-expand-inset ion-accordion {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    }
}
.emp_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    border: 2px solid var(--ion-color-light);
    border-radius: 50%;
    background-color: var(--color-primary);
}

.emp_name_role {
    width: 100%;
    overflow: hidden;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    & .emp_role {font-size: 0.8rem; color: #ebebeb;}
    & .emp_name {
        font-size: 1.4rem;
        line-height: 1.3;
        white-space: break-spaces;
        color: var(--ion-color-light);
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}
.smLogoutBtn {width: 90px; text-transform: capitalize;}

ion-accordion ion-item[slot="header"], .btn_item {--ripple-color: var(--ion-color-primary)}
.accordion_head_item {
    & div {padding: 15px 0; white-space: break-spaces; overflow: hidden; line-height: 1.5;}
    & .sub-header {
        font-size: 0.8rem;
        color: var(--ion-color-medium);
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}

.nested_item {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    & ion-label {font-size: 1rem; color: var(--ion-color-dark);}
}
.table_row {
    pointer-events: none;
    margin-left: -5px;
    margin-right: -5px;

    & ion-row {row-gap: 5px;}
    
    & ion-input {color: var(--ion-color-dark); min-height: 30px; font-size: 0.9rem;}
    & ion-label {font-size: 0.8rem; color: #999;}
}
.social_links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & .link_item {
        border-radius: 0.5rem;
        color: var(--ion-color-light);
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.linkedin {background-color: #0076B2;}
        &.fb {background-color: #1877F2;}
        &.twitter {background-color: #1DA1F2;}
    }
}

.personal-text {
    font-size: 10px;
    color: white;
    margin: 0;
    padding: 5px;
}

.decorative-line {
    height: 2px;
    background-color: #fff;
    margin: 10px 0;
}

.header-toolbar {
    --ion-toolbar-background: rgb(255, 106, 0);
    --ion-color-base: black;
}
.settingBtns_item{
    --ripple-color: var(--ion-color-primary);
    & ion-input {
        & .label{
            color: var(--ion-color-medium);
        }
    }
}
.brandDiv{
    float: left;
    top: -5px;
    /* right: 20px; */
    left: 20px;
    position: relative;
    filter: drop-shadow(-2px 6px 8px rgba(255,255,255,0.5)) drop-shadow(1px 6px 3px black);
    // background: #fff;
    // border-radius: 50px;
    .brandLogo{
        max-width: 100px;
        max-height: 70px;
        img {
            max-width: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
        }
    }
}

.loadingContent {
    & ion-card, & ion-item {--background: transparent;}
}
.logout-card {font-weight: 600;}
