.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    row-gap: 5%;
    background-color: rgba($color: #ffff, $alpha: 0.90);
    position: relative;
    padding: 20px 10px;
}
.logo_img {max-width: 150px; margin-left: 6px;}
.row_one {row-gap: 10px;}
.submitBtn {
    --background: rgb(255, 106, 0);
    --color: #fff;
    font-size: 1rem;
    height: 45px;
    font-weight: 600;
    text-transform: capitalize;
}