ion-card{
    border-radius: 16px;
    & ion-card-title {
        font-size: max(1.2rem, 20px);
    }
}
form{
    max-width: 450px;
    margin-inline: auto;
}
.form-input{margin-block: 16px;}
.submitBtn {
    // --background: rgb(255, 106, 0);
    // height: 45px;
    font-size: min(1.1rem, 18px);
}