<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button mode="md" [routerDirection]="'back'" (click)="goBack()" fill="clear" [ariaDisabled]="true" class="noRipple noBg">
        <ion-icon name="chevron-back-outline" aria-hidden="true" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
    <img src="../../../assets/images/logo.png" height="25" alt="Spundan" class="logo_img ion-margin-end" slot="end">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="changePasswordForm" (keyup)="passwordFormSubmit($event)">
      <ion-grid>
        <ion-row class="row_one">
          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-input labelPlacement="floating" fill="outline" class="password_input" formControlName="oldPassword" placeholder="Old password" [type]="showOldPassword ? 'text' : 'password'">
                <div slot="label">Old Password <ion-text color="danger">*</ion-text></div>
              </ion-input>
    
              <div class="toggleBtn">
                <ion-button mode="md" slot="end" fill="clear" (click)="showOldPassword = !showOldPassword">
                  <ion-icon name="eye-outline" *ngIf="showOldPassword"></ion-icon>
                  <ion-icon name="eye-off-outline" *ngIf="!showOldPassword"></ion-icon>
                </ion-button>
              </div>
            </div>
            <ion-text color="danger" class="error_txt" *ngIf="changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].errors">
              {{changePasswordForm.controls['oldPassword'].value ? 'Please enter a valid password.' : 'Old password is required'}}
            </ion-text>
          </ion-col>
  
          <ion-col size="12">
            <div class="form-input">
              <ion-input labelPlacement="floating" fill="outline" class="password_input" formControlName="newPassword" placeholder="New password" [type]="showNewPassword ? 'text' : 'password'">
                <div slot="label">New Password <ion-text color="danger">*</ion-text></div>
              </ion-input>
    
              <div class="toggleBtn">
                <ion-button mode="md" slot="end" fill="clear" (click)="showNewPassword = !showNewPassword">
                  <ion-icon name="eye-outline" *ngIf="showNewPassword"></ion-icon>
                  <ion-icon name="eye-off-outline" *ngIf="!showNewPassword"></ion-icon>
                </ion-button>
              </div>
            </div>
            <ion-text color="danger" class="error_txt" *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors">
              {{changePasswordForm.controls['newPassword'].value ? 'Enter a valid password.' : 'New password is required.'}}
            </ion-text>
            <ion-text color="danger" class="error_txt" *ngIf="changePasswordForm.errors?.['passwordmatcherror']">
              {{'Password shoudn\'t be same.'}}
            </ion-text>
          </ion-col>
          <ion-col size="12" class="ion-margin-top">
            <ion-button mode="md" type="submit" class="submitBtn" [disabled]="changePasswordForm.invalid" (click)="submit()" expand="block" shape="round">Change Password</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
