<app-side-nav></app-side-nav>
<div id="main-content" class="ion-page">
  <ion-header [translucent]="true" mode="md">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-toggle aria-label="Change Role" labelPlacement="end" color="primary"
        [checked]="userRole === userDetails.role" slot="end" (ionChange)="roleToggle($event, userDetails.role)"
        class="ion-margin-end roleToggle" [disabled]="!userDetails"
        *ngIf="isSwitchable">{{userDetails.role}}</ion-toggle>

      <ion-buttons slot="end" class="ion-margin-end" *ngIf="userDetails && userRole === 'Employee'">
        <ion-button mode="md" shape="round" [strong]="true" [color]="'primary'" fill="solid"
          class="ion-text-wrap clock_in_btn" (click)="toggleStopwatch()">
          <span class="stopwatch-time">{{ buttonLabel }}</span>
          <ion-icon slot="end" icon="time"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-thumbnail slot="start" class="logo_img">
        <ion-img src="../../assets/icon/no_bg_logo.png" alt="HR-Atlas"></ion-img>
      </ion-thumbnail>
      <!-- <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar> -->
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="light">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <swiper-container [slidesPerView]="1.25" [spaceBetween]="20" [centeredSlides]="true" [autoplay]="3000"
      [initialSlide]="0" [freeMode]="true" #swiper [loop]="true" class="banner-slides ion-margin-top"
      (afterinit)="swiperReady()" (slidechange)="swiperSlideChanged($event)" lazy="true" *ngIf="userRole === 'Admin'">
      <!-- <ng-container> -->
      <swiper-slide>
        <ion-card mode="md" class="">
          <ion-card-content>
            <ion-text>Please setup the leaves before to create an employee.</ion-text><br>
            <small><em>Settings > Employment > Leave Setup</em></small>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card mode="md" class="">
          <ion-card-content>
            <ion-text>Please setup the attendance before to create an employee.</ion-text><br>
            <small><em>Settings > Employment > Clock-in, Clock-out</em></small>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>

    <ngx-extended-pdf-viewer [src]="'assets/Technical_requirements.pdf'" [height]="'100vh'"></ngx-extended-pdf-viewer>


    <ion-card mode="ios" class="welcomeCard">
      <ion-card-content>
        <ion-item detail="false" class="welcomeItem" lines="none">
          <ion-avatar slot="start">
            <ng-container *ngIf="userDetails">
              <app-name-img [name]="getName()" [classes]="'sm'"
                *ngIf="userDetails.imageUrl.trim() === ''"></app-name-img>
              <img *ngIf="userDetails.imageUrl.trim() !== ''" alt="user" [src]="userDetails.imageUrl" />
            </ng-container>
            <ion-skeleton-text [animated]="true" *ngIf="!userDetails"></ion-skeleton-text>
          </ion-avatar>
          <ion-label color="tertiary">
            <h2 *ngIf="userDetails">Welcome, {{userDetails.firstName | titlecase}} {{userDetails.lastName}}</h2>
            <ion-text *ngIf="userDetails" color="medium"><small>{{userDetails && userDetails ? userDetails.jobTitle :
                userRole}}</small></ion-text>
            <ion-skeleton-text style="width: 100%;" animated="true" *ngIf="!userDetails"></ion-skeleton-text>
            <ion-skeleton-text style="width: 50%;" animated="true" *ngIf="!userDetails"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="primary" class="time_card" *ngIf="userDetails && userRole === 'Employee' && isRunning">
      <ion-card-header>
        <div>
          <ion-card-title>Work Duration</ion-card-title>
          <ion-card-subtitle>Clock In: {{clockInTime | date:'shortTime'}}</ion-card-subtitle>
        </div>
        <ion-icon name="time" size="large"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <div class="flex_div">
          <ion-label class="stopwatch-time">{{ stopwatchTime }}</ion-label>
          <ion-button mode="ios" [shape]="'round'" [strong]="true" color="light" (click)="toggleStopwatch()">Clock
            Out</ion-button>
        </div>
      </ion-card-content>
    </ion-card>


    <ion-list mode="ios" inset="true" class="eventList ion-padding-bottom"
      *ngIf="!birthdayLoaded || nextBirthdays.length > 0">
      <ion-list-header [color]="!birthdayLoaded ? 'light' : ''">
        <ion-label>
          <ng-container *ngIf="birthdayLoaded">
            <ion-img src="../../assets/images/cake.svg" class="eventIcon" alt="Birthday"></ion-img>
            Today's Birthday
            <h6>{{getTodaysBirthday().length > 0 ? getTodaysBirthday()[0].dateOfBirth : nextBirthdays[0].dateOfBirth |
              date:'MMMM'}}</h6>
          </ng-container>
          <ion-skeleton-text *ngIf="!birthdayLoaded" animated="true"
            style="width: 80%; height: 10px;"></ion-skeleton-text>
          <ion-skeleton-text *ngIf="!birthdayLoaded" animated="true"
            style="width: 50%; height: 10px;"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>

      <ion-item lines="none" detail="false" class="ion-margin-top list-item"
        *ngFor="let item of nextBirthdays; index as a;">
        <ion-avatar slot="start" class="dateAvatar bg">
          <ion-label color="light">{{ item.dateOfBirth | date:'dd' }}</ion-label>
          <ion-text color="light"><small>{{ item.dateOfBirth | date:'E' }}</small></ion-text>
        </ion-avatar>
        <ion-label>{{item.firstName + " " + item.lastName}}</ion-label>
      </ion-item>

      <ng-container *ngIf="!birthdayLoaded">
        <ion-item lines="none" detail="false" class="ion-margin-top list-item" *ngFor="let e of [0,1]">
          <ion-avatar slot="start" class="dateAvatar">
            <ion-skeleton-text *ngIf="!birthdayLoaded" animated="true"></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <ion-skeleton-text *ngIf="!birthdayLoaded" animated="true"
              style="width: 70%; height: 10px;"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list *ngIf="eventsLoaded && eventsList.length > 1" mode="ios" inset="true" class="eventList">
      <ion-list-header [color]="!eventsLoaded ? 'light' : ''">
        <ion-label>
          <ng-container *ngIf="eventsLoaded">
            <ion-img src="../../assets/images/event.svg" class="eventIcon" alt="Event"></ion-img>
            Upcoming Event
          </ng-container>
          <ion-skeleton-text *ngIf="!eventsLoaded" animated="true"
            style="width: 80%; height: 10px;"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-button fill="solid" mode="md" shape="round" size="large" color="primary" aria-label="Add Event"
        class="ion-no-margin addEventBtn" *ngIf="(userRole === 'Admin' || userRole === 'HR')  && eventsLoaded"
        (click)="createHollyday()">
        <ion-icon name="add" aria-hidden="true" aria-label="Add Event" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-item-group>
        <ion-item-divider class="groupTitle" mode="ios">
          <ion-skeleton-text *ngIf="!eventsLoaded" animated="true"
            style="width: 50%; height: 10px;"></ion-skeleton-text>
          <ion-label *ngIf="!upcomingEvent && eventsLoaded">{{today | date:'MMMM'}}</ion-label>
          <ion-label *ngIf="upcomingEvent">{{getDate(upcomingEvent.eventDate) | date:'MMMM'}}</ion-label>
        </ion-item-divider>

        <ion-item lines="none" detail="false" class="ion-margin-top list-item">
          <ion-avatar slot="start" [ngClass]="eventsLoaded ? 'dateAvatar bg' : 'dateAvatar'">
            <ion-label color="light" *ngIf="eventsLoaded && upcomingEvent">{{getDate(upcomingEvent.eventDate) |
              date:'dd'}}</ion-label>
            <ion-text color="light" *ngIf="eventsLoaded && upcomingEvent"><small>{{getDate(upcomingEvent.eventDate) |
                date:'E'}}</small></ion-text>
            <ion-label color="light" *ngIf="eventsLoaded && !upcomingEvent">{{today | date:'dd'}}</ion-label>
            <ion-text color="light" *ngIf="eventsLoaded && !upcomingEvent"><small>{{today |
                date:'E'}}</small></ion-text>

            <ion-skeleton-text *ngIf="!eventsLoaded" animated="true"></ion-skeleton-text>
          </ion-avatar>
          <ion-skeleton-text *ngIf="!eventsLoaded" animated="true"
            style="width: 70%; height: 10px;"></ion-skeleton-text>
          <ion-label *ngIf="eventsLoaded">
            <ion-chip color="tertiary" class="ion-no-margin form-input">{{upcomingEvent ? upcomingEvent.eventTitle :
              'Nothing else today.'}}</ion-chip>
          </ion-label>
        </ion-item>
      </ion-item-group>
      <ion-item lines="none" detail="false" class="list-item" *ngIf="eventsLoaded">
        <ion-button fill="clear" color="primary" mode="ios" strong="true" slot="end" class="ion-no-margin"
          routerLink="/tabs/view-calendar">
          View Calendar
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-grid *ngIf="isDataLoaded && userDetails" class="ion-margin-top tabList">
      <ion-row class="row_one">
        <ion-col size="12">
          <ion-item mode="ios" lines="none" detail="false">
            <ion-label class="tabHeader">Employment</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4" sizeSm="3">
          <ion-card mode="md" type="button" class="ion-activatable" [routerLink]="['/tabs/directory']">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <ion-icon name="file-tray-full" aria-hidden="true"></ion-icon>
              </div>
              <ion-text>Directory</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="4" sizeSm="3">
          <ion-card mode="md" type="button" class="ion-activatable" (click)="attendancePage()">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <div class="svg">
                  <svg width="100%" height="100%" viewBox="0 0 24.00 24.00" xmlns="http://www.w3.org/2000/svg"
                    mirror-in-rtl="true" fill="#000000" stroke="#000000" stroke-width="0.00024000000000000003">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                      stroke-width="0.144"></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M7 11c-1.1 0-2-.9-2-2V8c0-1.1.9-2 2-2s2 .9 2 2v1c0 1.1-.9 2-2 2zm-2 6.993L9 18c.55 0 1-.45 1-1v-2c0-1.65-1.35-3-3-3s-3 1.35-3 3v2c0 .552.448.993 1 .993zM19 18h-6c-.553 0-1-.447-1-1s.447-1 1-1h6c.553 0 1 .447 1 1s-.447 1-1 1zm0-4h-6c-.553 0-1-.448-1-1s.447-1 1-1h6c.553 0 1 .448 1 1s-.447 1-1 1zm0-4h-6c-.553 0-1-.448-1-1s.447-1 1-1h6c.553 0 1 .448 1 1s-.447 1-1 1z">
                      </path>
                      <path
                        d="M22 2H2C.9 2 0 2.9 0 4v16c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 17.5c0 .28-.22.5-.5.5h-19c-.28 0-.5-.22-.5-.5v-15c0-.28.22-.5.5-.5h19c.28 0 .5.22.5.5v15z">
                      </path>
                    </g>
                  </svg>
                </div>
              </div>
              <ion-text>Attendance</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="4" sizeSm="3">
          <ion-card mode="md" type="button" class="ion-activatable" [routerLink]="['/tabs/view-calendar']"
            routerLinkActive="router-link-active">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <ion-icon name="calendar-sharp" aria-hidden="true"></ion-icon>
              </div>
              <ion-text>Calendar</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="4" sizeSm="3">
          <ion-card mode="md" type="button" class="ion-activatable" (click)="showleaves()">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <ion-icon name="leaf-sharp" aria-hidden="true"></ion-icon>
              </div>
              <ion-text>Leaves</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="4" sizeSm="3">
          <ion-card mode="md" type="button" class="ion-activatable" (click)="viewPayroll()">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <ion-icon name="wallet-sharp" aria-hidden="true"></ion-icon>
              </div>
              <ion-text>Payroll</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4" sizeSm="3">
          <ion-card mode="md" type="button" class="ion-activatable" (click)="viewTimeSheet()">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
              </div>
              <ion-text>Time Sheet</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4" sizeSm="3" *ngIf="userRole === 'Admin' || userRole === 'HR'">
          <ion-card mode="md" type="button" class="ion-activatable" [routerLink]="['/tabs/assign-project']">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <ion-icon name="document-text-outline" aria-hidden="true"></ion-icon>
              </div>
              <ion-text>Assign-Project</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="4" sizeSm="3" *ngIf="userRole === 'Admin' || userRole === 'HR'">
          <ion-card mode="md" type="button" class="ion-activatable" [routerLink]="['/tabs/settings']">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <ion-icon name="cog-sharp" aria-hidden="true"></ion-icon>
              </div>
              <ion-text>Settings</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="4" sizeSm="3" *ngIf="userRole === 'Admin' || userRole === 'HR'">
          <ion-card mode="md" type="button" class="ion-activatable" (click)="addEmployee()">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <ion-icon name="person-add-sharp" aria-hidden="true"></ion-icon>
              </div>
              <ion-text>Add Employee</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col size="4" sizeSm="3" *ngIf="userRole === 'Admin' || userRole === 'HR'">
          <ion-card mode="md" type="button" class="ion-activatable" (click)="downlaodPayslip()">
            <ion-ripple-effect class="customRipple"></ion-ripple-effect>
            <ion-card-content>
              <div class="icon_card">
                <ion-icon name="document-lock-outline" aria-hidden="true"></ion-icon>
              </div>
              <ion-text>Download Payslip</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-list mode="ios" inset="true" class="attendanceList"
      *ngIf="userRole === 'Admin' || userRole === 'HR' && (attendanceList.length > 0 || !attendanceLoaded)">
      <ion-list-header>
        <ion-label>Today's Attendance</ion-label>
        <ion-button aria-label="sync Attendance" size="small" shape="round" mode="md" fill="clear"
          (click)="getTodayAttendance(today.toISOString(), 0)">
          <ion-icon name="sync" aria-label="sync" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item lines="inset" [button]="false" [detail]="false" mode="md" class="list-item"
        *ngFor="let item of attendanceList; index as i;">
        <ion-avatar class="employee_img" slot="start" mode="md">
          <app-name-img [name]="item.EmployeeDetails.firstName.slice(0,1)" [classes]="'sm'"></app-name-img>
        </ion-avatar>
        <ion-label>{{item.EmployeeDetails.firstName | titlecase}} {{item.EmployeeDetails.lastName || ''}}</ion-label>
        <ion-button fill="solid" mode="ios" [color]="item.status === 'Absent' ? 'danger' : 'success'" slot="end"
          shape="round" class="statusBtn" *ngIf="attendanceLoaded">{{item.status.slice(0,1)}}</ion-button>
        <ion-thumbnail slot="end" *ngIf="!attendanceLoaded" class="skeleton_thumb">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item lines="none" detail="false" class="list-item" *ngIf="attendanceList.length > 1">
        <ion-button fill="clear" color="primary" mode="ios" strong="true" slot="end" class="ion-no-margin"
          (click)="attendancePage()">
          View All
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list mode="ios" class="ion-margin-vertical"
      *ngIf="userRole === 'Admin' || userRole === 'HR' && requestedLeaveList.length > 0">
      <ion-list-header>
        <ion-label>Leave Requests</ion-label>
        <ion-button fill="clear" color="primary" mode="ios" strong="true" *ngIf="requestedLeaveList.length > 0"
          (click)="showAllLeaves()">
          View All
        </ion-button>
      </ion-list-header>
      <leave-card *ngFor="let leaveItem of requestedLeaveList; index as a" [leaveItem]="leaveItem"
        (actionReturn)="leaveApprovel($event)"></leave-card>
    </ion-list>

    <ion-title class="ion-text-center ion-margin-vertical" *ngIf="isDataLoaded && !userDetails">Please Login
      First</ion-title>
  </ion-content>
</div>