<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-avatar slot="start" class="user_avatar" *ngIf="userDetails" (click)="showprofile()">
      <app-name-img [name]="getName()" [classes]="'sm'" *ngIf="userDetails.imageUrl.trim() === ''"></app-name-img>
      <img *ngIf="userDetails.imageUrl.trim() !== ''" alt="user" [src]="userDetails && userDetails.imageUrl.trim() !== '' ? userDetails.imageUrl: 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
    </ion-avatar>

    <ion-avatar slot="start" class="user_avatar" *ngIf="!userDetails">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-avatar>

    <ion-toggle aria-label="Change Role" labelPlacement="end" color="primary" [checked]="userRole === 'Admin'" slot="end" (ionChange)="roleToggle($event)" class="ion-margin-end" [disabled]="!userDetails" *ngIf="isSwitchable">Admin</ion-toggle>

    <ion-buttons slot="end" class="ion-margin-end">
      <ion-button mode="md" shape="round" [strong]="true" [color]="'primary'" fill="solid" class="ion-text-wrap clock_in_btn" (click)="toggleStopwatch()" *ngIf="userDetails && userRole === 'Employee'">
        <span class="stopwatch-time">{{ buttonLabel }}</span>
        <ion-icon slot="end" icon="time"></ion-icon>
      </ion-button>

      <ion-button mode="md" shape="round" [strong]="true" [color]="'danger'" fill="solid" class="ion-text-wrap clock_in_btn" (click)="logout()" *ngIf="userDetails">
        <ion-icon name="power" slot="icon-only" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-thumbnail slot="end" class="logo_img ion-margin-end" *ngIf="userRole !== 'Employee'">
      <ion-img src="../../assets/icon/hr-atlas_logo_2.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail> -->
    <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <swiper-container [slidesPerView]="1.25" [spaceBetween]="20" [centeredSlides]="true" [autoplay]="3000" [initialSlide]="0" [freeMode]="true" #swiper [loop]="true" class="banner-slides ion-margin-top" (afterinit)="swiperReady()" (slidechange)="swiperSlideChanged($event)" lazy="true" *ngIf="userRole === 'Admin'">
    <!-- <ng-container> -->
      <swiper-slide>
        <ion-card mode="md" class="">
          <ion-card-content>
            <ion-text>Please setup the leaves before to create an employee.</ion-text><br>
            <small><em>Settings > Calendar setup > leave Setup</em></small>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card mode="md" class="">
          <ion-card-content>
            <ion-text>Please setup the leaves before to create an employee.</ion-text><br>
            <small><em>Settings > Primary setup > Attendance Setup</em></small>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    <!-- </ng-container> -->
    <!-- <swiper-slide>
      <ion-card mode="md" class=" ion-text-center">
        <ion-card-header>
          <ion-label>Slide 3</ion-label>
        </ion-card-header>
      </ion-card>
    </swiper-slide> -->
  </swiper-container>

  <!-- <img src="../../assets/images/logo.png" alt="Photo" class="logo_img2" /> -->

  <!-- <div class="ion-text-center"><ion-spinner color="medium" *ngIf="!isDataLoaded || !userDetails" name="circular"></ion-spinner></div> -->

  <ion-card mode="ios" color="primary" class="time_card" *ngIf="userDetails && userRole === 'Employee' && isRunning">
    <ion-card-header>
      <div>
        <ion-card-title>Work Duration</ion-card-title>
        <ion-card-subtitle>Clock In: {{clockInTime | date:'shortTime'}}</ion-card-subtitle>
      </div>
      <ion-icon name="time" size="large"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <div class="flex_div">
        <ion-label class="stopwatch-time">{{ stopwatchTime }}</ion-label>
        <ion-button mode="ios" [shape]="'round'" [strong]="true" color="light" (click)="toggleStopwatch()">Clock Out</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <ion-grid *ngIf="!isDataLoaded" class="ion-margin-top">
    <ion-row class="row_one">
      <ion-col size="4" sizeSm="3" *ngFor="let card of demoCard">
        <ion-card mode="md">
          <ion-card-content>
            <ion-avatar class="skeleton_avatar">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-avatar>
            <p><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="flex_div_2" *ngIf="!isDataLoaded">
    <div class="loader_img">
      <img src="../../assets/icon/hr-atlas-150x80.png" alt="HR-Atlas">
    </div>
    <ion-spinner [color]="'tertiary'"></ion-spinner>
  </div>

  <ion-grid *ngIf="isDataLoaded && userDetails" class="ion-margin-top">
    <ion-row class="row_one">
      <ion-col size="12" class="ion-margin-bottom" *ngIf="userRole === 'Admin'">
        <ion-button mode="md" shape="round" class="add_emp_btn" (click)="addEmployee()">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          Add Employees
        </ion-button>
      </ion-col>

      <ion-col size="4" sizeSm="3">
        <ion-card mode="md" type="button" [routerLink]="['/tabs/directory']">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="file-tray-full-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Directory</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4" sizeSm="3">
        <ion-card mode="md" type="button" (click)="attendancePage()">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="hand-right-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Attendance</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4" sizeSm="3">
        <ion-card mode="md" type="button" [routerLink]="['/tabs/view-calendar']" routerLinkActive="router-link-active" >
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="calendar-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>calendar</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4" sizeSm="3">
        <ion-card mode="md" type="button" (click)="showleaves()">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="fast-food-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Leaves</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="4" sizeSm="3">
        <ion-card mode="md" type="button" (click)="viewPayroll()">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="cash-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Payroll</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4" sizeSm="3" *ngIf="userRole === 'Admin'">
        <ion-card mode="md" type="button" [routerLink]="['/tabs/settings']">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="cog-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Settings</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="leavesRequest ion-padding-vertical" *ngIf="userRole === 'Admin' && requestedLeaveList.length > 0">
    <h2 class="ion-margin">Leave Requests</h2>
    <ion-card class="log_card" mode="ios" *ngFor="let leaveItem of requestedLeaveList; index as a">
      <ion-card-header>
        <div>
          <ion-chip *ngIf="leaveItem.employeeDetails" color="tertiary" class="ion-no-margin">
            <ion-avatar *ngIf="leaveItem.employeeDetails.imageUrl">
              <img [alt]="leaveItem.employeeDetails.firstName" [src]="leaveItem.employeeDetails.imageUrl" />
            </ion-avatar>
            <ion-label>{{leaveItem.employeeDetails.firstName | titlecase}} {{leaveItem.employeeDetails.lastName || '' | titlecase}}</ion-label>
          </ion-chip>
        </div>
        <div class="ion-text-end">
          <ion-text>{{leaveItem.leaveType}}</ion-text>
        </div>
      </ion-card-header>
      <ion-card-content>
        <p>
          <ion-text>{{leaveItem.startDate | date:'shortDate'}}</ion-text> - <ion-text>{{leaveItem.endDate | date:'shortDate'}}</ion-text>
        </p>
        <p class="purpose"><strong>Purpose: </strong> <ion-text>{{leaveItem.purpose}}</ion-text></p>
      </ion-card-content>

      <div class="ion-text-end">
        <ion-button type="button" color="danger" fill="clear" [strong]="true" size="small" (click)="leaveApprovel(leaveItem.guid, false)">Cancel</ion-button>
        <ion-button type="button" color="primary" fill="clear" [strong]="true" size="small" (click)="leaveApprovel(leaveItem.guid, true)">Approve</ion-button>
      </div>
    </ion-card>

    <div class="ion-text-end" *ngIf="moreRequests">
      <ion-button fill="clear" color="primary" [strong]="true" size="small" mode="md" (click)="showAllLeaves()">View All</ion-button>
    </div>
  </div>
  <ion-title class="ion-text-center ion-margin-vertical" *ngIf="isDataLoaded && !userDetails">Please Login First</ion-title>
</ion-content>
