.user_avatar{
    width: 40px;
    height: 40px;
    margin: 6px 0 6px 16px;
}
.logo_img2 {
    display: block;
    max-width: 200px;
    margin: 20px auto 30px;
}
.clock_in_btn {
    --box-shadow: none;
    text-transform: capitalize;
}
swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}
swiper-slide {
    ion-card{
        margin-inline: 0;
        box-shadow: 0 0px 2px rgba(0,0,0,0.25);
        border-radius: 0.81rem;
    }
}
.row_one {
    row-gap: 5px;
    justify-content: center;
    & ion-card {
        margin-inline: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        box-shadow: rgb(82 96 255 / 20%) 0px 3px 1px -2px, rgb(82 96 255 / 14%) 0px 2px 2px 0px, rgb(82 96 255 / 12%) 0px 1px 5px 0px;

        & .icon_card {color: var(--color-primary);}

        & ion-label {
            color: #333;
        }
    }
}
.add_emp_btn {margin-left: auto; display: block; max-width: 250px; height: 45px; font-size: 1rem; font-weight: 600;}
.skeleton_avatar{margin: 0 auto 10px;}

.flex_div_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: -webkit-fill-available;
    pointer-events: none;
}
.time_card {
    box-shadow: rgb(6 69 177 / 29%) 0 2px 4px, rgb(6 69 177 / 81%) 0 8px 23px -3px;
    ion-card-header {flex-direction: row; justify-content: space-between; gap: 16px; align-items: center;}
    ion-button {text-transform: capitalize;}
    & .flex_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
    }
}

.log_card {
    color: var(--ion-color-dark-tint);
    box-shadow: rgb(82 96 255 / 14%) 0px 4px 16px;
    & ion-card-header {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
    }

    & .purpose {white-space: pre-line;}
}