<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-avatar slot="start" class="user_avatar">
      <img *ngIf="userDetails" alt="user" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      <ion-skeleton-text *ngIf="!userDetails" [animated]="true"></ion-skeleton-text>
    </ion-avatar>
    <ion-title>Home</ion-title>
    <ion-button mode="md" slot="end" shape="round" color="primary" fill="solid" class="ion-padding-horizontal clock_in_btn" (click)="toggleStopwatch()" [ngClass]="{ 'running': isRunning }" *ngIf="userRole === 'Employee'">
      {{ buttonLabel }}
      <span *ngIf="isRunning" class="stopwatch-time">{{ stopwatchTime }}</span>
      <ion-icon *ngIf="isRunning" slot="end" icon="time"></ion-icon>
    </ion-button>
    <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <img src="../../assets/images/logo.png" alt="Photo" class="logo_img" />

  <!-- <div class="ion-text-center"><ion-spinner color="medium" *ngIf="!isDataLoaded || !userDetails" name="circular"></ion-spinner></div> -->

  <ion-grid *ngIf="!isDataLoaded">
    <ion-row class="row_one">
      <ion-col size="4" sizeSm="3" *ngFor="let card of demoCard">
        <ion-card mode="md">
          <ion-card-content>
            <ion-avatar class="skeleton_avatar">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-avatar>
            <p><ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="row_one">
      <ion-col size="12" class="ion-margin-bottom" *ngIf="userRole === 'Admin'">
        <ion-button mode="md" shape="round" class="add_emp_btn" (click)="addEmployee()">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          Add Employees
        </ion-button>
      </ion-col>

      <ion-col size="4" sizeSm="3">
        <ion-card mode="md" type="button" [routerLink]="['/tabs/employee-list']">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="file-tray-stacked-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Directory</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4" sizeSm="3" *ngIf="userRole === 'Employee'">
        <ion-card mode="md" type="button" [routerLink]="'/tabs/attendance'">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="hand-right-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Attendance</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4" sizeSm="3">
        <ion-card mode="md" type="button" (click)="showleaves()">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="analytics-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Leaves</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="4" sizeSm="3" *ngIf="userRole === 'Employee'">
        <ion-card mode="md" type="button" [routerLink]="['/tabs/payroll']">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="cash-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Payroll</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4" sizeSm="3">
        <ion-card mode="md" type="button" [routerLink]="['/tabs/settings']">
          <ion-card-content>
            <div class="icon_card">
              <ion-icon name="settings-outline" aria-hidden="true" size="large"></ion-icon>
            </div>
            <ion-label>Settings</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
