form {
    margin-top: 16px;
    margin-bottom: 16px;
    
    ion-row {row-gap: 10px;}
    
    .submitBtn {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
        height: 45px;
        font-weight: 600;

        &:not(.deleteBtn){
            --background: rgb(255, 106, 0);
            --color: #fff;
        }
    }
}