.wrapper {
    // height: 24vh;
    width: 85vw;  
    margin: 10px auto;
    color: black;
  }
  .rounded-rectangle {
    width: 100%;
    // height: 50px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    h4 {
        font-size: 20px;
        font-weight: 500;
        margin: auto 0;
    }
    p {
      margin: 10px 0 10px 0;
    }
  }
