<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-button mode="md" slot="start" [routerDirection]="'back'" (click)="goBack()" fill="clear" [ariaDisabled]="true" class="noRipple noBg">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>{{action === 'add' ? 'Add' : 'Update'}} {{isDataLoaded && employeeForm.controls['role'].value === 'Admin' ? 'Profile' : 'Employee'}}</ion-title>
    <ion-thumbnail slot="end" class="logo_img ion-margin-end">
      <ion-img src="../../../assets/icon/no_bg_logo.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
    <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="ion-padding-horizontal ion-margin-top">
    <ion-note color="medium">All * fields are mandatory.</ion-note>
  </div>

  <form [formGroup]="employeeForm" *ngIf="isDataLoaded">
    <ion-list mode="ios" class="ion-padding-bottom" inset="true">
      <ion-list-header>
        <ion-label>Personal Information</ion-label>
      </ion-list-header>
      <ion-item detail="false">
        <ion-input labelPlacement="floating" formControlName="firstName" placeholder="First Name" type="text" maxlength="120" minlength="2" inputmode="text" [enterkeyhint]="'next'" autocomplete="name" autofocus="true">
          <div slot="label">First Name <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
      <ion-item detail="false">
        <ion-input labelPlacement="floating" formControlName="lastName" placeholder="Last Name" type="text" inputmode="text" [enterkeyhint]="'next'">
          <div slot="label">Last Name</div>
        </ion-input>
      </ion-item>
      <ion-item detail="false">
        <ion-input labelPlacement="floating" formControlName="mobileNumber" placeholder="Mobile Number" maxlength="10" minlength="10" inputmode="tel" [enterkeyhint]="'next'" type="tel" autocomplete="mobileNumber">
          <div slot="label">Mobile Number <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
      <ion-item detail="false">
        <ion-input labelPlacement="floating" formControlName="email" placeholder="Personal Email" type="email" inputmode="email" [enterkeyhint]="'next'" autocomplete="email">
          <div slot="label">Personal Email</div>
        </ion-input>
      </ion-item>
      <ion-item detail="false">
        <ion-input labelPlacement="floating" formControlName="officialEmail" placeholder="Official Email" type="email" inputmode="email" [enterkeyhint]="'next'" autocomplete="officialEmail">
          <div slot="label">Official Email <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
      <ion-item detail="false">
        <ion-select labelPlacement="floating" formControlName="role" placeholder="Role" interface="action-sheet">
          <div slot="label">Role <ion-text color="danger">*</ion-text></div>
          <ion-select-option value="Admin">Admin</ion-select-option>
          <ion-select-option value="Employee">Employee</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
    <ion-card mode="md" class="personal_card">
      <ion-card-header class="card_header">
        <ion-card-title>Employment Information</ion-card-title>
        <ion-card-subtitle color="medium">Employment information will be show in employee profile.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="row_one">
          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-input labelPlacement="floating" fill="solid" formControlName="employeeId" placeholder="First Name" type="text" [readonly]="true" color="light">
                <div slot="label">Employee Id <ion-text color="danger">*</ion-text></div>
              </ion-input>
            </div>
          </ion-col>
          
          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-input labelPlacement="floating" fill="solid" formControlName="designation" placeholder="Designation" type="text" inputmode="text" [enterkeyhint]="'next'" autocomplete="designation" [required]="true">
                <div slot="label">Designation <ion-text color="danger">*</ion-text></div>
              </ion-input>
              <ion-text color="danger" class="error_txt" *ngIf="employeeForm.controls['designation'].touched && employeeForm.controls['designation'].errors">
                Designation is required.
              </ion-text>
            </div>
          </ion-col>
          
          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-input labelPlacement="floating" fill="solid" formControlName="jobTitle" placeholder="Job Title" type="text" [required]="true" inputmode="text" [enterkeyhint]="'next'" autocomplete="jobTitle">
                <div slot="label">Job Title <ion-text color="danger">*</ion-text></div>
              </ion-input>
              <ion-text color="danger" class="error_txt" *ngIf="employeeForm.controls['jobTitle'].touched && employeeForm.controls['jobTitle'].errors">
                Title is required.
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-select labelPlacement="floating" fill="solid" formControlName="employeeType" placeholder="Select" interface="action-sheet" [required]="true" expandedIcon="caret-up">
                <div slot="label">Employee Type <ion-text color="danger">*</ion-text></div>
                <ion-select-option value="Full Time">Full Time</ion-select-option>
                <ion-select-option value="Intern">Intern</ion-select-option>
              </ion-select>
              <ion-text color="danger" class="error_txt" *ngIf="employeeForm.controls['employeeType'].touched && employeeForm.controls['employeeType'].errors">
                Employee type is required.
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-select labelPlacement="floating" fill="solid" formControlName="department" placeholder="Select" interface="action-sheet" expandedIcon="caret-up">
                <div slot="label">Department <ion-text color="danger">*</ion-text></div>
                <ion-select-option [value]="depart.name" *ngFor="let depart of deparmentList">{{depart.name}}</ion-select-option>
              </ion-select>
              <ion-text color="danger" class="error_txt" *ngIf="employeeForm.controls['department'].touched && employeeForm.controls['department'].errors">
                Department is required.
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-select labelPlacement="floating" fill="solid" formControlName="subDepartment" placeholder="Select" interface="action-sheet" [required]="true" expandedIcon="caret-up">
                <div slot="label">Sub Department <ion-text color="danger">*</ion-text></div>
                <ion-select-option [value]="subDepart" *ngFor="let subDepart of getSubDeparments()">{{subDepart}}</ion-select-option>
              </ion-select>
              <ion-text color="danger" class="error_txt" *ngIf="employeeForm.controls['subDepartment'].touched && employeeForm.controls['subDepartment'].errors">
                Sub department is required.
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-select labelPlacement="floating" fill="solid" formControlName="status" placeholder="Select" interface="action-sheet" [required]="true" (ionChange)="statusChange($event)" expandedIcon="caret-up">
                <div slot="label">Status <ion-text color="danger">*</ion-text></div>
                <ion-select-option value="Active">Active</ion-select-option>
                <ion-select-option value="InActive">In Active</ion-select-option>
              </ion-select>
            </div>
          </ion-col>

          <ion-col size="12" sizeSm="6">
            <div class="form-input" (click)="toggleCtrl('joiningDate')">
              <ion-input labelPlacement="floating" fill="solid" readonly="true" [value]="getCtrlDate('joiningDate') | date:'yyyy-MM-dd'" required="true" type="date">
                <div slot="label">Joinig Date <ion-text color="danger">*</ion-text></div>
              </ion-input>
              <div class="toggleBtn">
                <ion-button mode="ios" color="medium" fill="clear" size="small">
                  <ion-icon name="calendar-number-outline" aria-hidden="true" slot="icon-only"></ion-icon>
                </ion-button>
              </div>
              <ion-text color="danger" class="error_txt" *ngIf="touchedCtrls.includes('joiningDate') && employeeForm.controls['joiningDate'].errors">
                Joining date is required.
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12" sizeSm="6" *ngIf="employeeForm.controls['status'].value === 'InActive'">
            <div class="form-input" (click)="toggleCtrl('resignationDate')">
              <ion-input labelPlacement="floating" fill="solid" [readonly]="true" [value]="getCtrlDate('resignationDate') | date:'yyyy-MM-dd'" required="true" type="date">
                <div slot="label">Resignation Date <ion-text color="danger">*</ion-text></div>
              </ion-input>
              <div class="toggleBtn">
                <ion-button mode="ios" color="medium" fill="clear" size="small">
                  <ion-icon name="calendar-number-outline" aria-hidden="true" slot="icon-only"></ion-icon>
                </ion-button>
              </div>
              <ion-text color="danger" class="error_txt" *ngIf="touchedCtrls.includes('resignationDate') && employeeForm.controls['resignationDate'].errors">
                Resignation date is required.
              </ion-text>
            </div>
          </ion-col>

          <ion-col size="12" sizeSm="6">
            <div class="form-input flexInput">
              <ion-input labelPlacement="floating" fill="solid" formControlName="probationPeriod" class="flex_input" placeholder="In Days" required="true" type="number" [required]="true" inputmode="numeric" [enterkeyhint]="'next'" autocomplete="probationPeriod" min="0" step="1" max="300" [errorText]="'Probation period is required.'">
                <div slot="label">Probation Period <ion-text color="danger">*</ion-text></div>
              </ion-input>
              <div class="toggleBtn">
                <ion-note color="medium">Day(s)</ion-note>
              </div>
            </div>
          </ion-col>
          
          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-input labelPlacement="floating" fill="solid" formControlName="work_experience" placeholder="Experience" type="number" inputmode="numeric" [enterkeyhint]="'next'" autocomplete="work_experience" min="0" step="0.5" max="60">
                <div slot="label">Work Experience </div>
              </ion-input>
            </div>
          </ion-col>
          
          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-select labelPlacement="floating" fill="solid" formControlName="workLocation" placeholder="Select" interface="action-sheet" expandedIcon="caret-up">
                <div slot="label">Work Location</div>
                <ion-select-option [value]="work" *ngFor="let work of workType">{{work}}</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-list mode="ios" class="ion-padding-bottom" inset="true">
      <ion-list-header>
        <ion-label>Addresses Information</ion-label>
      </ion-list-header>

      <ion-item-group formGroupName="currentAddress">
        <!-- <ion-item-divider>
          <ion-label>Current Address</ion-label>
        </ion-item-divider> -->
        <ion-item detail="false">
          <ion-input labelPlacement="floating" formControlName="addressLine1" placeholder="Address Line 1" type="text" inputmode="text" [enterkeyhint]="'next'" autocomplete="address-line1">
            <div slot="label">Address Line 1</div>
          </ion-input>
        </ion-item>
        <ion-item detail="false">
          <ion-input labelPlacement="floating" formControlName="addressLine2" placeholder="Address Line 2" type="text" inputmode="text" [enterkeyhint]="'next'" autocomplete="address-line2">
            <div slot="label">Address Line 2</div>
          </ion-input>
        </ion-item>
        <ion-item detail="false">
          <ion-input labelPlacement="floating" formControlName="city" placeholder="City" type="text" inputmode="text" [enterkeyhint]="'next'" autocomplete="city">
            <div slot="label">City</div>
          </ion-input>
        </ion-item>
        <ion-item detail="false">
          <ion-input labelPlacement="floating" formControlName="state" placeholder="State" type="text" inputmode="text" [enterkeyhint]="'next'" autocomplete="state">
            <div slot="label">State</div>
          </ion-input>
        </ion-item>
        <ion-item detail="false">
          <ion-input labelPlacement="floating" formControlName="country" placeholder="Country" type="text" inputmode="text" [enterkeyhint]="'next'" autocomplete="country">
            <div slot="label">Country</div>
          </ion-input>
        </ion-item>
        <ion-item detail="false">
          <ion-input labelPlacement="floating" formControlName="zipCode" placeholder="Zip Code" type="text" inputmode="numeric" [enterkeyhint]="'go'" autocomplete="on" minlength="4" maxlength="6" counter="true">
            <div slot="label">Zip Code</div>
          </ion-input>
        </ion-item>
      </ion-item-group>
    </ion-list>


    <!-- <ion-list mode="ios" class="ion-paddng-vertical" inset="true">
      <ion-list-header (click)="expandCard('personal_card')">
        <ion-label>Personal Information</ion-label>
        <ion-button mode="md" fill="clear" class="card_toggle_btn noBg noRipple" color="medium">
          <ion-icon [name]="isExpanded('personal_card') ? 'chevron-up-outline' : 'chevron-down-outline'" aria-hidden="true" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item detail="false">
        
      </ion-item>
    </ion-list> -->

    <!-- <ion-modal trigger="dobCalendar" [initialBreakpoint]="0.5" mode="md" #dobModal (ionDidDismiss)="openCalendar = false;">
      <ng-template>        
        <ion-content>
          <ion-datetime presentation="date" mode="md" [preferWheel]="true" [size]="'cover'" #datetime (ionChange)="selectDate($any($event))" formControlName="dateOfBirth">
            <span slot="title">Date of Birth</span>
            <ion-buttons slot="buttons">
              <ion-button mode="md" color="danger" (click)="datetime.cancel(); dobModal.dismiss();">Cancel</ion-button>
              <ion-button mode="md" color="primary" (click)="datetime.confirm(); dobModal.dismiss();">Done</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal> -->
  </form>
</ion-content>
<ion-footer *ngIf="isDataLoaded">
  <ion-button mode="md" type="submit" class="submitBtn" [disabled]="employeeForm.invalid || isInProgress" color="primary" (click)="submit()" expand="full" shape="round">
    <ion-icon name="person-add-outline" aria-hidden="true" slot="start" *ngIf="action === 'add'"></ion-icon>
    {{action === 'add' ? 'Add' : 'update' | titlecase}} {{isDataLoaded && employeeForm.controls['role'].value === 'Employee' ? 'Employee' : 'Profile'}}
  </ion-button>
</ion-footer>
