.container {
    padding: 20px 0px;
}
.row_one {
    row-gap: 10px;
    margin-left: -5px;
    margin-right: -5px;
}
.submitBtn {
    height: 45px;
    font-weight: 600;
    font-size: 1rem;
}
.card_header {
    flex-direction: row;
    gap: 10px;
     
    & ion-card-title{margin-top: 5px;}

    & ion-button {
        align-self: flex-start;
        margin: 0 -10px 0 auto;
        width: 40px;
        --padding-end: 0;
        --padding-start: 0;
    }
}

.social_items {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    column-gap: 10px;

    & .social_icons{
        width: 55px;
        height: 55px;
        border-radius: 0.5rem;
        color: var(--ion-color-light);
        display: flex;
        align-items: center;
        justify-content: center;

        &.linkedin {background-color: #0076B2;}
        &.fb {background-color: #1877F2;}
        &.twitter {background-color: #1DA1F2;}
    }

    & ion-input{max-width: calc(100% - 65px);}
}
ion-footer {background-color: #fff;}
