.offline_container{
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    .backdrop {
        height: 100%;
        background-color: rgba(0,0,0,0.25);
        position: relative;
        top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        ion-card {
            --background: var(--ion-color-danger);
            flex: 0 1 500px;
            ion-card-title {--color: var(--ion-color-danger-contrast);}
        }
    }
}