.topBox{
    padding-bottom: 15px;
    // background-image: linear-gradient(100deg, #4854e0, #50c8ff);
    background-color: #fff;
    position: relative;
}
.bannerDiv{
    // background-color: rgba(0, 0, 0, 0.065);
    // background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background:
        radial-gradient(circle, transparent 20%, #e2e2e2 20%, #e2e2e2 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, #e2e2e2 20%, #e2e2e2 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(#6cc9ef 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #6cc9ef 8px, transparent 8px) -4px 0;
    background-color: #e2e2e2;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
    filter: opacity(0.21);
    height: 100px;
}
.bigAvatarDiv {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 30px;
    left: 16px;
    z-index: 1;
    width: 100%;
    transition: all 0.3s ease;
    & > * {
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
        width: 115px;
        height: 115px;
        border-radius: 70px;
        background-color: #fff;
        padding: 5px;
    }
}
.pcard {
    margin-top: 40px;

    & ion-list-header{
        --color: var(--color-blue-gray);
        & .editSmallBtn{align-self: center;}
    }
}
.weekDaysItem{
    & ion-label{margin-right: 0;}

    & ion-chip {
        transform: translateX(-4px);
        font-size: 0.8em; font-weight: 600;
        transition: all 0.3s ease;
    }
}

.settingBtns_item{
    --ripple-color: var(--ion-color-primary);
    &.addressItem{
        & ion-icon[slot='start']{
            align-self: self-start;
            margin-top: 10px;
        }
    }
    & ion-chip[slot='start']{
        padding-top: 0;
        padding-bottom: 0;
        padding-inline: 7px;
        color: var(--ion-color-contrast);
        background: rgba(var(--ion-color-base-rgb), 1);

        & ion-icon{
            margin: 0;
        }
    }
}
ion-list-header {
    & ion-label {
        & h2 {
            font-size: 18px;
            font-weight: 600;
        }
    }
}
