.container{padding-bottom: 80px;}

.calendar_card {
    border-radius: 10px;
    box-shadow: none;
    margin-inline: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    & table {
        width: 100%;
        & tr {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin-bottom: 5px;
        }
        & td {
            display: flex;
            align-items: center;
            justify-content: center;
            & span {
                display: inline-flex;
                border-radius: 50%;
                padding: 5px;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                color: var(--color-blue-gray);
                &.active{
                    background-color: var(--ion-color-tertiary);
                    color: var(--ion-color-tertiary-contrast);
                    font-weight: 600;
                }
            }
        }
    }
}

ion-list.eventList{
    border-radius: 10px;
}
.date_avatar {
    background-color: var(--ion-color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    & ion-text{
        color: var(--ion-color-tertiary-contrast);
        font-weight: 500;
    }
}

ion-segment {
    background-color: var(--ion-color-tertiary-contrast);
    position: sticky;
    top: 0;
    z-index: 2;
    & ion-segment-button{
        font-size: 0.8rem;
        text-transform: capitalize;
        // font-weight: 500;
        & ion-icon {margin-right: 5px;}
        // &.segment-button-checked{
            color: var(--ion-color-tertiary);
            font-weight: 600;
        // }
    }
}

.optionITem.edit {
    color: var(--ion-color-tertiary);
}
.optionITem.delete {
    color: var(--ion-color-danger);
}
.calendarControls {
    --padding-start: 5px;
    --inner-padding-end: 5px;
    & ion-label {font-weight: 600;}
}