.container{padding: 10px;}
.calendar_row {
    --gap: 10px;
    --line-thickness: 2px;
    --line-offset: calc(var(--gap) / 2);
    overflow: hidden;
    border: var(--line-thickness) solid var(--ion-color-medium);
    row-gap: var(--line-thickness);

    & > ion-col {
        display: flex;
        align-items: center;
        position: relative;
        gap: var(--gap);
        &:not(.th) {
            padding-top: 7px;
            padding-bottom: 7px;
        }
        &.th {
            justify-content: center;
            background-color: var(--ion-color-primary);
            color: var(--ion-color-light);
        }
    
        &::before, &::after {
            content: '';
            position: absolute;
            background-color: var(--ion-color-medium);
            top: calc(var(--line-offset) * -1);
            left: 0;
        }
        &::after{
            width: 2px;
            height: 100vh;
        }
        &::before{
            width: 100vw;
            height: 2px;
        }
        &:nth-of-type(odd)::after{left: calc(var(--line-offset) * -1);}

        & ion-text{
            white-space: break-spaces;
            overflow: hidden;
            &.ml-auto{margin-left: auto;}
        }
    }
}

.bigBtn {
    margin: 5px auto;
    max-width: 350px;
    min-height: 46px;
    font-size: 1rem;
}

.flex_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 0;

    & h4 {margin-top: 4px;}
}