.name_img_div {
    
    position: relative;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    min-height: 35px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    font-size: clamp(1rem, calc(9vw - 5px), 2rem);
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;

    &.sm {
        font-size: clamp(0.9rem, calc(8vw - 5px), 1.2rem);
    }
}