ion-menu{
    --max-width: 280px;
}
.side-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
}
.avatar{
    margin: 10px 0 10px 16px;
}
.role{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.sticky-bottom{
    position: sticky;
    bottom: 0;
    z-index: 1;
}
.logoutBtn{
    & ion-label{font-weight: 600;}
}
ion-list {
    & ion-item {
        & ion-icon{
            color: rgba(var(--ion-color-primary-rgb), 0.9)
        }
    }
}