<ion-card mode="md" class="cardItem {{cardClass}}">
  <ion-card-header *ngIf="isAllGood" (click)="openCard = !openCard">
    <div>
      <ion-card-title>{{attendanceData.created_date | date:'EEE, dd MMM'}}</ion-card-title>
      <ion-card-subtitle
        *ngIf="workDurationString.trim() === '0h 0m 0s' || regularization?.status === 'Accept'">{{attendanceData.status}}</ion-card-subtitle>
      <ion-note *ngIf="workDurationString.trim() !== '0h 0m 0s' && attendanceData.status !== 'Absent'"><ion-icon
          name="time-outline" size="small"
          style="vertical-align: middle; margin-right: 5px;"></ion-icon>{{workDurationString}}</ion-note>
    </div>

    <ion-chip color="tertiary"
      *ngIf="(userRole === 'Employee' && !isWeekOff && !regularization?.status ) && ( attendanceData.status === 'Absent'  ||  (attendanceData.status === 'Leave' && leaveDay ))"
      class="ion-no-margin ion-text-center btnChip" id="open-modal" (click)="openModal()">Regularization</ion-chip>
    <div class="ion-no-margin ion-text-center btnChip" *ngIf="userRole !== 'Employee'">

      <ion-select *ngIf="(userRole !== 'Employee' && !isWeekOff)" placeholder="Select" interface="popover"
        class="day-select" [disabled]="selectedDay !== null" (ionChange)="selectDay($event, attendanceData)">
        <ion-select-option *ngIf="isStatusNot(attendanceData.status, AttendaceStatus.PRESENT)" class="full-day-button"
          value="full day">Present</ion-select-option>

        <ion-select-option *ngIf="isStatusNot(attendanceData.status, AttendaceStatus.HALF_DAY)" class="half-day-button"
          value="half day">Half Day</ion-select-option>

        <ion-select-option *ngIf="isStatusNot(attendanceData.status, AttendaceStatus.ABSENT)" class="half-day-button"
          value="absent">Absent</ion-select-option>

      </ion-select>
    </div>
  </ion-card-header>

  <ion-card-content [class.show]="openCard && isAllGood && !isWeekOff">
    <table *ngIf="attendanceData.attendanceData.length > 0" class="ion-margin-top">
      <thead>
        <tr>
          <th><ion-text>In Time</ion-text></th>
          <th><ion-text>Out Time</ion-text></th>
          <th><ion-text>Work Duration</ion-text></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clockData of attendanceData.attendanceData">
          <td>
            <ion-label>{{localDate(clockData.clockIn) | date:'shortTime'}}</ion-label>
          </td>
          <td>
            <ion-label *ngIf="!clockData.clockOut">--</ion-label>
            <ion-label *ngIf="clockData.clockOut">{{localDate(clockData.clockOut) | date:'shortTime'}}</ion-label>
          </td>
          <td>
            <ion-label *ngIf="!clockData.clockOut">--</ion-label>
            <ion-label *ngIf="clockData.clockOut">{{formatDuration(calculateDuration(clockData.clockIn,
              clockData.clockOut))}}</ion-label>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="attendanceData.attendanceData.length > 0" class="clock-status-container">
      <ion-text [color]="clockInStatus.status">{{clockInStatus.str}}</ion-text>
      <ion-text *ngIf="clockOutStatus.status" [color]="clockOutStatus.status">
        {{clockOutStatus.str}}
      </ion-text>
    </div>

    <div *ngIf="attendanceData.leaveData != null">
      <div class="ion-margin-top leaveDate">
        <ion-label color="tertiary" class="ion-text-wrap" *ngIf="attendanceData.leaveData.startDate">
          <ion-icon name="calendar" size="small"></ion-icon>
          <ion-text>{{attendanceData.leaveData.startDate | date}} - {{attendanceData.leaveData.endDate |
            date}}</ion-text>
        </ion-label>
        <ion-label color="tertiary" class="ion-text-wrap" *ngIf="attendanceData.leaveData.from">
          <ion-icon name="calendar" size="small"></ion-icon>
          <ion-text>{{attendanceData.leaveData.from.date | date}} &middot; {{leaveStartDay}}</ion-text>
        </ion-label>
        <ion-label color="tertiary" class="ion-text-wrap"
          *ngIf="attendanceData.leaveData.to && attendanceData.leaveData.to.date">
          <ion-icon name="calendar" size="small"></ion-icon>
          <ion-text>{{attendanceData.leaveData.to.date | date}} &middot; {{leaveEndDay}}</ion-text>
        </ion-label>
      </div>
      <!-- <p>
        <b><ion-text>{{attendanceData.leaveData.leaveType}}</ion-text></b>
      </p> -->
      <ion-text *ngIf="attendanceData.leaveData.isUnplanned" color="warning">Unplanned leave</ion-text>
      <p class="purpose">
        <b>Leave Purpose : </b><read-more-text [textString]="attendanceData.leaveData.purpose"
          [maxLength]="100"></read-more-text>
      </p>
      <div class="ion-text-end">
        <ion-chip style="cursor: default;" *ngIf="attendanceData.leaveData.status !== 'Pending' || userRole === 'Employee' "
          [color]="attendanceData.leaveData.status === 'Accept' ? 'success' : attendanceData.leaveData.status === 'Pending' ? 'warning' : 'danger' ">
          {{attendanceData.leaveData.status === 'Accept' ? 'Accepted' : attendanceData.leaveData.status === 'Pending' ?
          'Pending' : attendanceData.leaveData.status === 'Reject' ? 'Rejected' : attendanceData.leaveData.status}}
        </ion-chip>
      </div>
      <div class="ion-text-end">
        <ng-container *ngIf="userRole === 'Admin' || userRole === 'HR'">
          <ion-button type="button" color="danger" fill="clear" [strong]="true" size="small"
            *ngIf="attendanceData.leaveData.status === 'Pending'" (click)="leaveAction('Reject')">Reject</ion-button>
          <ion-button type="button" color="primary" fill="clear" [strong]="true" size="small"
            *ngIf="attendanceData.leaveData.status === 'Pending'" (click)="leaveAction('Accept')">Approve</ion-button>
        </ng-container>
      </div>
    </div>
  </ion-card-content>
  <div *ngIf="attendanceData.leaveData != null && !isWeekOff" class="ion-text-end ion-padding-vertical">
    <ion-button fill="clear" size="small" (click)="openCard = !openCard">
      <span>{{openCard ? 'Hide Details' : 'Show Details'}}</span>
      <ion-icon [name]="openCard ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
        [size]="'small'"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="!isWeekOff">
    <ion-card-content [class.show]="regCard && isAllGood && !isWeekOff" *ngIf="regularization != null">
      <div class="ion-activatable rounded-rectangle">
        <!-- <ion-text>
          <h2>Name: {{regularization.user.firstName}} {{regularization!.user!.lastName}}</h2>
        </ion-text> -->
        <ion-button size="small"
          *ngIf="userRole.trim() !== 'Admin' && userRole.trim() !== 'HR'  && regularization.status ==='Pending' || regularization.status ==='Review'"
          (click)="handleModalAction(regularization);"><ion-icon name="create-outline"
            id="open-modal"></ion-icon></ion-button>
        <!-- <ion-button size="small" *ngIf="userRole.trim() !== 'Admin' && regularization.status ==='Pending'" (click)="triggerModal(regularization);"><ion-icon name="create-outline" id="open-modal"></ion-icon></ion-button -->
      </div>
      <div class="ion-padding-bottom">
        <ion-text>
          <h2>Date: {{regularization.attandanceDate | date}}</h2>
        </ion-text>
        <ion-text>
          <h2>clockIn: {{regularization.clockIn | date: 'hh:mm a'}}</h2>
        </ion-text>
        <ion-text>
          <h2>clockOut: {{regularization.clockOut | date: 'hh:mm a'}}</h2>
        </ion-text>
        <ion-text>
          <h2>Total Time : {{regularization.totalTime}}</h2>
        </ion-text>
        <ion-text>
          <h2>Reason: {{regularization.reason}}</h2>
        </ion-text>
        <ion-text>
          <h2>Description: {{regularization.description}}</h2>
        </ion-text>
        <ion-text>
          <h2><b>Status: </b><span [ngClass]="getStatusClass(regularization.status)">{{regularization.status}}</span>
          </h2>
        </ion-text>
      </div>
      <div class="regBtn" *ngIf="userRole === 'Admin' || userRole === 'HR'">
        <ion-chip color="success" class="ion-no-margin ion-text-center btnChip ion-margin-end"
          *ngIf="regularization.status === 'Pending'"
          (click)="approveReject('accept', regularization.guid)">Approve</ion-chip>
        <ion-chip color="primary" class="ion-no-margin ion-text-center btnChip ion-margin-end"
          *ngIf="regularization.status === 'Pending'"
          (click)="approveReject('review', regularization.guid)">Review</ion-chip>
        <ion-chip color="danger" class="ion-no-margin ion-text-center btnChip"
          *ngIf="regularization.status === 'Pending'"
          (click)="approveReject('reject', regularization.guid)">Reject</ion-chip>
      </div>
    </ion-card-content>
    <div class="ion-text-end ion-padding-vertical" *ngIf="!isWeekOff && regularization != null">
      <ion-button fill="clear" size="small" (click)="regCard = !regCard">
        <span>{{regCard ? 'Hide RegularizationForm Details' : 'Show Hide RegularizationForm Details'}}</span>
        <ion-icon [name]="regCard ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
          [size]="'small'"></ion-icon>
      </ion-button>
    </div>
  </div>


  <ion-modal #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Regularization</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="regularizationForm">
          <ion-list>
            <!-- date  -->
            <ion-item fill="solid" class="ion-padding-bottom" id="attandanceDate">
              <ion-input readonly="true" labelPlacement="floating" [value]="getDate('attandanceDate') | date"
                [required]="true" class="dateInput">
                <div slot="label">Attandance Date</div>
              </ion-input>
            </ion-item>
            <ion-text color="danger" class="error_txt"
              *ngIf="regularizationForm.controls['attandanceDate'].touched && regularizationForm.controls['attandanceDate'].errors">Attandance
              Date is required</ion-text>

            <ion-item fill="solid" class="ion-padding-bottom" detail="false" id="clockIn"
              (click)="markTouched('clockIn')">
              <ion-input labelPlacement="floating" [value]="getStartTime() |date:'HH:mm'" placeholder="Hrs" type="time"
                readonly="true">
                <div slot="label">Clock in Time<ion-text color="danger">*</ion-text></div>
              </ion-input>
            </ion-item>
            <ion-text color="danger" class="error_txt"
              *ngIf="regularizationForm.controls['clockIn'].touched && regularizationForm.controls['clockIn'].errors">Clock
              in Time is required.</ion-text>

            <ion-modal trigger="clockIn" #clockIn [initialBreakpoint]="1" [keepContentsMounted]="true"
              (didDismiss)="openCalendar = false" mode="md" [initialBreakpoint]="0.5" [showBackdrop]="true">
              <ng-template>
                <ion-content>
                  <ion-datetime presentation="time" mode="md" [preferWheel]="true" [size]="'cover'" #datetime
                    (ionChange)="setStartTime($any($event))" [max]="today.toISOString()">
                    <span slot="title">Clock In Time</span>
                    <ion-buttons slot="buttons">
                      <ion-button mode="md" color="danger"
                        (click)="datetime.cancel(); clockIn.dismiss()">Cancel</ion-button>
                      <ion-button mode="md" color="primary"
                        (click)="datetime.confirm(); clockIn.dismiss()">Done</ion-button>
                    </ion-buttons>
                  </ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>
            <!-- clock-in time start -->

            <ion-item fill="solid" class="ion-padding-bottom" detail="false" id="clockOut"
              (click)="markTouched('clockOut')">
              <ion-input labelPlacement="floating" [value]="getEndTime() |date:'HH:mm'" placeholder="Hrs" type="time"
                readonly="true">
                <div slot="label">Clock Out Time<ion-text color="danger">*</ion-text></div>
              </ion-input>
            </ion-item>
            <ion-text color="danger" class="error_txt"
              *ngIf="regularizationForm.controls['clockOut'].touched && regularizationForm.controls['clockOut'].errors">Clock
              Out Time is required </ion-text>

            <ion-modal trigger="clockOut" #clockOut [initialBreakpoint]="1" [keepContentsMounted]="true"
              (didDismiss)="openCalendar = false" mode="md" [initialBreakpoint]="0.5" [showBackdrop]="true">
              <ng-template>
                <ion-content>
                  <ion-datetime presentation="time" mode="md" [preferWheel]="true" [size]="'cover'" #datetime
                    (ionChange)="setEndTime($any($event))" [max]="today.toISOString()">
                    <span slot="title">Clock Out Tiem</span>
                    <ion-buttons slot="buttons">
                      <ion-button mode="md" color="danger"
                        (click)="datetime.cancel(); clockOut.dismiss()">Cancel</ion-button>
                      <ion-button mode="md" color="primary"
                        (click)="datetime.confirm(); clockOut.dismiss()">Done</ion-button>
                    </ion-buttons>
                  </ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>
            <!-- clock-out time end  -->

            <!-- total hours  -->
            <ion-item class="ion-padding-bottom"><b>Total Hour's {{ totalTimeString || '00:00' }}</b></ion-item>

            <!-- select reason  -->
            <ion-item fill="solid" class="ion-padding-bottom">
              <ion-select formControlName="reason" aria-label="select-reason" interface="action-sheet"
                placeholder="Select Reason">
                <ion-select-option value="missed-clock-in">Missed ClockIn</ion-select-option>
                <ion-select-option value="missed-clock-out">Missed ClockOut</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- description  -->
            <ion-item fill="solid">
              <ion-textarea formControlName="description" [minlength]="5" maxlength="250" labelPlacement="floating"
                placeholder="Descirption" rows="3">
                <div slot="label">Description <ion-text color="danger">*</ion-text></div>
              </ion-textarea>
            </ion-item>
            <ion-text color="danger" class="error_txt"
              *ngIf="regularizationForm.controls['description'].touched && regularizationForm.controls['description'].errors">Description
              must be at least 5 characters </ion-text>

          </ion-list>
        </form>
      </ion-content>
      <ion-footer class="ion-padding">
        <ion-button mode="md" type="submit" class="submitBtn ion-margin-end ion-margin-start" color="primary"
          expand="full" shape="round" [disabled]="regularizationForm.invalid" (click)="submit()">{{ update ? 'Update' :
          'Add' }} </ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
  <ion-skeleton-text style="width: 100%; height: 80px;" animated="true" class="inherit_shap ion-no-margin"
    *ngIf="!isAllGood"></ion-skeleton-text>
</ion-card>