<ion-header mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center">Update Attendance</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="attendanceForm" class="ion-padding">
    <!-- <h6>Fill the form</h6> -->
    <ion-row class="form_row">
      <ion-col size="12">
        <div class="form-input">
          <ion-select mode="md" labelPlacement="floating" formControlName="status" fill="outline" [compareWith]="compareStatus" (ionChange)="selectStatus($event)">
            <div slot="label">Status <ion-text color="danger">*</ion-text></div>
            <ion-select-option value="Present">Present</ion-select-option>
            <ion-select-option value="Absent">Absent</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
  
      <ion-col size="12" sizeMd="6" *ngIf="attendanceForm.controls['status'].value === 'Present'">
        <div class="form-input" id="clockInModal">
          <ion-input labelPlacement="floating" fill="outline" (ionFocus)="modal.present()" [value]="getFormDate('clockIn') | date:'shortTime'" placeholder="In Time" [readonly]="true">
            <div slot="label">Clock In Time <ion-text color="danger">*</ion-text></div>
          </ion-input>
          <div class="toggleBtn">
            <ion-button mode="md" slot="end" fill="clear" color="medium">
              <ion-icon name="time-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <ion-text color="danger" class="error_txt" *ngIf="attendanceForm.controls['clockIn'].touched && attendanceForm.controls['clockIn'].errors"
        >Clock In Time is required</ion-text>
      </ion-col>
  
      <ion-col size="12" sizeMd="6" *ngIf="attendanceForm.controls['status'].value === 'Present'">
        <div class="form-input" id="clockOutModal">
          <ion-input labelPlacement="floating" fill="outline" (ionFocus)="modal2.present()" [value]="getFormDate('clockOut') | date:'shortTime'" placeholder="Out Time" [readonly]="true">
            <div slot="label">Clock Out Time <ion-text color="danger">*</ion-text></div>
          </ion-input>
          <div class="toggleBtn">
            <ion-button mode="md" slot="end" fill="clear" color="medium">
              <ion-icon name="time-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <ion-text color="danger" class="error_txt" *ngIf="attendanceForm.controls['clockOut'].touched && attendanceForm.controls['clockOut'].errors"
        >Clock Out time is required</ion-text>
      </ion-col>
  
      <ion-col size="6">
        <ion-button mode="md" color="danger" shape="round" fill="solid" expand="full" [strong]="true" (click)="closeForm()" class="ion-margin-top">Cancel</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button mode="md" color="primary" shape="round" expand="full" [disabled]="attendanceForm.invalid" fill="solid" [strong]="true" class="ion-margin-top" (click)="submitForm()">Save</ion-button>
      </ion-col>
    </ion-row>
  
  
    <ion-modal [trigger]="'clockInModal'" #modal [initialBreakpoint]="0.5" [showBackdrop]="true" [keepContentsMounted]="true">
      <ng-template>
        <ion-content>
          <ion-datetime [presentation]="'time'" mode="md" [size]="'cover'" (ionChange)="setClockInTime($any($event))" #clockIn>
            <ion-label slot="title" >Clock In Time</ion-label>
            <ion-buttons slot="buttons">
              <ion-button mode="md" color="danger" (click)="modal.dismiss(clockIn.cancel(), 'cancel')">Cancel</ion-button>
              <ion-button mode="md" color="primary" (click)="modal.dismiss(clockIn.confirm(), 'confirm')">Set</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  
    <ion-modal [trigger]="'clockOutModal'" #modal2 [initialBreakpoint]="0.5" [showBackdrop]="true" [keepContentsMounted]="true">
      <ng-template>
        <ion-content>
          <ion-datetime [presentation]="'time'" mode="md" [size]="'cover'" (ionChange)="setClockOutTime($any($event))" #clockOut>
            <ion-label slot="title" >Clock Out Time</ion-label>
            <ion-buttons slot="buttons">
              <ion-button mode="md" color="danger" (click)="modal2.dismiss(clockOut.cancel(), 'cancel')">Cancel</ion-button>
              <ion-button mode="md" color="primary" (click)="modal2.dismiss(clockOut.confirm(), 'confirm')">Set</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </form>
</ion-content>