<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-button mode="md" slot="start" [routerDirection]="'back'" (click)="goBack()" fill="clear" [ariaDisabled]="true" class="noRipple noBg">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>{{action === 'add' ? 'Add' : 'Update'}} Work Details</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="workInfoForm" *ngIf="isDataLoaded">
      <ion-card mode="md" class="personal_card">
        <ion-card-header class="card_header" (click)="expandCard('personal_card')">
          <ion-card-title>Basic Information</ion-card-title>
          <ion-button mode="md" fill="clear" class="card_toggle_btn noBg noRipple" color="medium">
            <ion-icon [name]="isExpanded('personal_card') ? 'chevron-up-outline' : 'chevron-down-outline'" aria-hidden="true" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-card-header>
        <ion-card-content *ngIf="isExpanded('personal_card')">
          <ion-row class="row_one">
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-input labelPlacement="floating" fill="outline" formControlName="employeeId" placeholder="First Name" type="text" [readonly]="true">
                  <div slot="label">employeeId <ion-text color="danger">*</ion-text></div>
                </ion-input>
              </div>
            </ion-col>
  
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-select labelPlacement="floating" fill="outline" formControlName="employeeType" placeholder="Select" interface="action-sheet">
                  <div slot="label">Employee Type <ion-text color="danger">*</ion-text></div>
                  <ion-select-option value="Full Time">Full Time</ion-select-option>
                  <ion-select-option value="Intern">Intern</ion-select-option>
                </ion-select>
                <ion-text color="danger" class="error_txt" *ngIf="workInfoForm.controls['employeeType'].touched && workInfoForm.controls['employeeType'].errors">
                  Employee type is required.
                </ion-text>
              </div>
            </ion-col>
  
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-select labelPlacement="floating" fill="outline" formControlName="department" placeholder="Select" interface="action-sheet">
                  <div slot="label">Department</div>
                  <ion-select-option [value]="depart.name" *ngFor="let depart of deparmentList">{{depart.name}}</ion-select-option>
                </ion-select>
                <ion-text color="danger" class="error_txt" *ngIf="workInfoForm.controls['designation'].touched && workInfoForm.controls['designation'].errors">
                  Department is required.
                </ion-text>
              </div>
            </ion-col>
  
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-select labelPlacement="floating" fill="outline" formControlName="subDepartment" placeholder="Select" interface="action-sheet" [required]="true">
                  <div slot="label">Sub Department</div>
                  <ion-select-option [value]="subDepart" *ngFor="let subDepart of getSubDeparments()">{{subDepart}}</ion-select-option>
                </ion-select>
                <ion-text color="danger" class="error_txt" *ngIf="workInfoForm.controls['subDepartment'].touched && workInfoForm.controls['subDepartment'].errors">
                  Sub department is required.
                </ion-text>
              </div>
            </ion-col>
            
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-input labelPlacement="floating" fill="outline" formControlName="designation" placeholder="Designation" type="text">
                  <div slot="label">Designation <ion-text color="danger">*</ion-text></div>
                </ion-input>
                <ion-text color="danger" class="error_txt" *ngIf="workInfoForm.controls['designation'].touched && workInfoForm.controls['designation'].errors">
                  Designation is required.
                </ion-text>
              </div>
            </ion-col>
            
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-input labelPlacement="floating" fill="outline" formControlName="jobTitle" placeholder="Job Title" type="text" [required]="true">
                  <div slot="label">Job Title </div>
                </ion-input>
                <ion-text color="danger" class="error_txt" *ngIf="workInfoForm.controls['jobTitle'].touched && workInfoForm.controls['jobTitle'].errors">
                  Title is required.
                </ion-text>
              </div>
            </ion-col>
            
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-input labelPlacement="floating" fill="outline" formControlName="work_experience" placeholder="Experience" type="number">
                  <div slot="label">Work Experience </div>
                </ion-input>
              </div>
            </ion-col>
            
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-input labelPlacement="floating" fill="outline" formControlName="workLocation" placeholder="Work Loaction" type="text">
                  <div slot="label">Work Location </div>
                </ion-input>
              </div>
            </ion-col>
            
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-input labelPlacement="floating" fill="outline" formControlName="probationPeriod" placeholder="In Days" type="number" [required]="true">
                  <div slot="label">Probation Period <ion-text color="danger">*</ion-text></div>
                </ion-input>
              </div>
            </ion-col>

            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-input labelPlacement="floating" fill="outline" [readonly]="true" [value]="getDate('joiningDate') | date" (ionFocus)="activeControl = 'joiningDate'; openCalendar = true" (ionActive)="openCalendar = true">
                  <div slot="label">Joinig Date <ion-text color="danger">*</ion-text></div>
                </ion-input>
                <div class="toggleBtn">
                  <ion-button mode="md" fill="clear" (click)="openCalendar = true">
                    <ion-icon name="calendar-number-outline" aria-hidden="true" slot="icon-only"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </ion-col>

            <ion-col size="12" sizeSm="6" *ngIf="workInfoForm.controls['status'].value === 'InActive'">
              <div class="form-input">
                <ion-input labelPlacement="floating" fill="outline" [readonly]="true" [value]="getDate('resignationDate') | date" (ionFocus)="activeControl = 'resignationDate'; openCalendar = true" (ionActive)="openCalendar = true">
                  <div slot="label">Resignation Date</div>
                </ion-input>
                <div class="toggleBtn">
                  <ion-button mode="md" fill="clear" (click)="openCalendar = true">
                    <ion-icon name="calendar-number-outline" aria-hidden="true" slot="icon-only"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </ion-col>
  
            <ion-col size="12" sizeSm="6">
              <div class="form-input">
                <ion-select labelPlacement="floating" fill="outline" formControlName="status" placeholder="Select" interface="action-sheet">
                  <div slot="label">Status</div>
                  <ion-select-option value="Active">Active</ion-select-option>
                  <ion-select-option value="InActive">In Active</ion-select-option>
                </ion-select>
              </div>
            </ion-col>            
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card mode="md" [button]="true" *ngIf="newWorkHistory() && newWorkHistory().controls.length < 1">
        <ion-item [lines]="'none'" type="button" [button]="true" [detail]="true" (click)="addWorkHistory()" detailIcon="add-circle-outline">
          <ion-label>Add Work Experience</ion-label>
        </ion-item>
      </ion-card>

      <ion-card mode="md" formArrayName="workHistory" *ngIf="newWorkHistory().controls.length > 0">
        <ion-card-header>
          <ion-card-title>Work Experience</ion-card-title>
        </ion-card-header>
        <ion-card-content>          
          <div *ngFor="let history of newWorkHistory().controls; index as a;">
            <ion-row class="row_one" [formGroupName]="a">
              <ion-col size="12" sizeSm="6">
                <div class="form-input">
                  <ion-select labelPlacement="floating" fill="outline" formControlName="employeeType" placeholder="Select" interface="action-sheet">
                    <div slot="label">Employee Type <ion-text color="danger">*</ion-text></div>
                    <ion-select-option value="Full Time">Full Time</ion-select-option>
                    <ion-select-option value="Intern">Intern</ion-select-option>
                  </ion-select>
                  <ion-text color="danger" class="error_txt" *ngIf="getNestedCtrl('employeeType', a).touched && getNestedCtrl('employeeType', a).errors">
                    Employee type is required.
                  </ion-text>
                </div>
              </ion-col>
    
              <ion-col size="12" sizeSm="6">
                <div class="form-input">
                  <ion-select labelPlacement="floating" fill="outline" formControlName="department" placeholder="Select" interface="action-sheet">
                    <div slot="label">Department</div>
                    <ion-select-option [value]="depart.name" *ngFor="let depart of deparmentList">{{depart.name}}</ion-select-option>
                  </ion-select>
                  <ion-text color="danger" class="error_txt" *ngIf="getNestedCtrl('department', a).touched && getNestedCtrl('department', a).errors">
                    Department is required.
                  </ion-text>
                </div>
              </ion-col>
              
              <ion-col size="12" sizeSm="6">
                <div class="form-input">
                  <ion-input labelPlacement="floating" fill="outline" formControlName="designation" placeholder="Designation" type="text">
                    <div slot="label">Designation <ion-text color="danger">*</ion-text></div>
                  </ion-input>
                  <ion-text color="danger" class="error_txt" *ngIf="getNestedCtrl('designation', a).touched && getNestedCtrl('designation', a).errors">
                    Designation is required.
                  </ion-text>
                </div>
              </ion-col>
              
              <ion-col size="12" sizeSm="6">
                <div class="form-input">
                  <ion-input labelPlacement="floating" fill="outline" formControlName="jobTitle" placeholder="Job Title" type="text" [required]="true">
                    <div slot="label">Job Title </div>
                  </ion-input>
                  <ion-text color="danger" class="error_txt" *ngIf="getNestedCtrl('jobTitle', a).touched && getNestedCtrl('jobTitle', a).errors">
                    Title is required.
                  </ion-text>
                </div>
              </ion-col>
              
              <ion-col size="12" sizeSm="6">
                <div class="form-input">
                  <ion-input labelPlacement="floating" fill="outline" formControlName="work_experience" placeholder="Experience" type="number" [required]="true">
                    <div slot="label">Work Experience </div>
                  </ion-input>
                  <ion-text color="danger" class="error_txt" *ngIf="getNestedCtrl('work_experience', a).touched && getNestedCtrl('work_experience', a).errors">
                    Work experience is required.
                  </ion-text>
                </div>
              </ion-col>
              
  
              <ion-col size="12" sizeSm="6">
                <div class="form-input">
                  <ion-input labelPlacement="floating" fill="outline" [value]="getExpDate('from', a) | date" [readonly]="true" (ionFocus)="openCalendar = true; activeControl = 'from'; formIndex = a" (ionActive)="openCalendar = true; activeControl = 'from'; formIndex = a">
                    <div slot="label">From <ion-text color="danger">*</ion-text></div>
                  </ion-input>
                  <div class="toggleBtn">
                    <ion-button mode="md" fill="clear" (click)="openCalendar = true">
                      <ion-icon name="calendar-number-outline" aria-hidden="true" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                </div>
              </ion-col>
  
              <ion-col size="12" sizeSm="6">
                <div class="form-input">
                  <ion-input labelPlacement="floating" [value]="getExpDate('to', a) | date" fill="outline" [readonly]="true" (ionFocus)="openCalendar = true; activeControl = 'to'; formIndex = a" (ionActive)="openCalendar = true; activeControl = 'to'; formIndex = a">
                    <div slot="label">To <ion-text color="danger">*</ion-text></div>
                  </ion-input>
                  <div class="toggleBtn">
                    <ion-button mode="md" fill="clear" (click)="openCalendar = true">
                      <ion-icon name="calendar-number-outline" aria-hidden="true" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-buttons class="workExp_btnGroup ion-padding-top">
              <ion-button type="button" mode="md" fill="solid" color="danger" shape="round" (click)="removeWorkHistory(a)">Remove</ion-button>
              <ion-button type="button" mode="md" fill="solid" color="primary" shape="round" *ngIf="a === (newWorkHistory().controls.length - 1)" (click)="addWorkHistory()">Add New</ion-button>
            </ion-buttons>

            <ion-item-divider *ngIf="a !== (newWorkHistory().controls.length - 1)" class="ion-margin-bottom"></ion-item-divider>
          </div>
        </ion-card-content>        
      </ion-card>

      <ion-modal [isOpen]="openCalendar && activeControl === 'joiningDate'" [initialBreakpoint]="1" [keepContentsMounted]="true" [showBackdrop]="true" mode="md" (onDidDismiss)="activeControl = ''">
        <ng-template>
          <ion-content>
            <ion-datetime presentation="date" mode="md" [size]="'cover'" #datetime (ionChange)="selectDate($any($event))">
              <span slot="title">Select Date</span>
              <ion-buttons slot="buttons">
                <ion-button mode="md" color="danger" (click)="datetime.cancel();openCalendar = false">Cancel</ion-button>
                <ion-button mode="md" color="primary" (click)="datetime.confirm();openCalendar = false">Done</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-modal [isOpen]="openCalendar && activeControl === 'resignationDate'" [initialBreakpoint]="1" [keepContentsMounted]="true" [showBackdrop]="true" mode="md" (onDidDismiss)="activeControl = ''">
        <ng-template>
          <ion-content>
            <ion-datetime presentation="date" mode="md" [size]="'cover'" #datetime (ionChange)="selectDate($any($event))">
              <span slot="title">Select Date</span>
              <ion-buttons slot="buttons">
                <ion-button mode="md" color="danger" (click)="datetime.cancel();openCalendar = false">Cancel</ion-button>
                <ion-button mode="md" color="primary" (click)="datetime.confirm();openCalendar = false">Done</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-modal [isOpen]="openCalendar && activeControl === 'from'" [initialBreakpoint]="1" mode="md" [keepContentsMounted]="true">
        <ng-template>        
          <ion-content>
            <ion-datetime presentation="date" mode="md" [size]="'cover'" #datetime (ionChange)="selectExpDate($any($event))">
              <span slot="title">Select {{activeControl}} Date</span>
              <ion-buttons slot="buttons">
                <ion-button mode="md" color="danger" (click)="datetime.cancel();openCalendar = false">Cancel</ion-button>
                <ion-button mode="md" color="primary" (click)="datetime.confirm();openCalendar = false">Done</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-modal [isOpen]="openCalendar && activeControl === 'to'" [initialBreakpoint]="1" mode="md" [keepContentsMounted]="true">
        <ng-template>        
          <ion-content>
            <ion-datetime presentation="date" mode="md" [size]="'cover'" #datetime (ionChange)="selectExpDate($any($event))">
              <span slot="title">Select {{activeControl}} Date</span>
              <ion-buttons slot="buttons">
                <ion-button mode="md" color="danger" (click)="datetime.cancel();openCalendar = false">Cancel</ion-button>
                <ion-button mode="md" color="primary" (click)="datetime.confirm();openCalendar = false">Done</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
    </form>
  </div>
</ion-content>
<ion-footer *ngIf="isDataLoaded">
  <ion-button mode="md" type="submit" class="submitBtn" [disabled]="workInfoForm.invalid || isInProgress" color="primary" (click)="submit()" expand="full" shape="round">
    <ion-icon name="person-add-outline" aria-hidden="true" slot="start" *ngIf="action === 'add'"></ion-icon>
    {{action === 'add' ? 'Add' : 'update' | titlecase}} Work Details
  </ion-button>
</ion-footer>
