.submitBtn {
    height: 45px;
    font-weight: 600;
    font-size: 1rem;
    margin: 20px;
}

.wrapper { display: flex; flex-direction: column; width: 85vw; margin: 0 auto; color: black; }

  .date {
    p { margin-top: 0; margin-bottom: 5px; }
    span { margin: auto 10px 0 0; font-size: 14px; font-weight: 600; }
  }
  
  .rounded-rectangle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 { font-size: 30px; font-weight: 500; margin: auto 0 10px 0; }
    ion-button { height: 33px; font-size: 15px; }
  }
  .para p { margin-top: auto; display: block; justify-content: center; }

  .cal_col {
    display: flex; justify-content: start; flex-wrap: wrap; gap: 10px;
    .p1 { width: 15px; height: 15px; background-color: #ffc0cb; }
    .p2 { width: 15px; height: 15px; background-color: var(--ion-color-secondary); }
  }

  .btnStyle {
    display: flex;
    justify-content: end;
    .reject-button { color: red; }
    .approve-button { color: rgb(23, 219, 23); }
  }