<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button mode="md" [routerDirection]="'back'" [routerLink]="['/tabs/home']" routerLinkActive="router-link-active" type="button" fill="clear" [ariaDisabled]="true" class="noRipple noBg">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Project Timeline</ion-title>
    <ion-thumbnail slot="end" class="logo_img ion-margin-end">
      <ion-img src="../../../assets/icon/hr-atlas_logo_2.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
    <!-- <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar> -->    
    <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar>         
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <form [formGroup]="proTimelineForm" class="ion-padding">

    <ion-select formControlName="projectName" label="Projects" interface="popover" label-placement="floating" mode="md" fill="solid">
      <ion-select-option value="imentorly">iMentorly</ion-select-option>
      <ion-select-option value="hratlas">hrAtlas</ion-select-option>
      <ion-select-option value="wokari">Wokrai</ion-select-option>
    </ion-select>    

    

    <ion-list>  
      <!-- <ion-item> -->
        <ion-input type="Date" placeholder="Selete Date" mode="md" fill="solid" value="2022-01-01">
          <div slot="label" position="stacked">Date</div>
        </ion-input>          
      <!-- </ion-item> -->
      <br>
      <!-- <ion-item> -->
        <ion-input placeholder="2 Hours" mode="md" fill="solid" type="Number" value="2H" class="dateInput">
          <div slot="label" position="stacked">Hours</div>
        </ion-input>        
      <!-- </ion-item>   -->
    </ion-list>

    <ion-row>
      <ion-col size="12">
        <ion-select label="Category" interface="popover" label-placement="floating" fill="solid" mode="md" [multiple]="true">
          <ion-select-option value="c1">C1</ion-select-option>
          <ion-select-option value="c2">C2</ion-select-option>
          <ion-select-option value="c3">C3</ion-select-option>
          <ion-select-option value="c4">C4</ion-select-option>
          <ion-select-option value="c5">C5</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-select label="Sub-Category" interface="popover" label-placement="floating" fill="solid" mode="md" [multiple]="true">
          <ion-select-option value="c1">C1</ion-select-option>
          <ion-select-option value="c2">C2</ion-select-option>
          <ion-select-option value="c3">C3</ion-select-option>
          <ion-select-option value="c4">C4</ion-select-option>
          <ion-select-option value="c5">C5</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" id="startdate">
        <ion-input formControlName="title" labelPlacement="floating" color="light" fill="solid" [value]="" class="dateInput">
          <div slot="label">Title</div>
        </ion-input>      
      </ion-col>  
      <ion-textarea formControlName="description" labelPlacement="floating" fill="solid" mode="md" placeholder="Project Descirption" rows="3">
        <div slot="label">Descirption</div>
      </ion-textarea>
      <ion-item [lines]="'none'" [detail]="false" class="spaceItem"></ion-item>
    </ion-row>

    <ion-button mode="md" type="submit" class="submitBtn" color="medium" expand="full" shape="round">cancel</ion-button>
    <ion-button mode="md" type="submit" class="submitBtn" color="primary" expand="full" shape="round">Save</ion-button>    
  </form>
</ion-content>