.icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* Align items at the bottom */
    text-align: center;
    /* Adjust alignment as per your requirement */
    height: 10%;
    /* Set a fixed height for the columns */
    padding: 0;
}
ion-segment {
    box-shadow: 8px 0px 5px rgb(77 141 255);
}
.leave_card {
    ion-card-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .apply-button {
            margin-inline: 0;
            margin: 0 0 0 5px;
            text-transform: capitalize;
        }
    }

    & ion-row{margin-left: -5px; margin-right: -5px;}
}

.log_card {
    color: var(--ion-color-dark-tint);

    & .flexItem{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-end;
        padding-top: 20px;
    }

    & .cancelBtn {text-transform: capitalize;}
}

.apply-button-row {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}


.leave-card,
.loss-of-pay-card {
    margin-bottom: 10px;
}

.leave-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.leave-label {
    flex: 1;
    text-align: left;
    padding-right: 10px;
}

.leave-value {
    flex: 1;
    text-align: right;
}