.tab_segment {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;

    ion-segment-button {
        border-bottom: 2px solid var(--ion-color-primary);
        color: var(--ion-color-primary);
        --indicator-color: var(--ion-color-primary);
        --color-checked: var(--ion-color-primary-contrast);
        text-transform: capitalize;
        &.segment-button-checked {
            font-weight: 600;
            background-color: var(--ion-color-primary);
            color: var(--ion-color-light);
        }
    }
}