
.tab_segement {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.log_card {
    color: var(--ion-color-dark-tint);
    & ion-card-header {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    & ion-row{margin-left: -5px; margin-right: -5px;}
    & .flex-div {
        display: flex;
        flex-direction: column;

        & ion-text {font-size: 0.97rem; font-weight: 500;}
    }

    & .purpose {white-space: pre-line;}
}