<ion-header [translucent]="true" [mode]="'md'">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button type="button" fill="clear" class="noBg noRipple" mode="md" (click)="goBack()">
              <ion-icon name="chevron-back-outline" aria-hidden="true" aria-label="Back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Leaves</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="activeTab" mode="md">
      <ion-segment-button value="requests">
          <ion-label>Requestes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="logs">
          <ion-label>Logs</ion-label>
      </ion-segment-button>
  </ion-segment>

  <div *ngIf="activeTab === 'requests'">
    <div class="ion-text-center ion-margin" *ngIf="!requestLoaded"><ion-spinner name="circular" color="tertiary"></ion-spinner></div>
    
    <ion-card *ngIf="requestLoaded && requestedLeaveList.length < 1">
        <ion-card-content class="ion-text-center">
            <ion-label color="dark">No any request.</ion-label>
        </ion-card-content>
    </ion-card>

    <ion-card class="log_card" mode="md" *ngFor="let leaveItem of requestedLeaveList; index as a">
      <ion-card-header>
        <div>
          <ion-card-subtitle *ngIf="leaveItem.employeeDetails">
            {{leaveItem.employeeDetails.firstName | titlecase}} {{leaveItem.employeeDetails.lastName || "" | titlecase}}
          </ion-card-subtitle>
          <ion-card-title>{{leaveItem.leaveType}}</ion-card-title>
        </div>
        <div class="ion-text-end">
          <ion-chip [color]="getStatus(leaveItem.status).color">{{getStatus(leaveItem.status).leaveStatus}}</ion-chip>
        </div>
      </ion-card-header>
      <ion-card-content>
          <ion-row class="ion-margin-bottom">
            <ion-col size="6">
              <div class="flex-div">
                <ion-label>Applied On</ion-label>
                <ion-text>{{leaveItem.created_date | date}}</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="flex-div">
                <ion-label>Day Type</ion-label>
                <ion-text>{{leaveItem.dayType}}</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="flex-div">
                <ion-label>From</ion-label>
                <ion-text>{{leaveItem.startDate | date}}</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="flex-div">
                <ion-label>To</ion-label>
                <ion-text>{{leaveItem.endDate | date}}</ion-text>
              </div>
            </ion-col>
          </ion-row>
          <p class="purpose"><strong>Purpose: </strong> <ion-text>{{leaveItem.purpose}}</ion-text></p>
      </ion-card-content>

      <ion-button type="button" color="danger" fill="clear" (click)="leaveApprovel(leaveItem.guid, false)">Cancel</ion-button>
      <ion-button type="button" color="primary" fill="clear" (click)="leaveApprovel(leaveItem.guid, true)">Approve</ion-button>
    </ion-card>
  </div>

  <div *ngIf="activeTab === 'logs'">
    <div class="ion-text-center ion-margin" *ngIf="!logsLoaded"><ion-spinner name="circular" color="tertiary"></ion-spinner></div>
    
    <ion-card *ngIf="logsLoaded && leaveLogs.length < 1">
        <ion-card-content class="ion-text-center">
            <ion-label color="dark">No any leave assigned you.</ion-label>
        </ion-card-content>
    </ion-card>

    <ion-card class="log_card" mode="md" *ngFor="let leaveItem of leaveLogs; index as a">
      <ion-card-header>
        <div>
          <ion-card-subtitle *ngIf="leaveItem.employeeDetails">
            {{leaveItem.employeeDetails.firstName | titlecase}} {{leaveItem.employeeDetails.lastName || "" | titlecase}}
          </ion-card-subtitle>
          <ion-card-title>{{leaveItem.leaveType}}</ion-card-title>
        </div>
        <div class="ion-text-end">
          <ion-chip [color]="getStatus(leaveItem.status).color">{{getStatus(leaveItem.status).leaveStatus}}</ion-chip>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-margin-bottom">
          <ion-col size="6">
              <div class="flex-div">
                <ion-label>Applied on</ion-label>
                <ion-text>{{leaveItem.created_date | date}}</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="flex-div">
                <ion-label>Day Type</ion-label>
                <ion-text>{{leaveItem.dayType}}</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="flex-div">
                <ion-label>From</ion-label>
                <ion-text>{{leaveItem.startDate | date}}</ion-text>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="flex-div">
                <ion-label>To</ion-label>
                <ion-text>{{leaveItem.endDate | date}}</ion-text>
              </div>
            </ion-col>
          </ion-row>
          <p class="purpose"><strong>Purpose: </strong> <ion-text>{{leaveItem.purpose}}</ion-text></p>
      </ion-card-content>
      
      <ion-button type="button" color="danger" fill="clear" *ngIf="leaveItem.status === 'Pending'" (click)="leaveApprovel(leaveItem.guid, false)">Cancel</ion-button>
      <ion-button type="button" color="primary" fill="clear" *ngIf="leaveItem.status === 'Pending'" (click)="leaveApprovel(leaveItem.guid, true)">Approve</ion-button>
    </ion-card>
  </div>

  <ion-infinite-scroll #infiniteScroll (ionInfinite)="loadMoreData($any($event))" [position]="'bottom'" *ngIf="moreRequests || moreLogs">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>