
.tab_segment {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;

    ion-segment-button {
        border-bottom: 2px solid var(--ion-color-primary);
        color: var(--ion-color-primary);
        --indicator-color: var(--ion-color-primary);
        --color-checked: var(--ion-color-light);
        &.segment-button-checked {
            font-weight: 600;
            background-color: var(--ion-color-primary);
            color: var(--ion-color-light);
        }
    }
}
.log_card {
    color: var(--ion-color-dark-tint);
    & ion-card-header {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    & ion-row{margin-left: -5px; margin-right: -5px;}
    & .flex-div {
        display: flex;
        flex-direction: column;

        & ion-text {font-size: 0.97rem; font-weight: 500;}
    }

    & .purpose {white-space: pre-line;}
}