.container {
    padding: 20px 10px;
}
.logo_img {max-width: 150px; margin-left: auto; margin-right: auto; display: block;}
ion-row{row-gap: 10px;}

.submitBtn {
    --background: rgb(255, 106, 0);
    --color: #fff;
    font-size: 1rem;
    height: 45px;
    font-weight: 600;
}