<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button mode="md" (click)="goBack()" fill="clear" [ariaDisabled]="true" class="noRipple noBg">
        <ion-icon name="chevron-back-outline" aria-hidden="true" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{activeEvent === 'sendOTP' ? 'Get OTP' : activeEvent === 'getOTP' ? 'Verify OTP' : activeEvent === 'setPassword' ? 'Set New Password' : 'Forgot Password'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">forgotPassword</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <div class="logo_container ion-margin-vertical ion-padding-bottom">
      <img src="../../../../assets/images/5.png" alt="Spundan" class="logo_img">
    </div>

    <ion-row *ngIf="activeEvent !== 'setPassword'">
      <ion-col size="12">
        <h3 *ngIf="activeEvent === 'sendOTP'">Enter your registered email.</h3>
        <h3 *ngIf="activeEvent === 'getOTP'">Enter an OTP.</h3>
        <ion-text *ngIf="activeEvent === 'getOTP'">OTP sent in your registered email.</ion-text>
      </ion-col>

      <ion-col size="12" *ngIf="activeEvent === 'sendOTP'" [formGroup]="getOTPForm" (keyup)="emailFormSubmit($event)">
        <div class="form-input">
          <ion-input labelPlacement="floating" fill="outline" formControlName="emailOrPhone" placeholder="Registered Email" type="email">
            <div slot="label">Email <ion-text color="danger">*</ion-text></div>
          </ion-input>
        </div>
        <ion-text color="danger" class="error_txt" *ngIf="getOTPForm.controls['emailOrPhone'].touched && getOTPForm.controls['emailOrPhone'].errors">
          {{ getOTPForm.controls['emailOrPhone'].value ? 'Please input a email' : 'Email is required.'}}
        </ion-text>
      </ion-col>

      <ion-col size="12" *ngIf="activeEvent === 'getOTP'">
        <div class="ion-margin-top">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig"></ng-otp-input>
        </div>

        <ion-text color="danger" class="error_txt" *ngIf="otpCtrl.touched && otpCtrl.errors">
          {{ otpCtrl.value ? 'Please input a valid OTP' : 'OTP is required.'}}
        </ion-text>
      </ion-col>

      <ion-col size="12" class="ion-margin-vertical">
        <ion-button mode="md" type="button" class="submitBtn" [disabled]="getOTPForm.invalid || isInProgress" *ngIf="activeEvent === 'sendOTP'" (click)="getOtp()" expand="full" shape="round">Get OTP</ion-button>
        <ion-button mode="md" type="button" class="submitBtn" [disabled]="otpCtrl.invalid || isInProgress" *ngIf="activeEvent === 'getOTP'" (click)="verifyOtp()" expand="full" shape="round">Verify OTP</ion-button>
      </ion-col>
    </ion-row>

    <form [formGroup]="passwordForm" *ngIf="activeEvent === 'setPassword'" (keydown)="passwordFormSubmit($event)">
      <ion-grid>
        <ion-row class="row_one">
          <ion-col size="12" sizeSm="6">
            <div class="form-input">
              <ion-input labelPlacement="floating" fill="outline" class="password_input" formControlName="password" placeholder="Password" [type]="showPassword ? 'text' : 'password'">
                <div slot="label">New Password <ion-text color="danger">*</ion-text></div>
              </ion-input>
    
              <div class="toggleBtn">
                <ion-button mode="md" slot="end" fill="clear" (click)="showPassword = !showPassword">
                  <ion-icon name="eye-outline" *ngIf="showPassword"></ion-icon>
                  <ion-icon name="eye-off-outline" *ngIf="!showPassword"></ion-icon>
                </ion-button>
              </div>
            </div>
            <ion-text color="danger" class="error_txt" *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors">
              {{passwordForm.controls['password'].value ? 'Please enter a valid password.' : 'Password is required'}}
            </ion-text>
          </ion-col>
  
          <ion-col size="12">
            <div class="form-input">
              <ion-input labelPlacement="floating" fill="outline" class="password_input" formControlName="confirmPassword" placeholder="Confirm password" [type]="showConfigPassword ? 'text' : 'password'">
                <div slot="label">Confirm Password <ion-text color="danger">*</ion-text></div>
              </ion-input>
    
              <div class="toggleBtn">
                <ion-button mode="md" slot="end" fill="clear" (click)="showConfigPassword = !showConfigPassword">
                  <ion-icon name="eye-outline" *ngIf="showConfigPassword"></ion-icon>
                  <ion-icon name="eye-off-outline" *ngIf="!showConfigPassword"></ion-icon>
                </ion-button>
              </div>
            </div>
            <ion-text color="danger" class="error_txt" *ngIf="passwordForm.controls['confirmPassword'].touched && passwordForm.controls['confirmPassword'].errors">
              {{passwordForm.controls['confirmPassword'].value ? 'Enter a valid password.' : 'Please enter confirm password.'}}
            </ion-text>
            <ion-text color="danger" class="error_txt" *ngIf="!isSamePassword()">
              {{'Password didn\'t match. Please match the password.'}}
            </ion-text>
          </ion-col>
          <ion-col size="12" class="ion-margin-vertical">
            <ion-button mode="md" type="submit" class="submitBtn" [disabled]="passwordForm.invalid || isInProgress" (click)="setPassword()" expand="full" shape="round">Set Password</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </div>
</ion-content>
