.container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 100%;
}


.header-toolbar {
    --ion-toolbar-background: rgb(255, 106, 0);
    --ion-color-base: black;
}
.attendance_Card{
    margin-inline: 5px;

    & ion-card-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        background-color: var(--ion-color-light-tint);
    }

    & .sort_desc {
        & ion-text{color: var(--ion-color-dark-tint); font-size: 0.9rem;}
        & ion-label{color: var(--color-blue-gray); font-size: 1rem;}
    }
}

.stickyCalender {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.btn_group{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
.flex_div_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: -webkit-fill-available;
    pointer-events: none;
}