ion-header {
    & ion-title {
        & span {font-size: 1rem;}
        & p{color: var(--ion-color-medium, #878668); font-size: 0.7em;}
    }
    & .toggleview {
        background-color: #dfe6f9;
        border-radius: 50px;
        align-self: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 3px #dfe6f9;
        animation: shade 0.5s linear 0.2s both infinite alternate;
        & ion-button {
            min-height: 30px;
            margin: 0;
            --padding-start: 16px;
            --padding-end: 13px;
        }
    }
}
.container {min-height: calc(100% - var(--offset-bottom));}

.stickyTab{
    position: sticky;
    top: 0;
    background-color: var(--ion-color-light, #edf2ff);
    z-index: 1;
}
.topSegment {
    /* box-shadow: 0 4px 10px -5px var(--ion-color-primary); */
    border-bottom: 2px solid var(--ion-color-shade);
    & .in-segment-color{
        font-weight: 500;
        padding-top: 5px;
        padding-bottom: 5px;
        &.segment-button-checked{
            --color-checked: var(--ion-color-primary);
            color: var(--color-checked);
        }
    }
}
ion-datetime {
    --background: var(--ion-color-light);
    // --background-rgb: 245, 235, 247;
    --wheel-highlight-background: rgb(154 149 254 / 34%);
    --wheel-fade-background-rgb: 237 242 255;
}
  
// ion-datetime::part(wheel-item) {color: rgb(106 98 255);}

ion-datetime::part(wheel-item active) {color: #fff;}

.cardItem{
    box-shadow: none;
    border-radius: 14px;
    & ion-card-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        background-color: #40a30f38;
    }
    &.Present ion-card-header {
        background-color: #58c95833;
        color: green;
        --background: #58c95833;
        --color: green;
        
        & ion-card-title, & ion-card-subtitle{
            --color: green;
            margin-top: 0;
        }
    }
    &.Absent ion-card-header, &.Leave ion-card-header {
        background-color: #ed576b57;
        color: var(--ion-color-danger-shade);
        --background: #ed576b57;
        --color: var(--ion-color-danger-shade);
        & ion-card-title, & ion-card-subtitle{
            --color: var(--ion-color-danger-shade);
            margin-top: 0;
        }
    }
    &.Holiday ion-card-header{
        background-color: rgb(99 112 255 / 21%);
        color: var(--ion-color-tertiary-shade);
        --background: rgb(99 112 255 / 21%);
        --color: var(--ion-color-danger-shade);
        & ion-card-title, & ion-card-subtitle{
            --color: var(--ion-color-tertiary-shade);
            margin-top: 0;
        }
    }
    &.Off ion-card-header{
        background-color: rgb(201 14 14 / 29%);
        color: var(--ion-color-tertiary-shade);
        --background: rgb(201 14 14 / 29%);
        --color: var(--ion-color-danger-shade);
        & ion-card-title, & ion-card-subtitle{
            --color: var(--ion-color-danger-shade);
            margin-top: 0;
        }
    }

    .expandBtn {
        --padding-top: 5px;
        --padding-start: 5px;
        --padding-end: 5px;
        --padding-bottom: 5px;
    }
    .leaveDate {
        margin-bottom: 10px;
        & ion-icon{margin-right: 5px; vertical-align: middle;}
    }
    .purpose{white-space: pre-line;}
}
.btnChip{min-width: 90px; font-size: 10px;}
.calendarControls {
    --padding-start: 5px;
    --inner-padding-end: 5px;
    & ion-label {font-weight: 600;}
}
circular-progress-bar {display: block; margin-inline: 0.5rem;}
.calendar_card {
    border-radius: 10px;
    box-shadow: none;
    margin-inline: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    & table {
        width: 100%;
        & tr {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin-bottom: 5px;
        }
        & td {
            display: flex;
            align-items: center;
            justify-content: center;
            & span {
                display: inline-flex;
                border-radius: 50%;
                padding: 5px;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                color: var(--color-blue-gray);
                font-weight: 600;
                
                &.active{color: #fff;}
                &.Present {background-color: green;}
                &.Absent, &.Leave {background-color: var(--ion-color-danger-shade);}
                &.Holiday {background-color: var(--ion-color-tertiary-shade);}
                &.Off{background-color: #ff9211;}
                &.Half{background-color: #695600;}


                // &.Present {
                //     background-color: #58c95833;
                //     color: green;
                // }
                // &.Absent, &.Leave {
                //     background-color: #ed576b57;
                //     color: var(--ion-color-danger-shade);
                // }
                // &.Holiday {
                //     background-color: rgb(99 112 255 / 21%);
                //     color: var(--ion-color-tertiary-shade);
                // }
                // &.Off{
                //     background-color: rgb(253 216 140 / 21%);
                //     color: var(--ion-color-dark-tint);
                // }
            }
        }
    }
}
.hints {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    & ion-label {
        display: inline-flex;
        gap: 5px;
        flex-basis: 29%;

        & .hintIcons.weekOff{color: #ff9211;}
        & .hintIcons.halfDay{color: #695600;}
    }
}
.calendarView ion-grid{
    margin: 10px; 
    & ion-col {display: grid;}
    & ion-item {--padding-start: 0; --inner-padding-end: 0px}
}

@keyframes shade {
    to{box-shadow: 0 0 0 #dfe6f9;}
}