ion-header {
    & .toggleview {
        background-color: var(--ion-color-light, #03296c);
        border-radius: 50px;
        align-self: center;
        padding: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        & ion-button {
            min-height: 30px;
            margin: 0;
            --padding-start: 13px;
            --padding-end: 13px;
        }
    }
}
.container {min-height: calc(100% - var(--offset-bottom));}
.dateBtn{
    --detail-icon-opacity: 0.8;
}
ion-datetime {
    --background: var(--ion-color-light);
    // --background-rgb: 245, 235, 247;
    --wheel-highlight-background: rgb(154 149 254 / 34%);
    --wheel-fade-background-rgb: 237 242 255;
}
  
// ion-datetime::part(wheel-item) {color: rgb(106 98 255);}

ion-datetime::part(wheel-item active) {color: #fff;}

.attendance_list {
    background-color: var(--ion-color-light, #f7f7f7);
}

.header-toolbar {
    --ion-toolbar-background: rgb(255, 106, 0);
    --ion-color-base: black;
}
.attendance_Card{
    margin-inline: 5px;

    & ion-card-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        background-color: var(--ion-color-light-tint);
    }

    & .sort_desc {
        & ion-text{color: var(--ion-color-dark-tint); font-size: 0.9rem;}
        & ion-label{color: var(--color-blue-gray); font-size: 1rem;}
    }
}

.stickyCalender {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.btn_group{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.flex_div_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: -webkit-fill-available;
    pointer-events: none;
}

.cardItem{
    box-shadow: none;
    border-radius: 14px;
    & ion-card-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        background-color: #40a30f38;
    }
    &.Present ion-card-header {
        background-color: #58c95833;
        color: green;
        --background: #58c95833;
        --color: green;
        
        & ion-card-title, & ion-card-subtitle{
            --color: green;
            margin-top: 0;
        }
    }
    &.Absent ion-card-header, &.Leave ion-card-header {
        background-color: #ed576b57;
        color: var(--ion-color-danger-shade);
        --background: #ed576b57;
        --color: var(--ion-color-danger-shade);
        & ion-card-title, & ion-card-subtitle{
            --color: var(--ion-color-danger-shade);
            margin-top: 0;
        }
    }
    &.Holiday ion-card-header{
        background-color: rgb(99 112 255 / 21%);
        color: var(--ion-color-tertiary-shade);
        --background: rgb(99 112 255 / 21%);
        --color: var(--ion-color-danger-shade);
        & ion-card-title, & ion-card-subtitle{
            --color: var(--ion-color-tertiary-shade);
            margin-top: 0;
        }
    }
    &.Off ion-card-header{
        background-color: rgb(201 14 14 / 29%);
        color: var(--ion-color-tertiary-shade);
        --background: rgb(201 14 14 / 29%);
        --color: var(--ion-color-danger-shade);
        & ion-card-title, & ion-card-subtitle{
            --color: var(--ion-color-danger-shade);
            margin-top: 0;
        }
    }

    .expandBtn {
        --padding-top: 5px;
        --padding-start: 5px;
        --padding-end: 5px;
        --padding-bottom: 5px;
    }
    .leaveDate {
        margin-bottom: 10px;
        & ion-icon{margin-right: 5px; vertical-align: middle;}
    }
    .purpose{white-space: pre-line;}
}
.calendarControls {
    --padding-start: 5px;
    --inner-padding-end: 5px;
    & ion-label {font-weight: 600;}
}
.date_avatar {
    background-color: var(--ion-color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    & ion-text{
        color: var(--ion-color-tertiary-contrast);
        font-weight: 500;
    }
}
.calendar_card {
    border-radius: 10px;
    box-shadow: none;
    margin-inline: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    & table {
        width: 100%;
        & tr {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin-bottom: 5px;
        }
        & td {
            display: flex;
            align-items: center;
            justify-content: center;
            & span {
                display: inline-flex;
                border-radius: 50%;
                padding: 5px;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                color: var(--color-blue-gray);
                font-weight: 600;
                
                &.Present {
                    background-color: #58c95833;
                    color: green;
                }
                &.Absent, &.Leave {
                    background-color: #ed576b57;
                    color: var(--ion-color-danger-shade);
                }
                &.Holiday {
                    background-color: rgb(99 112 255 / 21%);
                    color: var(--ion-color-tertiary-shade);
                }
                &.Off{
                    background-color: rgb(253 216 140 / 21%);
                    color: var(--ion-color-dark-tint);
                }
            }
        }
    }
}