
ion-modal {
    --height: 80%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal ion-toolbar {
    --background: rgb(34, 102, 247);
    --color: white;
}
.rounded-rectangle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 { font-size: 16px; font-weight: 600; margin: auto 0 10px 0; }
    ion-button { height: 33px; font-size: 15px; }
}

.status-pending {
    color: orange;
}
.status-accept {
    color: green;
}
.status-reject {
    color: red;
}

.ion-padding-bottom {
    --padding-bottom: var(--ion-padding, 0);
    padding-bottom: var(--ion-padding, 10px);
}
  