/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "swiper/scss";
@import "@ionic/angular/css/ionic-swiper";


.custom_header {
    & ion-toolbar{
        --ion-toolbar-background: rgb(255, 106, 0);
        --ion-color-base: #fff;
    }
}

ion-header {
    & .logo_img ion-img {
        object-fit: contain;
    }
    &.header-md{
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.02), 0 4px 5px -6px rgba(0, 0, 0, 0.04), 0 1px 10px 5px rgba(0, 0, 0, 0.02);
    }
}
.form-input {
    position: relative;
    width: 100%;

    & .password_input input,
    & .flex_input input {
        padding-right: 50px;
        // max-width: calc(100% - 50px);
    }
    
    & .toggleBtn {
        position: absolute;
        right: 2px;
        z-index: 2;
        top: 0px;
        bottom: 0px;
        width: 50px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        & ion-note, ion-text {
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            font-size: 80%;
        }
    }
}
ion-input, ion-select {
    &.input-fill-solid, &.select-fill-solid {
        --background: #f9fafd;
        --border-color: #e7e5e5;

        &.has-focus{
            --background: #ededed;
        }
    }
}
.error_txt {
    display: block;
    margin: 5px;
    font-size: clamp(10px, 0.75rem, 12px);
    font-weight: 500;
}
.noRipple{--ripple-color: transparent}
.noBg {--background: transparent; --background-color: transparent;}

.sc-ion-loading-md-h {
    &.fullHide {
        --backdrop-opacity: 1;
        --background: #fff;
        --max-width: 100%;

        & ion-backdrop {background-color: #fff;}
        & .loading-wrapper{box-shadow: none;}
        & ion-spinner {width: 5rem; height: 5rem;}
    }
}
.btn_item {--detail-icon-opacity: 0.6;}

// otp input style
.otp_input_container {
    justify-content: center;
    display: flex;
    align-items: center;
}

.action_week_btn{--ripple-color: var(--ion-color-primary);}

.alert-button {
    &.sc-ion-alert-ios, &.sc-ion-alert-md {
        &.deleteBtn{
            color: var(--ion-color-danger);
        }
    }
}
.alert-sub-title{&.sc-ion-alert-md{margin-top: 10px;}}

.sc-ion-buttons-md-h.datemodal_btns {
    column-gap: 10px;
    & ion-button {min-width: 90px;}
}

.emptyDiv {
    display: flex;
    height: 100%;
    min-height: calc(100vh - 200px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.cardActions {
    padding-inline: 10px;
    padding-bottom: 10px;
}
.nameAvatar {
    display: flex;
    justify-content: center;
    background-color: var(--ion-color-primary);
    align-items: center;
    color: var(--ion-color-primary-contrast);
    font-size: 18px;
    font-weight: 500;
}

// alert
ion-alert{
    --ion-text-color: #3b4557;
    .alert-button {
        // &.ion-activatable{}
        // &.alert-button-role-cancel{}
        &.cancelBtn, &.deleteBtn{font-weight: 600;}
    }
}

// attendance calendar
ion-datetime {
    &.attendance_calendar{
        &::part(calendar-day){
            // color: #da5296;
            color: #000;
            background-color: red;
        }
        & ::part(calendar-day today) {
          color: #fff;
          background-color: #8462d1;
        }
        &::part(calendar-day):focus {
            background-color: rgb(154 209 98 / 0.2);
            box-shadow: 0px 0px 0px 4px rgb(154 209 98 / 0.2);
        }
        &.md::part(calendar-day active),
        &.md::part(calendar-day active):focus,
        &.ios::part(calendar-day active),
        &.ios::part(calendar-day active):focus {
            // border-color: #8462d1;
            // background-color: #8462d1;
            // color: #333;
            border-color: initial;
            background-color: initial;
            color: initial;
        }
        &.md::part(calendar-day today),
        &.ios::part(calendar-day today) {
            border-color: #8462d1;
            background-color: #8462d1;
            color: #333;
        }
    }
}
ion-skeleton-text {
    &:not(.inherit_shap){
        --border-radius: 9999px;
    }
    // --background: rgba(188, 0, 255, 0.065);
    // --background-rgb: 188, 0, 255;
}
ion-backdrop{
    opacity: 0.4;
}

.profileUpdationPopup{
    --width: 100%;
    --max-width: calc(100% - 50px);
    --backdrop-opacity: 0.5
}
ion-popover {
    &.filter {
        --width: initial;
        --width: fit-content;
        // --backdrop-opacity: 0.02
    }
}