/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "swiper/scss";
@import "@ionic/angular/css/ionic-swiper";


.custom_header {
    & ion-toolbar{
        --ion-toolbar-background: rgb(255, 106, 0);
        --ion-color-base: #fff;
    }
}

ion-header {
    & .logo_img ion-img {
        object-fit: contain;
    }
}
.form-input {
    position: relative;
    width: 100%;

    & .password_input input,
    & .flex_input input {
        padding-right: 35px;
    }

    & .toggleBtn {
        position: absolute;
        right: 2px;
        z-index: 2;
        top: 2px;
        bottom: 2px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.error_txt {
    display: block;
    margin: 5px;
    font-size: clamp(10px, 0.75rem, 12px);
}
.noRipple{--ripple-color: transparent}
.noBg {--background: transparent; --background-color: transparent;}

.sc-ion-loading-md-h {
    &.fullHide {
        --backdrop-opacity: 1;
        --background: #fff;
        --max-width: 100%;

        & ion-backdrop {background-color: #fff;}
        & .loading-wrapper{box-shadow: none;}
        & ion-spinner {width: 5rem; height: 5rem;}
    }
}
.btn_item {--detail-icon-opacity: 0.6;}

// otp input style
.otp_input_container {
    justify-content: center;
    display: flex;
    align-items: center;
}

.action_week_btn{--ripple-color: var(--ion-color-primary);}

.alert-button {
    &.sc-ion-alert-ios, &.sc-ion-alert-md {
        &.deleteBtn{
            color: var(--ion-color-danger);
        }
    }
}
.alert-sub-title{&.sc-ion-alert-md{margin-top: 10px;}}

.sc-ion-buttons-md-h.datemodal_btns {
    column-gap: 10px;
    & ion-button {min-width: 90px;}
}