<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button mode="md" slot="start" (click)="closeModel()" fill="clear" [ariaDisabled]="true" class="noRipple noBg">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>{{action === 'add' ? 'Add' : 'Update'}} SubCategory</ion-title>
    <ion-thumbnail slot="end" class="logo_img ion-margin-end">
      <ion-img src="../../../assets/icon/no_bg_logo.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
    <!-- <ion-progress-bar type="indeterminate" *ngIf="!isDataLoaded"></ion-progress-bar> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="subCategoryForm" class="ion-padding">
    <ion-item [detail]="false"> 
        <ion-input class="ion-margin-bottom" fill="solid" labelPlacement="floating" formControlName="subCategory" placeholder="Enter subCategory Name" type="text" inputmode="text" enterkeyhint="next" autocomplete="name" autofocus="true">
          <div slot="label">subCategory Name <ion-text color="danger">*</ion-text></div>
        </ion-input>
        <ion-icon slot="end" aria-label="Title is required." title="Title is required." name="alert-circle" color="danger" aria-hidden="true" *ngIf="subCategoryForm.controls['subCategory'].touched && subCategoryForm.controls['subCategory'].errors"></ion-icon>
    </ion-item>
  </form>
  <ion-button mode="ios" type="submit" class="submitBtn" [disabled]="subCategoryForm.invalid || isInProgress" color="primary"  (click)="submit()" expand="full" shape="round">
    {{action | titlecase}} SubCategory
  </ion-button>
</ion-content>
