.ion-padding {
    --padding-top: var(--ion-padding, 0px); 
    --padding-bottom: var(--ion-padding, 0px); 
    padding-bottom: var(--ion-padding, 5px);
    --padding-end: var(--ion-padding, 45px);
    padding-top: var(--ion-padding, 10px);
}