ion-header {
    & .toggleview {
        background-color: #dfe6f9;
        border-radius: 50px;
        align-self: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 3px #dfe6f9;
        animation: shade 0.5s linear 0.2s both infinite alternate;
        & ion-button {
            min-height: 30px;
            margin: 0;
            --padding-start: 16px;
            --padding-end: 13px;
        }
    }
}
.topSegment {
    & .in-segment-color{
        font-weight: 500;
        padding-top: 5px;
        padding-bottom: 5px;
        &.segment-button-checked{
            --color-checked: var(--ion-color-primary);
            color: var(--color-checked);
        }
    }
}
circular-progress-bar {display: block;}

.attendance_Card{
    margin-inline: 5px;

    & ion-card-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        background-color: var(--ion-color-light-tint);
    }

    & .sort_desc {
        & ion-text{color: var(--ion-color-dark-tint); font-size: 0.9rem;}
        & ion-label{color: var(--color-blue-gray); font-size: 1rem;}
    }
    .update_btn{text-transform: capitalize;}
}

form {
    color: var(--ion-color-dark);
    .form_row {
        row-gap: 10px;
        margin-top: 5px;
        padding-top: 20px;
        border-top: 1px solid var(--ion-color-dark);
    }

    ion-button {
        min-height: 50px;
        font-size: 1.1rem;
    }
    h6 {
        font-size: 1rem;
        margin-left: 5px;
    }
}
.stickyCalender {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.btn_group{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;

    ion-button {text-transform: capitalize;}
}

.cardItem{
    box-shadow: none;
    border-radius: 14px;
    & ion-card-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        background-color: #40a30f38;
    }
    &.Present ion-card-header {
        background-color: #58c95833;
        color: green;
        --background: #58c95833;
        --color: green;
        
        & ion-card-title, & ion-card-subtitle{
            --color: green;
            margin-top: 0;
        }
    }
    &.Absent ion-card-header, &.Leave ion-card-header {
        background-color: #ed576b57;
        color: var(--ion-color-danger-shade);
        --background: #ed576b57;
        --color: var(--ion-color-danger-shade);
        & ion-card-title, & ion-card-subtitle{
            --color: var(--ion-color-danger-shade);
            margin-top: 0;
        }
    }
    &.Holiday ion-card-header{
        background-color: rgb(99 112 255 / 21%);
        color: var(--ion-color-tertiary-shade);
        --background: rgb(99 112 255 / 21%);
        --color: var(--ion-color-danger-shade);
        & ion-card-title, & ion-card-subtitle{
            --color: var(--ion-color-tertiary-shade);
            margin-top: 0;
        }
    }
    &.Off ion-card-header{
        background-color: rgb(201 14 14 / 29%);
        color: var(--ion-color-tertiary-shade);
        --background: rgb(201 14 14 / 29%);
        --color: var(--ion-color-danger-shade);
        & ion-card-title, & ion-card-subtitle{
            --color: var(--ion-color-danger-shade);
            margin-top: 0;
        }
    }

    .expandBtn {
        --padding-top: 5px;
        --padding-start: 5px;
        --padding-end: 5px;
        --padding-bottom: 5px;
    }

    .leaveDate {
        margin-bottom: 10px;
        & ion-icon{margin-right: 5px; vertical-align: middle;}
    }
    .purpose{white-space: pre-line;}
}

.item1 {--detail-icon-opacity: 0.8;}
.statusCard{
    height: calc(100% - 48px);
    border-radius: 16px;
    box-shadow: none;
    // &.ion-color-danger{box-shadow: rgba(240, 0, 0, 0.52) 0px 4px 16px;}
    // &.ion-color-success{box-shadow: #278d4fd4 0px 4px 16px;}
}
.btnChip{min-width: 111px;}

.gasture{
    position: absolute;
    // box-shadow: 0 0 100px 400px rgba(0,0,0,0.5);
    right: 0;
    left: auto;
    top: 0;
    padding-right: 50px;
    display: flex;
    align-items: flex-start;
    background-color: #1d1c1c85;

    & .arrow {
        width: 5px;
        height: 5px;
        border: 10px solid transparent;
        border-left-color: #fff;
        margin-top: 15px;
    }
    &::before {
        position: fixed;
        content: "";
        height: 100vh;
        width: 100vw;
        background-color: #333333c7;
        z-index: -1;
        bottom: 0;
        right: 0;
    }
}
.calendarControls {
    --padding-start: 5px;
    --inner-padding-end: 5px;
    & ion-label {font-weight: 600;}
}
.date_avatar {
    background-color: var(--ion-color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    & ion-text{
        color: var(--ion-color-tertiary-contrast);
        font-weight: 500;
    }
}
.calendar_card {
    border-radius: 10px;
    box-shadow: none;
    margin-inline: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    & table {
        width: 100%;
        & tr {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin-bottom: 5px;
        }
        & td {
            display: flex;
            align-items: center;
            justify-content: center;
            & span {
                display: inline-flex;
                border-radius: 50%;
                padding: 5px;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                color: var(--color-blue-gray);
                font-weight: 600;
                
                &.active{color: #fff;}
                &.Present {background-color: green;}
                &.Absent, &.Leave {background-color: var(--ion-color-danger-shade);}
                &.Holiday {background-color: var(--ion-color-tertiary-shade);}
                &.Off{background-color: #ff9211;}
                &.Half{background-color: #695600;}
            }
        }
    }
}
.hints {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    & ion-label {
        display: inline-flex;
        gap: 5px;
        flex-basis: 29%;

        & .hintIcons.weekOff{color: #ff9211;}
        & .hintIcons.halfDay{color: #695600;}
    }
}
.calendarView ion-grid{
    margin: 10px; 
    & ion-col {display: grid;}
    & ion-item {--padding-start: 0; --inner-padding-end: 0px}
}

@keyframes shade {
    to{box-shadow: 0 0 0 #dfe6f9;}
}