<ion-header [translucent]="true" mode="md" (click)="onMouseMove($event)">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button mode="md" fill="clear" [routerDirection]="'back'" (click)="goBack()" class="noBg noRipple">
        <ion-icon name="chevron-back-outline" aria-hidden="true" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><span *ngIf="employee">{{employee.firstName | titlecase}} {{employee.lastName || '' | titlecase}}</span>
      <span *ngIf="!employee">Employee Attendance</span></ion-title>
    <ion-thumbnail slot="end" class="logo_img ion-margin-end">
      <ion-img src="../../../assets/icon/hr-atlas_logo_2.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (click)="onMouseMove($event)">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid style="background-color: #fff;">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="item1 ion-margin-top" [detail]="false" [mode]="'ios'">
          <ion-label class="">Status of the month</ion-label>
          <ion-button [fill]="'clear'" [size]="'small'" [shape]="'round'" color="tertiary" slot="end" (click)="showCalendar = !showCalendar">
            <ion-icon [name]="!showCalendar ? 'calendar' : 'calendar-number-outline'" slot="icon-only" color="tirtiary"></ion-icon>
          </ion-button>
          <div *ngIf="isFirst" class="gasture">
            <ion-card class="ion-no-margin">
              <ion-card-content>
                <p style="margin: 0;">Tap of the icon to open calendar view.</p>
              </ion-card-content>
            </ion-card>
            <span class="arrow"></span>
          </div>
        </ion-item>
      </ion-col>
      <ion-col class="ion-text-center" size="6">
        <ion-card mode="ios" [color]="'success'" class="statusCard">
          <ion-card-header>
            <ion-text>days</ion-text>
            <ion-card-title>{{presents}}<small>/{{dateList.length}}</small></ion-card-title>
            <ion-card-subtitle>Present</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col class="ion-text-center" size="6">
        <ion-card mode="ios" [color]="'danger'" class="statusCard">
          <ion-card-header>
            <ion-text>days</ion-text>
            <ion-card-title>{{absent}}<small>/{{dateList.length}}</small></ion-card-title>
            <ion-card-subtitle>Absent</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="btn_group {{!isFirst ? 'stickyCalender' : ''}}" *ngIf="employee">
    <ion-button mode="md" color="primary" shape="round" type="button" (click)="dateModal = true" fill="solid" mode="md" [strong]="true">
      {{getMonthYear().trim() != '' ? getMonthYear() : 'Select Month'}}
      <ion-icon name="chevron-down-outline" aria-hidden="true" slot="end"></ion-icon>
    </ion-button>
    <!-- <ion-button (click)="showCalendar = true" mode="md" [strong]="true" [shape]="'round'" color="secondary" fill="solid">Calendar View</ion-button> -->
  </div>

  <ion-modal [isOpen]="dateModal" [initialBreakpoint]="0.5" mode="md" [showBackdrop]="true" (didDismiss)="dateModal = false">
    <ng-template>
      <ion-content>
        <ion-datetime presentation="month-year" size="cover" [(ngModel)]="attendanceDate" mode="md" #yearMonth (ionChange)="selectDate($any($event));">
          <ion-label slot="title">Select Year and Month</ion-label>
          <ion-buttons slot="buttons">
            <ion-button mode="md" color="danger" (click)="yearMonth.cancel(); dateModal = false;">Cancel</ion-button>
            <ion-button mode="md" color="primary" (click)="yearMonth.confirm(); dateModal = false;">Done</ion-button>
          </ion-buttons>
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="showCalendar" [showBackdrop]="true" [initialBreakpoint]="0.6" (didDismiss)="showCalendar = false" [backdropDismiss]="true">
    <ng-template>
      <ion-content>
        <ion-datetime presentation="date" size="cover" mode="md" [highlightedDates]="highlightedDates" class="attendance_calendar"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

    <!-- ------------ attendance list ----------------- -->
    <div class="attendance_list" [hidden]="!employee">
      <!-- <ion-card mode="ios" color="light" *ngIf="employee">
        <ion-item [lines]="'none'" [detail]="false">
          <ion-label>{{employee.firstName | titlecase}} {{employee.lastName || '' | titlecase}}</ion-label>
          <ion-button slot="end" mode="md" fill="clear" [strong]="true" aria-label="Chnage employee" color="primary" (click)="reseteEmployee()">
            <ion-icon name="pencil-outline" slot="icon-only" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card> -->
      <!-- <div class="ion-text-center" *ngIf="attendanceLoaded && attendanceList.length < 1">
        <ion-label>Attendance not available of this month.</ion-label>
      </div> -->
      <!-- <ion-item *ngFor="let listItem of attendanceDateList">
        <ion-label>{{listItem.created_date | date:'shortTime'}}</ion-label>
      </ion-item> -->
      <!-- <ng-container *ngFor="let attendanceItem of attendanceList; index as i;">
        <ion-card class="attendance_Card" mode="md">
          <ion-card-header (click)="collapseCard(i)">
            <ion-card-title>{{attendanceItem.created_date | date}}</ion-card-title>
            <ion-text class="attendance_status" [color]="getStatus(attendanceItem.status)">{{attendanceItem.status}}</ion-text>
          </ion-card-header>
          <ion-card-content *ngIf="expandedCards.includes(i)">
            <ion-row class="sort_desc ion-margin-top" *ngIf="attendanceItem.status === 'Present' || attendanceItem.status === 'Absent'">
              <ion-col size="6">
                <ion-text>In Time</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>{{attendanceItem.clockIn | date:'mediumTime'}}</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-text>Out Time</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label *ngIf="!attendanceItem.clockOut">--</ion-label>
                <ion-label *ngIf="attendanceItem.clockOut">{{attendanceItem.clockOut | date:'mediumTime'}}</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-text>Work Duration <small>(HH:MM:SS)</small></ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>{{attendanceItem.workingTime ? attendanceItem.workingTime.slice(0, 7) : '--'}}</ion-label>
              </ion-col>
            </ion-row>

            <ion-button type="button" mode="md" color="primary" fill="solid" [strong]="true" class="ion-margin-top update_btn" *ngIf="!isWeekOff(attendanceItem.created_date) && openUpdatForm[i] == false" (click)="openForm(attendanceItem, i)">
              <ion-label>Update Attendance</ion-label>
            </ion-button>
            <form [formGroup]="attendanceForm" *ngIf="openUpdatForm[i] === true" class="ion-padding-top">
              <h6>Fill the form</h6>
              <ion-row class="form_row">
                <ion-col size="12">
                  <div class="form-input">
                    <ion-select mode="md" labelPlacement="floating" formControlName="status" fill="outline" [interface]="'action-sheet'" [compareWith]="compareStatus" (ionChange)="selectStatus($event)">
                      <div slot="label">Status <ion-text color="danger">*</ion-text></div>
                      <ion-select-option value="Present">Present</ion-select-option>
                      <ion-select-option value="Absent">Absent</ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>

                <ion-col size="12" sizeMd="6" *ngIf="attendanceForm.controls['status'].value === 'Present'">
                  <div class="form-input" [id]="'clockInModal'">
                    <ion-input labelPlacement="floating" fill="outline" (ionFocus)="modal.present()" [value]="getFormDate('clockIn') | date:'shortTime'" placeholder="In Time" [readonly]="true">
                      <div slot="label">Clock In Time <ion-text color="danger">*</ion-text></div>
                    </ion-input>
                    <div class="toggleBtn">
                      <ion-button mode="md" slot="end" fill="clear" color="medium">
                        <ion-icon name="time-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </div>
                  <ion-text color="danger" class="error_txt" *ngIf="attendanceForm.controls['clockIn'].touched && attendanceForm.controls['clockIn'].errors"
                  >Clock In Time is required</ion-text>
                </ion-col>
      
                <ion-col size="12" sizeMd="6" *ngIf="attendanceForm.controls['status'].value === 'Present'">
                  <div class="form-input" [id]="'clockOutModal'">
                    <ion-input labelPlacement="floating" fill="outline" (ionFocus)="modal2.present()" [value]="getFormDate('clockOut') | date:'shortTime'" placeholder="Out Time" [readonly]="true">
                      <div slot="label">Clock Out Time <ion-text color="danger">*</ion-text></div>
                    </ion-input>
                    <div class="toggleBtn">
                      <ion-button mode="md" slot="end" fill="clear" color="medium">
                        <ion-icon name="time-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </div>
                  <ion-text color="danger" class="error_txt" *ngIf="attendanceForm.controls['clockOut'].touched && attendanceForm.controls['clockOut'].errors"
                  >Clock Out time is required</ion-text>
                </ion-col>

                <ion-col size="6">
                  <ion-button mode="md" color="danger" shape="round" fill="solid" expand="full" [strong]="true" (click)="closeForm()">Cancel</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button mode="md" color="primary" shape="round" expand="full" [disabled]="attendanceForm.invalid" fill="solid" [strong]="true" (click)="submitForm()">Save</ion-button>
                </ion-col>
              </ion-row>


              <ion-modal [trigger]="'clockInModal'" #modal [initialBreakpoint]="0.5" [showBackdrop]="true" [keepContentsMounted]="true">
                <ng-template>
                  <ion-content>
                    <ion-datetime [presentation]="'time'" mode="md" [size]="'cover'" (ionChange)="setClockInTime($any($event))" #clockIn>
                      <ion-label slot="title" >Clock In Time</ion-label>
                      <ion-buttons slot="buttons">
                        <ion-button mode="md" color="danger" (click)="modal.dismiss(clockIn.cancel(), 'cancel')">Cancel</ion-button>
                        <ion-button mode="md" color="primary" (click)="modal.dismiss(clockIn.confirm(), 'confirm')">Set</ion-button>
                      </ion-buttons>
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-modal>

              <ion-modal [trigger]="'clockOutModal'" #modal2 [initialBreakpoint]="0.5" [showBackdrop]="true" [keepContentsMounted]="true">
                <ng-template>
                  <ion-content>
                    <ion-datetime [presentation]="'time'" mode="md" [size]="'cover'" (ionChange)="setClockOutTime($any($event))" #clockOut>
                      <ion-label slot="title" >Clock Out Time</ion-label>
                      <ion-buttons slot="buttons">
                        <ion-button mode="md" color="danger" (click)="modal2.dismiss(clockOut.cancel(), 'cancel')">Cancel</ion-button>
                        <ion-button mode="md" color="primary" (click)="modal2.dismiss(clockOut.confirm(), 'confirm')">Set</ion-button>
                      </ion-buttons>
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </form>
          </ion-card-content>
        </ion-card>
      </ng-container> -->


      <ng-container *ngFor="let item of dateList; index as a;">
        <ion-card [mode]="'md'" class="cardItem {{item.status}}">
          <ion-card-header (click)="toggleCard(item)">
            <div>
              <ion-card-title>{{item.created_date | date:'EEEE, dd MMM'}}</ion-card-title>
              <ion-card-subtitle>{{item.status}}</ion-card-subtitle>
            </div>
            
            <ion-button [shape]="'round'" [mode]="'ios'" [size]="'small'" [fill]="'clear'" [color]="'medium'" *ngIf="item.attendanceData != null || item.leaveData != null" class="expandBtn">
              <ion-icon [name]="item.open_form ? 'chevron-up-outline' : 'chevron-down-outline'" slot="icon-only" [size]="'small'"></ion-icon>
            </ion-button>

            <ion-chip color="tertiary" *ngIf="!isWeekOff(item.created_date) && item.status === 'Absent'" (click)="updateAttendance($event, item.attendanceData)">Update</ion-chip>
          </ion-card-header>
          <ion-card-content *ngIf="item.open_form">
            <ion-row class="sort_desc ion-margin-top" *ngIf="item.attendanceData != null || item.leaveData != null">
              <ion-col size="6">
                <ion-text>In Time</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>{{item.attendanceData.clockIn | date:'mediumTime'}}</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-text>Out Time</ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label *ngIf="!item.attendanceData.clockOut">--</ion-label>
                <ion-label *ngIf="item.attendanceData.clockOut">{{item.attendanceData.clockOut | date:'mediumTime'}}</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-text>Work Duration <small>(HH:MM:SS)</small></ion-text>
              </ion-col>
              <ion-col size="6">
                <ion-label>{{item.attendanceData.workingTime ? item.attendanceData.workingTime.slice(0, 7) : '--'}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <div class="ion-text-center" [hidden]="attendanceLoaded">
        <ion-spinner [name]="'circular'" color="primary"></ion-spinner>
      </div>
    </div>
    
    <ion-infinite-scroll #infiniteScroll (ionInfinite)="moreAttendance ? loadData($any($event)) : ''" [position]="'bottom'" *ngIf="employee">
      <ion-infinite-scroll-content *ngIf="moreAttendance" loadingSpinner="circular" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
