.empDetail{
    display: grid;
    gap: 7px;
    margin: 15px 0;
    ion-text {
        font-size: 0.8em;
    }
}
app-employee-payroll{
    min-height: calc(100% - var(--offset-bottom, 10px));
    display: flex;
    flex-direction: column;
}