.text-end{text-align: end;}

.emp_avatar {
    margin: 15px 15px 15px 0;
    border-radius: 50%;
}

.emp_name {font-size: 1.2rem; line-height: 1.3; white-space: break-spaces;}

.tab_segement{
    --ripple-color: var(--ion-color-primary);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;    
}

.form-input {margin-bottom: 10px;}

.btn-group {
    justify-content: end;
    column-gap: 10px;

    & ion-button {min-width: 30%;}
}

.sum_earning_item{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--ion-color-primary);
    & ion-item{font-weight: 600;}
    & .sum_earnings {
        background: #fff;
        color: var(--ion-color-primary);
        padding: 7px 16px;
        border-radius: 2rem;
        line-height: 1.3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}