<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button mode="md" fill="clear" [routerDirection]="'back'" (click)="employee ? reseteEmployee() : goBack()" class="noBg noRipple">
        <ion-icon name="chevron-back-outline" aria-hidden="true" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [size]="employee ? 'small' : ''">
      <span>Payroll Setup</span>
      <p class="ion-no-margin" *ngIf="employee"><ion-note color="tertiary"><small>{{employee.firstName + ' ' + employee.lastName}}</small></ion-note></p>
    </ion-title>
    <ion-thumbnail slot="end" class="logo_img ion-margin-end">
      <ion-img src="../../../assets/icon/hr-atlas_48.png" alt="HR-Atlas"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="!employee && employeeId.trim() === ''">
    <app-employees [isChecklist]="true" [isPayroll]="true" (employee)="selectEmploye($event)"></app-employees>
  </ng-container>

  <!-- <ion-card mode="ios" color="light" *ngIf="employee">
    <ion-item [lines]="'none'" [detail]="false">
      <div class="empDetail">
        <ion-label>{{employee.firstName | titlecase}} {{employee.lastName || '' | titlecase}}</ion-label>
        <ion-text>ID: {{employee.employeeId}}</ion-text>
      </div>
      <ion-button slot="end" mode="md" fill="clear" [strong]="true" aria-label="Chnage employee" color="danger" (click)="reseteEmployee()">
        <ion-icon name="pencil-outline" slot="icon-only" aria-hidden="true"></ion-icon>
        Change
      </ion-button>
    </ion-item>
  </ion-card> -->

  <app-employee-payroll *ngIf="employee" [employee]="employee" (createSalary)="formSubmited($event)"></app-employee-payroll>

</ion-content>
